[2021-03-29 15:04] ravichdev opened #3 "Patterns/template in Gutenberg"
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jwold](https://github.com/jwold)**
_Wednesday Mar 18, 2020 at 17:03 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/107_

----

## Feature description

We also explored a template mode, where we'v

[2021-03-29 15:04] ravichdev commented on #3
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Wednesday Apr 01, 2020 at 14:30 GMT_

----

Until this is merged into Core, it's likely not something that should be picked up, so we'll push back to post-MVP.

[2021-03-29 15:04] ravichdev commented on #3
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Friday Sep 25, 2020 at 18:47 GMT_

----

Review #95 and #376 for additional AC

[2021-03-29 15:04] ravichdev commented on #3
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Thursday Mar 11, 2021 at 22:25 GMT_

----

Cover Pattern
1. Image (Check license)
2. header
3. subline text
4. button

![image](https://user-images.githubusercontent.com/5874851/110863305

[2021-03-29 15:04] ravichdev commented on #3
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Friday Mar 12, 2021 at 16:36 GMT_

----

@dawidmlynarz to review the demo content for patterns we want. Ideally we want all demo content as patterns and we may eventually remove demo cont

[2021-03-29 15:04] ravichdev commented on #3
<a href="https://github.com/dawidmlynarz"><img src="https://avatars.githubusercontent.com/u/8026823?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dawidmlynarz](https://github.com/dawidmlynarz)**
_Thursday Mar 25, 2021 at 13:00 GMT_

----

Here is my exploration of possible patterns that we can build using existing Material Blocks. They are focused on building landin

[2021-04-01 17:47] emeaguiar opened #4 "Update theme to follow plugin's code standards"
## Feature description

With the merge of the theme into the repo several errors are displayed by the Sniffer, these need to be updated to pass the checks, example:

[code]

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changel

[2021-04-01 17:58] ravichdev commented on #4
@emeaguiar Which command are you using to run the check ? The theme has a different phpcs standard file, the command for the theme should be `phpcs ./theme --standard=phpcs-theme.xml`. See https://github.com/material-components/material-design-for-wordpress/blob/develop/composer.json#L42

[2021-04-01 18:05] ravichdev opened #5 "Block: Extend curated card collection to support Custom Post Types"
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jwold](https://github.com/jwold)**
_Tuesday Mar 03, 2020 at 00:21 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/66_

----

## Feature description

Currently the Curated Card Collection block all

[2021-04-01 18:05] ravichdev commented on #5
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Friday Apr 10, 2020 at 21:27 GMT_

----

- Thinking about leveraging with something like Woo. We cover blocks for post/page.
- If a site has a product, can I leverage other plugin data output
-

[2021-04-01 18:05] ravichdev commented on #5
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Friday Sep 25, 2020 at 19:30 GMT_

----

This is useful, but I think it’s ok to wait until a need arises.

[2021-04-01 18:05] ravichdev commented on #5
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Thursday Dec 10, 2020 at 19:19 GMT_

----

Reopening after discussing with Rody on 12/7

[2021-04-01 18:05] ravichdev commented on #5
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Thursday Dec 10, 2020 at 19:19 GMT_

----

Next step is to get an IB written

[2021-04-01 18:05] ravichdev commented on #5
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Friday Dec 18, 2020 at 16:30 GMT_

----

@jwold to give input on UX and meet with an engineer to validate functionality

[2021-04-01 18:05] ravichdev commented on #5
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Thursday Jan 14, 2021 at 19:58 GMT_

----

@jauyong this is ready for an engineer to review, or for the team to discuss in backlog grooming.

[2021-04-01 18:05] ravichdev commented on #5
<a href="https://github.com/technosailor"><img src="https://avatars.githubusercontent.com/u/725303?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [technosailor](https://github.com/technosailor)**
_Friday Feb 12, 2021 at 18:43 GMT_

----

Leaving this for someone to pickup as I offboard.

Most of this is done (I believe).

- [x]  UX update to include post types. (CPTs

[2021-04-01 18:05] ravichdev opened #6 "Assets directory inconsistency"
<a href="https://github.com/dugajean"><img src="https://avatars.githubusercontent.com/u/2448254?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [dugajean](https://github.com/dugajean)**
_Wednesday Apr 29, 2020 at 20:27 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/203_

----

In the `assets/` directory we have the following directorie

[2021-04-01 18:05] ravichdev commented on #6
<a href="https://github.com/dugajean"><img src="https://avatars.githubusercontent.com/u/2448254?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dugajean](https://github.com/dugajean)**
_Wednesday Apr 29, 2020 at 20:29 GMT_

----

@ravichdev @davidlonjon @derekherman

[2021-04-01 18:05] ravichdev commented on #6
<a href="https://github.com/davidlonjon"><img src="https://avatars.githubusercontent.com/u/927932?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [davidlonjon](https://github.com/davidlonjon)**
_Thursday Apr 30, 2020 at 02:32 GMT_

----

Hi @dugajean ,

I agree with you that this structure is confusing and I would prefer to go towards the second solution you highlighte

[2021-04-01 18:05] ravichdev commented on #6
<a href="https://github.com/technosailor"><img src="https://avatars.githubusercontent.com/u/725303?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [technosailor](https://github.com/technosailor)**
_Tuesday Dec 15, 2020 at 19:49 GMT_

----

I'd offer a third option that I think is even more intuitive to someone coming into the project.

Under `assets`, have `dist` and `

[2021-04-01 18:05] ravichdev commented on #6
<a href="https://github.com/ravichdev"><img src="https://avatars.githubusercontent.com/u/26096061?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ravichdev](https://github.com/ravichdev)**
_Thursday Jan 21, 2021 at 12:52 GMT_

----

I like option 1 as that will also ensure we have `assets/js/[DIST JS FILES]` and `assets/css/[DIST CSS FILES]` in the plugin build file a

[2021-04-01 18:05] ravichdev opened #7 "Icon buttons should have Material-styled tooltips"
<a href="https://github.com/jbingham"><img src="https://avatars.githubusercontent.com/u/563113?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jbingham](https://github.com/jbingham)**
_Wednesday May 06, 2020 at 16:28 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/224_

----

## Bug Description

Material Icon Buttons currently show no

[2021-04-01 18:05] ravichdev commented on #7
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Friday May 15, 2020 at 14:30 GMT_

----

Suggestion:

1. Have tooltip regardless of button style. View Material [guidelines](https://material.io/components/tooltips#placement).
2. Add an input

[2021-04-01 18:05] ravichdev commented on #7
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Monday May 18, 2020 at 20:34 GMT_

----

Related to #228

[2021-04-01 18:05] ravichdev commented on #7
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Wednesday May 27, 2020 at 14:29 GMT_

----

@jbingham in the Material spec I'm only seeing tooltips on icon buttons for examples, none on text buttons. Should we allow users to add tooltips to

[2021-04-01 18:05] ravichdev commented on #7
<a href="https://github.com/jbingham"><img src="https://avatars.githubusercontent.com/u/563113?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jbingham](https://github.com/jbingham)**
_Wednesday May 27, 2020 at 15:56 GMT_

----

Yes, I believe so.

@yasmineevjen can you confirm?

On Wed, May 27, 2020, 7:29 AM Joshua Wold <notifications@github.com> wrote:

[2021-04-01 18:05] ravichdev commented on #7
<a href="https://github.com/yasmineevjen"><img src="https://avatars.githubusercontent.com/u/11654612?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yasmineevjen](https://github.com/yasmineevjen)**
_Wednesday May 27, 2020 at 16:33 GMT_

----

Hey Joshua, we have a guideline to not use tooltips to restate visible UI text. (I would say let's **not** allow it for text bu

[2021-04-01 18:05] ravichdev commented on #7
<a href="https://github.com/jbingham"><img src="https://avatars.githubusercontent.com/u/563113?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jbingham](https://github.com/jbingham)**
_Wednesday May 27, 2020 at 16:35 GMT_

----

What if the tooltips provide longer text? That would be acceptable, right?

On Wed, May 27, 2020 at 9:33 AM Yasmine Evjen <notifications@gith

[2021-04-01 18:05] ravichdev commented on #7
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Wednesday Jun 24, 2020 at 17:06 GMT_

----

Just a thought, what if we had tooltips for the icon button only right now? That might solve the issue we're running into.

![Group 1](https://user-i

[2021-04-01 18:05] ravichdev commented on #7
<a href="https://github.com/jbingham"><img src="https://avatars.githubusercontent.com/u/563113?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jbingham](https://github.com/jbingham)**
_Wednesday Jun 24, 2020 at 17:16 GMT_

----

Yes, that makes sense for now. Limit it to icon buttons.

On Wed, Jun 24, 2020 at 10:07 AM Joshua Wold <notifications@github.com>
wrote:

[2021-04-01 18:05] ravichdev commented on #7
<a href="https://github.com/ravichdev"><img src="https://avatars.githubusercontent.com/u/26096061?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ravichdev](https://github.com/ravichdev)**
_Tuesday Sep 22, 2020 at 11:14 GMT_

----

@jwold @jbingham @yasmineevjen @rodydavis  The tooltip option for an Icon button is added to the button block, we are using the `@material

[2021-04-01 18:05] ravichdev commented on #7
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Tuesday Sep 22, 2020 at 15:15 GMT_

----

I'll kick this back to backlog for now. We can always revisit when the package is stable.

[2021-04-01 18:05] ravichdev commented on #7
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Monday Dec 07, 2020 at 17:19 GMT_

----

@jauyong to add new ticket for accessibility "Aria link".
Possibly need to add new field in back for this link.
We also may need to do a pass for

[2021-04-01 18:05] ravichdev commented on #7
<a href="https://github.com/ravichdev"><img src="https://avatars.githubusercontent.com/u/26096061?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ravichdev](https://github.com/ravichdev)**
_Monday Mar 22, 2021 at 10:50 GMT_

----

@csossi This is ready for QA

[2021-04-01 18:05] ravichdev opened #8 "Enable auto updates for plugin and theme"
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jwold](https://github.com/jwold)**
_Friday Aug 21, 2020 at 16:21 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/380_

----

## Feature description

There are additional update features available

[2021-04-01 18:05] ravichdev commented on #8
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Friday Aug 21, 2020 at 16:22 GMT_

----

@ravichdev can you add an implementation brief to this one?

[2021-04-01 18:05] ravichdev commented on #8
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Friday Dec 04, 2020 at 16:45 GMT_

----

see the above comment for the next steps.

[2021-04-01 18:05] ravichdev opened #9 "[PLUGIN] Keep Google Fonts Up to date"
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jauyong](https://github.com/jauyong)**
_Monday Dec 07, 2020 at 14:15 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/460_

----

## Feature description

I want access to the latest Google Fonts.

[2021-04-01 18:05] ravichdev commented on #9
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Monday Dec 07, 2020 at 17:11 GMT_

----

After the IB is written, please assign to Rody to review

[2021-04-01 18:05] ravichdev commented on #9
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Tuesday Dec 08, 2020 at 16:30 GMT_

----

Assigning myself until Aaron is added to the project

[2021-04-01 18:05] ravichdev commented on #9
<a href="https://github.com/technosailor"><img src="https://avatars.githubusercontent.com/u/725303?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [technosailor](https://github.com/technosailor)**
_Tuesday Dec 15, 2020 at 16:14 GMT_

----

Hi @rodydavis-

I failed to assign this to you yesterday. So now I have.

Please review the updated implementation brief.

Thanks!

[2021-04-01 18:05] ravichdev commented on #9
<a href="https://github.com/rodydavis"><img src="https://avatars.githubusercontent.com/u/31253215?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [rodydavis](https://github.com/rodydavis)**
_Thursday Dec 17, 2020 at 17:06 GMT_

----

Approved! Looks great to me. Similar to #461

[2021-04-01 18:05] ravichdev opened #10 "[PLUGIN] Keep Google Icons Up to date"
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jauyong](https://github.com/jauyong)**
_Monday Dec 07, 2020 at 14:17 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/461_

----

## Feature description

I want access to the latest Google Icons.

[2021-04-01 18:05] ravichdev commented on #10
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Monday Dec 07, 2020 at 17:12 GMT_

----

After the IB is written, please assign to Rody to review

[2021-04-01 18:05] ravichdev commented on #10
<a href="https://github.com/ravichdev"><img src="https://avatars.githubusercontent.com/u/26096061?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ravichdev](https://github.com/ravichdev)**
_Friday Dec 11, 2020 at 17:06 GMT_

----

Currently `codepoints` file is manually added to this repo and we have a [grunt command](https://github.com/xwp/material-design-wp-plugin/b

[2021-04-01 18:06] ravichdev commented on #10
<a href="https://github.com/technosailor"><img src="https://avatars.githubusercontent.com/u/725303?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [technosailor](https://github.com/technosailor)**
_Tuesday Dec 15, 2020 at 16:14 GMT_

----

Hi @rodydavis-

I failed to assign this to you yesterday. So now I have.

Please review the updated implementation brief.

Thanks!

[2021-04-01 18:06] ravichdev commented on #10
<a href="https://github.com/rodydavis"><img src="https://avatars.githubusercontent.com/u/31253215?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [rodydavis](https://github.com/rodydavis)**
_Thursday Dec 17, 2020 at 16:38 GMT_

----

Looks great to me! This caching strategy will help a lot. We could probably increase the transient to 24h expiry since the fonts will not

[2021-04-01 18:06] ravichdev commented on #10
<a href="https://github.com/rodydavis"><img src="https://avatars.githubusercontent.com/u/31253215?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [rodydavis](https://github.com/rodydavis)**
_Thursday Dec 17, 2020 at 16:42 GMT_

----

If they opt out of auto-updates will there be an button to refresh in settings?

If we do have a button it should still follow the same s

[2021-04-01 18:06] ravichdev commented on #10
<a href="https://github.com/technosailor"><img src="https://avatars.githubusercontent.com/u/725303?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [technosailor](https://github.com/technosailor)**
_Thursday Dec 17, 2020 at 16:51 GMT_

----

The expiry change makes sense, @rodydavis. I'll update the IB with that.

I sorta see the opt-in portion of both fonts and icons a

[2021-04-01 18:06] ravichdev commented on #10
<a href="https://github.com/rodydavis"><img src="https://avatars.githubusercontent.com/u/31253215?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [rodydavis](https://github.com/rodydavis)**
_Thursday Dec 17, 2020 at 17:07 GMT_

----

Sounds good. I think we could even have a single button in the settings that will "Update fonts and icons" and maybe another one that wil

[2021-04-01 18:06] ravichdev opened #11 "Curated Post Block: Improve Post List Display"
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jauyong](https://github.com/jauyong)**
_Thursday Dec 10, 2020 at 19:25 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/470_

----

## Feature description

As an editor, I want a way to preview p

[2021-04-01 18:06] ravichdev commented on #11
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Thursday Dec 10, 2020 at 19:26 GMT_

----

- ~Note: We should examine a UI to try and pull from pages or posts, but not go forward unless we’re confident that its an improvement over the

[2021-04-01 18:06] ravichdev commented on #11
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Wednesday Dec 16, 2020 at 18:58 GMT_

----

Hey @jwold I think this needs your input on what the outcome should be.

[2021-04-01 18:06] ravichdev commented on #11
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Thursday Jan 14, 2021 at 20:33 GMT_

----

<img width="1077" alt="Screen Shot 2021-01-14 at 12 33 05 PM" src="https://user-images.githubusercontent.com/3411173/104645995-b5198900-5664-11eb-86b7

[2021-04-01 18:06] ravichdev commented on #11
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Friday Jan 15, 2021 at 16:07 GMT_

----

@ravichdev to investigate if these options are viable.

[2021-04-01 18:06] ravichdev commented on #11
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Friday Jan 15, 2021 at 16:07 GMT_

----

@jwold can you please add a new option C where on the right hand side it will simply say "open" or "preview" or something to that effect. Thanks!

[2021-04-01 18:06] ravichdev commented on #11
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Friday Jan 15, 2021 at 21:34 GMT_

----

Updated:

<img width="1508" alt="Screen Shot 2021-01-15 at 1 33 47 PM" src="https://user-images.githubusercontent.com/3411173/104780875-53c1ea80-5736-11

[2021-04-01 18:06] ravichdev commented on #11
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Friday Feb 05, 2021 at 16:54 GMT_

----

Need to review options during grooming with the team

[2021-04-01 18:06] ravichdev commented on #11
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Friday Feb 05, 2021 at 18:25 GMT_

----

@rodydavis when we last discussed this, we wanted to see option C that Joshua provided above. Do you want to discuss in our next grooming or do yo

[2021-04-01 18:06] ravichdev commented on #11
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Friday Feb 12, 2021 at 16:25 GMT_

----

@dawidmlynarz to review option C above. If there are no other changes to discuss, unassign yourself and then an engineer can being working on this

[2021-04-01 18:06] ravichdev commented on #11
<a href="https://github.com/dawidmlynarz"><img src="https://avatars.githubusercontent.com/u/8026823?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dawidmlynarz](https://github.com/dawidmlynarz)**
_Friday Feb 19, 2021 at 12:49 GMT_

----

@jauyong I have reviewed Option C and we can go with this as it is proposed by Joshua. Looks good to me!

[2021-04-01 18:06] ravichdev commented on #11
<a href="https://github.com/rodydavis"><img src="https://avatars.githubusercontent.com/u/31253215?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [rodydavis](https://github.com/rodydavis)**
_Friday Feb 19, 2021 at 16:29 GMT_

----

LGTM

Rody Davis

[2021-04-01 18:21] ravichdev opened #12 "Improve Gallery (grid view) on Mobile"
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jauyong](https://github.com/jauyong)**
_Tuesday Jan 05, 2021 at 16:31 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/491_

----

## Feature description

As a user, I would like an improved expe

[2021-04-01 18:22] ravichdev commented on #12
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Thursday Jan 14, 2021 at 20:46 GMT_

----

@jauyong I can't remember if there was anything needed from me on this one. I think we're ready for engineering.

[2021-04-01 18:22] ravichdev commented on #12
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Friday Jan 15, 2021 at 16:12 GMT_

----

@jwold we were thinking of having default columns for each device type. what are your thoughts?
(desktop = 5 or 6, tablet (768px) = 3 or 4, mobile

[2021-04-01 18:22] ravichdev commented on #12
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Friday Jan 15, 2021 at 16:12 GMT_

----

@jauyong to break this out into a separate ticket:
AC2
The labels do not need to be cut off but break on the word (ie multiple lines)

[2021-04-01 18:22] ravichdev commented on #12
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Friday Jan 15, 2021 at 19:57 GMT_

----

(desktop = 5 or 6, tablet (768px) = 3 or 4, mobile = 1)

That works.

[2021-04-01 18:22] ravichdev commented on #12
<a href="https://github.com/ravichdev"><img src="https://avatars.githubusercontent.com/u/26096061?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ravichdev](https://github.com/ravichdev)**
_Monday Mar 22, 2021 at 10:50 GMT_

----

@csossi This is ready for QA

[2021-04-01 18:22] ravichdev opened #13 "Settings Page"
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jauyong](https://github.com/jauyong)**
_Thursday Feb 04, 2021 at 20:37 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/534_

----

## Feature description

As a plugin user, I want to be able to

[2021-04-01 18:22] ravichdev commented on #13
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Thursday Feb 04, 2021 at 20:38 GMT_

----

@jwold do I recall correctly that you wanted to take a look at this first?

[2021-04-01 18:22] ravichdev commented on #13
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Friday Feb 05, 2021 at 17:44 GMT_

----

@jwold Aaron just confirmed that you wanted to look at this first to provide a design, so passing it on to you.

There were comments to mirror the

[2021-04-01 18:22] ravichdev commented on #13
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Wednesday Feb 10, 2021 at 15:24 GMT_

----

Reassigning to @dawidmlynarz to take a look

[2021-04-01 18:22] ravichdev commented on #13
<a href="https://github.com/dawidmlynarz"><img src="https://avatars.githubusercontent.com/u/8026823?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dawidmlynarz](https://github.com/dawidmlynarz)**
_Friday Feb 12, 2021 at 10:50 GMT_

----

Hey @jauyong , here is my first draft and a quick prototype of the Settings page. I tried to keep the same styles from the 'Getting

[2021-04-01 18:22] ravichdev commented on #13
<a href="https://github.com/dawidmlynarz"><img src="https://avatars.githubusercontent.com/u/8026823?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dawidmlynarz](https://github.com/dawidmlynarz)**
_Monday Feb 15, 2021 at 13:08 GMT_

----

Please have a look at the revisited version of the Settings page. The following changes were made:
• Settings page is now below Get

[2021-04-01 18:22] ravichdev commented on #13
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Friday Feb 19, 2021 at 17:53 GMT_

----

When the API key is entered, and the user returns to the page, the key should be hidden like a password is. Or consider removing the text field al

[2021-04-01 18:22] ravichdev commented on #13
<a href="https://github.com/dawidmlynarz"><img src="https://avatars.githubusercontent.com/u/8026823?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dawidmlynarz](https://github.com/dawidmlynarz)**
_Wednesday Feb 24, 2021 at 13:24 GMT_

----

@jauyong Here is the proposal of how can we handle the 'hidden state'. We can display it again once someone wants to edit it. Th

[2021-04-01 18:22] ravichdev commented on #13
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Thursday Feb 25, 2021 at 15:46 GMT_

----

@dawidmlynarz good question. Password protection wasn't mentioned when we were discussing this. I feel like that could cause more headaches for

[2021-04-01 18:22] ravichdev commented on #13
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Friday Feb 26, 2021 at 16:05 GMT_

----

@dawidmlynarz to make the following update:
1. remove the edit button.

no need for password protection.

[2021-04-01 18:22] ravichdev commented on #13
<a href="https://github.com/dawidmlynarz"><img src="https://avatars.githubusercontent.com/u/8026823?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dawidmlynarz](https://github.com/dawidmlynarz)**
_Monday Mar 01, 2021 at 09:50 GMT_

----

Please find updated screens of Google API Key interaction below divided into states:

### Empty state
![Settings – Google API Key](

[2021-04-01 18:22] ravichdev commented on #13
<a href="https://github.com/ravichdev"><img src="https://avatars.githubusercontent.com/u/26096061?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ravichdev](https://github.com/ravichdev)**
_Monday Mar 01, 2021 at 10:00 GMT_

----

@dawidmlynarz Looks good, for the API key field, after a user enters the key and saves it, they wouldn't be able to see it. It will be `***

[2021-04-01 18:22] ravichdev commented on #13
<a href="https://github.com/emeaguiar"><img src="https://avatars.githubusercontent.com/u/1379732?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [emeaguiar](https://github.com/emeaguiar)**
_Monday Mar 08, 2021 at 19:11 GMT_

----

@dawidmlynarz Would you happen to have either the figma link or a sketch file with these updates? Wondering if I can get the color values or

[2021-04-01 18:22] ravichdev commented on #13
<a href="https://github.com/dawidmlynarz"><img src="https://avatars.githubusercontent.com/u/8026823?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dawidmlynarz](https://github.com/dawidmlynarz)**
_Wednesday Mar 10, 2021 at 09:36 GMT_

----

@emeaguiar I have sent you Figma link via Slack. Let me know if you have access.

[2021-04-01 18:22] ravichdev opened #14 "Keep Plugin and Theme Versions the Same"
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jauyong](https://github.com/jauyong)**
_Friday Feb 19, 2021 at 18:20 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/543_

----

## Feature description

As a support member/troubleshooter, I wan

[2021-04-01 18:22] ravichdev commented on #14
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Friday Feb 26, 2021 at 16:34 GMT_

----

This will happen after we move to the Google Repo, possibly starting with v2.0

[2021-04-01 18:22] ravichdev opened #15 "Fix Sort Order of Posts on Mobile for Masonry Layout"
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jauyong](https://github.com/jauyong)**
_Monday Feb 22, 2021 at 19:43 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/549_

----

## Bug Description

Original Ticket: https://wordpress.org/suppor

[2021-04-01 18:22] ravichdev commented on #15
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Friday Feb 26, 2021 at 16:32 GMT_

----

@rodydavis  to add ways to do this with modern CSS

[2021-04-01 18:22] ravichdev commented on #15
<a href="https://github.com/emeaguiar"><img src="https://avatars.githubusercontent.com/u/1379732?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [emeaguiar](https://github.com/emeaguiar)**
_Friday Mar 05, 2021 at 17:44 GMT_

----

see [https://www.smashingmagazine.com/native-css-masonry-layout-css-grid/](https://www.smashingmagazine.com/native-css-masonry-layout-css-gr

[2021-04-01 18:22] ravichdev commented on #15
<a href="https://github.com/emeaguiar"><img src="https://avatars.githubusercontent.com/u/1379732?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [emeaguiar](https://github.com/emeaguiar)**
_Monday Mar 15, 2021 at 18:02 GMT_

----

Note that solution in https://github.com/xwp/material-design-wp-plugin/issues/549#issuecomment-791577056 is no longer valid as it only worke

[2021-04-01 18:22] ravichdev opened #16 "Can't remove image from card"
<a href="https://github.com/emeaguiar"><img src="https://avatars.githubusercontent.com/u/1379732?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [emeaguiar](https://github.com/emeaguiar)**
_Monday Mar 15, 2021 at 17:36 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/564_

----

## Bug Description

The button to remove cards doesn't seem

[2021-04-01 18:23] ravichdev opened #17 "Image size on homepage"
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jauyong](https://github.com/jauyong)**
_Tuesday Mar 16, 2021 at 14:35 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/566_

----

## Bug Description

Original Ticket: https://wordpress.org/suppo

[2021-04-01 18:35] emeaguiar commented on #4
@ravichdev this happened in commit when merging develop into a branch

[2021-04-05 15:18] csossi commented on #12
@ravichdev

- Added a new post. Added Gallery Block. Desktop defaulted to 4 columns - expected 5 or 6 as per AC above
![image](https://user-images.githubusercontent.com/16945664/113580695-11e96780-95f4-11eb-8a69-68e9ef15b490.png)

- should there be a tooltip when user hovers over the desktop, tablet, and mobile icons?

[2021-04-05 15:59] csossi commented on #7
Verified in QA

[2021-04-06 04:27] #14 closed

[2021-04-06 17:36] jauyong opened #26 "Carousel Block"
## Feature description

As a site editor I want a carousel block to display content

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. The carousel should have "dots" indicating pagination and location in the carousel
2. The carousel should have next and back buttons to manually scroll through the conten

[2021-04-06 17:38] jauyong opened #27 "Ability to Alert Users of New Features"
## Feature description

As Material, I want a way to alert users of new features or announcements

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. There should be a way to display an announcement or message when new features are released

## Implementation brief

*

## QA testing instructions

*

## De

[2021-04-06 17:41] jauyong opened #28 "Research Images for Patterns"
## Feature description

Dawid to list animations and images used in his patterns so the licensing details can be reviewed.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. List and link to all animations and images used
2. Review licensing to determine if we can use these images.

## Implementation bri

[2021-04-06 17:46] jauyong opened #29 "Block Pattern Setup"
## Feature description

Boilerplate code to be used for the patterns we will be building.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. Boilerplate code is setup for building patterns

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2021-04-06 17:48] jauyong opened #30 "Add large size option to button"
## Feature description

As a site editor I want another button variation

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. Follow Material guidelines for sizing: https://material.io/components/buttons-floating-action-button
2. Add a size section above "variations"
   1. Add options: regular, large(add p

[2021-04-06 18:55] ravichdev commented on #12
@csossi I've updated the default desktop columns to 5 and also added tooltips for the device icons. This is ready for QA.

[2021-04-08 15:57] csossi commented on #8
Verified in QA

[2021-04-08 16:13] csossi commented on #12
Verified in QA

[2021-04-09 13:51] jauyong opened #36 "[Pattern] Hero Section"
## Feature description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. base block should be a cover block with a set background color
![image](https://user-images.githubusercontent.com/5874851/114190327-2d68b100-9919-11eb-8917-a1f365e6c031.png)

## Implementation brief

*

## QA testing instructions

[2021-04-09 13:52] jauyong opened #37 "[Pattern] Hero Section + Image"
## Feature description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. Image licensing is fair use

![image](https://user-images.githubusercontent.com/5874851/114190418-483b2580-9919-11eb-9278-73476b03839e.png)

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

[2021-04-09 13:53] jauyong opened #38 "[Pattern] Logos"
## Feature description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

![image](https://user-images.githubusercontent.com/5874851/114190584-7456a680-9919-11eb-8dce-183e5f1ef7c3.png)

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2021-04-09 13:55] jauyong opened #39 "[Pattern] Call to Action"
## Feature description

Note: how is different from the hero pattern? hero has a bigger head and a background image.
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. I am able to add the Call to Action Pattern
2. I am able to add the Call to Action + Benefits Pattern
3. They should resemble the mockups

[2021-04-09 13:56] jauyong opened #40 "[Pattern] CTA + Benefits"
## Feature description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

![image](https://user-images.githubusercontent.com/5874851/114190898-d57e7a00-9919-11eb-8df8-a09bafbc1080.png)

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2021-04-09 13:58] jauyong opened #41 "[Pattern] Features (button)"
## Feature description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. I am able to add the Features Pattern
2. It should resemble the mockup attached
3. After adding the pattern it should have all blocks added to the post/page with demo material including:
   1. Heading Block
   2. Paragraph Block

[2021-04-09 13:58] jauyong opened #42 "[Pattern] Numbers"
## Feature description

NOTE: This is not actionable yet as we don't have a way to insert icons

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. I am able to add the Numbers Pattern
2. It should resemble the mockup attached
3. After adding the pattern it should have all blocks added to the post/page wi

[2021-04-12 15:30] csossi commented on #13
Verified in QA

[2021-04-12 15:32] csossi commented on #10
verified in QA

[2021-04-12 15:33] csossi commented on #9
Verified in QA

[2021-04-12 15:43] csossi commented on #16
Verified in QA

[2021-04-12 15:55] csossi commented on #17
Not seeing the img element for card, @ravichdev . hear in card is showing as:
<div tabindex="0" class="mdc-card__media mdc-card__media--16-9 material-design-card__media material-design-card-with-text-under-media" style="background-image:url(https://dev-mdc-web.pantheonsite.io/wp-content/uploads/2021/04/cbCzHY9-1-1.gif)"></div>

[2021-04-12 16:00] ravichdev commented on #17
@csossi If this is a card block, it needs to be edited in the block editor so it "converts" from the old version to the new version with the `img` element. Edit the page, make a small update to the block, save it and verify in frontend.

The "Blog" page which shows all blog posts (cards layout) should show the change without needing any edits.

[2021-04-12 16:13] ravichdev commented on #17
@csossi I see the issue now, moving this back to "In Progress"

[2021-04-12 18:19] csossi commented on #5
Verified in QA

[2021-04-12 18:25] csossi commented on #11
"(no title)" isn't appearing:

![image](https://user-images.githubusercontent.com/16945664/114442851-fefa0880-9b9a-11eb-93d5-d5bce0822d36.png)

[2021-04-13 11:42] ravichdev commented on #11
@csossi This is updated and ready for your review on staging

[2021-04-13 11:43] ravichdev commented on #17
@csossi This is updated and ready for your review on staging.

An image in a card block will be updated after it's loaded in the block editor and any content in the post id edited and updated.

[2021-04-13 11:54] ravichdev opened #46 "Block: Button"
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jwold](https://github.com/jwold)**
_Thursday Feb 13, 2020 at 21:36 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/9_

----

## Feature description

---------------

_Do not alter or remove anythi

[2021-04-13 11:55] ravichdev commented on #46
<a href="https://github.com/dugajean"><img src="https://avatars.githubusercontent.com/u/2448254?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dugajean](https://github.com/dugajean)**
_Friday Feb 14, 2020 at 16:00 GMT_

----

@jwold Where do you enter the link?

[2021-04-13 11:55] ravichdev commented on #46
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Friday Feb 14, 2020 at 16:24 GMT_

----

@dugajean I forgot to include that, just updated the GIF prototype. Thanks! It's now as a setting in the sidebar at the bottom.

[2021-04-13 11:55] ravichdev commented on #46
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Monday Feb 17, 2020 at 20:39 GMT_

----

AC and prototype have both been updated.

[2021-04-13 11:55] ravichdev commented on #46
<a href="https://github.com/dugajean"><img src="https://avatars.githubusercontent.com/u/2448254?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dugajean](https://github.com/dugajean)**
_Tuesday Feb 18, 2020 at 09:54 GMT_

----

@jwold Could you add individual screenshots for the larger components (icon picker, color picker)? I'm having a hard time seeing the icon pick

[2021-04-13 11:55] ravichdev commented on #46
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Tuesday Feb 18, 2020 at 15:49 GMT_

----

@dugajean I updated two of the subtasks, and saw that Ravi did the other! :)

[2021-04-13 11:55] ravichdev commented on #46
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Friday Feb 21, 2020 at 22:48 GMT_

----

@dugajean can you write the implementation brief for this? Thanks!

[2021-04-13 11:55] ravichdev commented on #46
<a href="https://github.com/dugajean"><img src="https://avatars.githubusercontent.com/u/2448254?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dugajean](https://github.com/dugajean)**
_Monday Feb 24, 2020 at 15:48 GMT_

----

@jwold Done. Let me know if that is what you expected.

[2021-04-13 11:55] ravichdev commented on #46
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Monday Feb 24, 2020 at 16:35 GMT_

----

@dugajean this looks really great! Thanks :)

[2021-04-13 11:55] ravichdev commented on #46
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Monday Feb 24, 2020 at 22:09 GMT_

----

@dugajean @ravichdev based on the Demo last week, we have some feedback. I put this on the parent issue for now, but can move to the child issues if we

[2021-04-13 11:55] ravichdev commented on #46
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Tuesday Mar 10, 2020 at 20:00 GMT_

----

When you have a moment would you mind linking to the most relevant demo video for this issue?

[2021-04-13 11:55] ravichdev commented on #46
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Thursday Mar 12, 2020 at 19:44 GMT_

----

Discussion to add icon button to this. Thinking through how that would work.

[2021-04-13 11:55] ravichdev commented on #46
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Thursday Mar 12, 2020 at 20:23 GMT_

----

Based on feedback in Slack we've been discussing extending this block to include `Icon Button`. I've been exploring how we could do that in a way that

[2021-04-13 11:55] ravichdev commented on #46
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Wednesday Mar 25, 2020 at 00:43 GMT_

----

Found a few issues in QA when reviewing the block on staging:

1. Can we set the `favorite` icon as a default? So when I choose `Trailing` or `Leadin

[2021-04-13 11:55] ravichdev commented on #46
<a href="https://github.com/csossi"><img src="https://avatars.githubusercontent.com/u/16945664?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [csossi](https://github.com/csossi)**
_Monday Apr 20, 2020 at 19:31 GMT_

----

@jwold - should we have an "x"/"close" for the Color Palette and Custom Color popups?
![image](https://user-images.githubusercontent.com/16945664/79

[2021-04-13 11:55] ravichdev commented on #46
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Monday Apr 20, 2020 at 20:31 GMT_

----

Great question @csossi! This may be something to consider in the future. However, for now we're ok to go without the close indicators, since this is a p

[2021-04-13 11:55] ravichdev commented on #46
<a href="https://github.com/csossi"><img src="https://avatars.githubusercontent.com/u/16945664?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [csossi](https://github.com/csossi)**
_Thursday Apr 23, 2020 at 14:43 GMT_

----

@jwold - fyi, the following remain outstanding on staging site (per your comments above)
- "favourite" icon not appearing by default
- rounded cor

[2021-04-13 11:55] ravichdev commented on #46
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Thursday Apr 23, 2020 at 16:17 GMT_

----

@csossi Great catch. I've verified that the `favorite` icon appears when I go to the `icon` button type first, then  go back to the `text` button type

[2021-04-13 11:55] ravichdev commented on #46
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Thursday Apr 23, 2020 at 16:40 GMT_

----

I've opened a bug report for the two QA issues: https://github.com/xwp/material-theme-builder-wp/issues/184

[2021-04-13 11:55] ravichdev opened #47 "Block: Recent Posts"
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jwold](https://github.com/jwold)**
_Thursday Feb 13, 2020 at 22:24 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/14_

----

## Feature description

Displays a list of the most recent posts from

[2021-04-13 11:55] ravichdev commented on #47
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Monday Feb 17, 2020 at 20:39 GMT_

----

AC and prototype have both been updated.

[2021-04-13 11:55] ravichdev commented on #47
<a href="https://github.com/davidlonjon"><img src="https://avatars.githubusercontent.com/u/927932?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [davidlonjon](https://github.com/davidlonjon)**
_Tuesday Feb 18, 2020 at 11:30 GMT_

----

@jwold

I think that similarly to the Latest Post core block we will need a rendering for the when there are no posts found such as sh

[2021-04-13 11:55] ravichdev commented on #47
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Tuesday Feb 18, 2020 at 16:41 GMT_

----

@davidlonjon if I'm understanding correctly you need two statuses to show for this block. Please let me know if any changes are needed. Thanks!

**Scre

[2021-04-13 11:55] ravichdev commented on #47
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Friday Feb 21, 2020 at 00:13 GMT_

----

@davidlonjon here are the new SVGs for the masonry/list/grid styles.

Thanks!

[SVG Styles.zip](https://github.com/xwp/material-theme-builder-wp/files/4

[2021-04-13 11:55] ravichdev commented on #47
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Friday Feb 21, 2020 at 22:47 GMT_

----

@davidlonjon can you write the implementation brief for this? Thanks!

[2021-04-13 11:55] ravichdev commented on #47
<a href="https://github.com/davidlonjon"><img src="https://avatars.githubusercontent.com/u/927932?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [davidlonjon](https://github.com/davidlonjon)**
_Monday Feb 24, 2020 at 06:03 GMT_

----

@jwold, I have now added the implementation brief

[2021-04-13 11:55] ravichdev commented on #47
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Monday Feb 24, 2020 at 18:55 GMT_

----

Great work on the demo David! Got some feedback from the team.

* *Links in new window:* I’m torn on this. We could definitely add an option in the bloc

[2021-04-13 11:55] ravichdev commented on #47
<a href="https://github.com/davidlonjon"><img src="https://avatars.githubusercontent.com/u/927932?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [davidlonjon](https://github.com/davidlonjon)**
_Tuesday Feb 25, 2020 at 14:02 GMT_

----

Hi @jwold ,

Thank you for the feedback. Let me address them:

Yes i think we can chose later on adding a control. For the time being

[2021-04-13 11:55] ravichdev commented on #47
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Tuesday Feb 25, 2020 at 14:09 GMT_

----

Great work. This looks amazing! So excited when I saw this demo 😀

I spotted just one thing, can you add a gray border to the styles?

<img width="853"

[2021-04-13 11:55] ravichdev commented on #47
<a href="https://github.com/davidlonjon"><img src="https://avatars.githubusercontent.com/u/927932?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [davidlonjon](https://github.com/davidlonjon)**
_Tuesday Feb 25, 2020 at 14:14 GMT_

----

@ravichdev, The change mentioned above is touching the ImageRadioControl component. Should we do create another issue for it or implem

[2021-04-13 11:55] ravichdev commented on #47
<a href="https://github.com/ravichdev"><img src="https://avatars.githubusercontent.com/u/26096061?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ravichdev](https://github.com/ravichdev)**
_Wednesday Feb 26, 2020 at 08:30 GMT_

----

@davidlonjon As this is a minor change I think we can implement that as part of this issue.

[2021-04-13 11:55] ravichdev commented on #47
<a href="https://github.com/davidlonjon"><img src="https://avatars.githubusercontent.com/u/927932?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [davidlonjon](https://github.com/davidlonjon)**
_Monday Mar 02, 2020 at 08:04 GMT_

----

@jwold , I have now implemented your latest feedback regarding adding the border to the styles.

![image](https://user-images.githubuse

[2021-04-13 11:55] ravichdev commented on #47
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Monday Mar 02, 2020 at 16:18 GMT_

----

Great work! This looks good 😀

[2021-04-13 11:55] ravichdev commented on #47
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Monday Mar 30, 2020 at 15:24 GMT_

----

Quick question. Is this the expected behavior when I go to align-center with a single post? https://d.pr/i/xyOjV1. cc @ravichdev and @davidlonjon

[2021-04-13 11:55] ravichdev commented on #47
<a href="https://github.com/davidlonjon"><img src="https://avatars.githubusercontent.com/u/927932?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [davidlonjon](https://github.com/davidlonjon)**
_Sunday Apr 05, 2020 at 09:58 GMT_

----

Hi @jwold,

We did not defined the expectation and we overlooked this feature from Gutenberg in the editor.

- In the Gutenberg editor,

[2021-04-13 11:55] ravichdev commented on #47
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Monday Apr 06, 2020 at 15:01 GMT_

----

I think you're right. Unless there is a precedent where Material supports a center aligned card. I haven't seen that yet though.

In looking over this a

[2021-04-13 11:55] ravichdev commented on #47
<a href="https://github.com/davidlonjon"><img src="https://avatars.githubusercontent.com/u/927932?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [davidlonjon](https://github.com/davidlonjon)**
_Tuesday Apr 07, 2020 at 02:42 GMT_

----

Hi @jwold, specifically for the Recent Posts and Hand-picked Posts blocks, I have created the following issue #134 for these 2 blocks

[2021-04-13 11:55] ravichdev commented on #47
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Wednesday Apr 08, 2020 at 20:07 GMT_

----

@csossi this is ready for QA testing. Note that the width of the block is still in progress, per David's comment above ^

[2021-04-13 11:55] ravichdev commented on #47
<a href="https://github.com/davidlonjon"><img src="https://avatars.githubusercontent.com/u/927932?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [davidlonjon](https://github.com/davidlonjon)**
_Thursday Apr 09, 2020 at 13:56 GMT_

----

Hi @jwold , @csossi ,

Please note that the PR for the alignment issue has been merged and deployed, however it will still not show o

[2021-04-13 11:55] ravichdev commented on #47
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Thursday Apr 09, 2020 at 15:42 GMT_

----

Thanks for the update David!

[2021-04-13 11:55] ravichdev commented on #47
<a href="https://github.com/emeaguiar"><img src="https://avatars.githubusercontent.com/u/1379732?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [emeaguiar](https://github.com/emeaguiar)**
_Thursday Apr 09, 2020 at 21:43 GMT_

----

I have a PR in the theme repo to enable alignment support: xwp/material-theme-wp#44 it'll be visible in the testing site once it's merged.

[2021-04-13 11:55] ravichdev commented on #47
<a href="https://github.com/csossi"><img src="https://avatars.githubusercontent.com/u/16945664?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [csossi](https://github.com/csossi)**
_Wednesday Apr 29, 2020 at 12:26 GMT_

----

@jwold - alignment seems to offer only Full and Wide widths (nothing for Normal):
![image](https://user-images.githubusercontent.com/16945664/805

[2021-04-13 11:55] ravichdev commented on #47
<a href="https://github.com/davidlonjon"><img src="https://avatars.githubusercontent.com/u/927932?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [davidlonjon](https://github.com/davidlonjon)**
_Wednesday Apr 29, 2020 at 13:40 GMT_

----

Hi @csossi,

Thank you for the feedback.

We took a decision for this block (As well the Hand-picked posts and Card collections bloc

[2021-04-13 11:55] ravichdev commented on #47
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Wednesday Apr 29, 2020 at 18:57 GMT_

----

Issue one: Just wanted to followup on this wide/normal/full width discsusion. I may have written the AC incorrectly, but as far as I can tell the blo

[2021-04-13 11:55] ravichdev commented on #47
<a href="https://github.com/csossi"><img src="https://avatars.githubusercontent.com/u/16945664?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [csossi](https://github.com/csossi)**
_Thursday Apr 30, 2020 at 00:28 GMT_

----

@davidlonjon @jwold

Thanks for this, guys. I checked another WP installation and saw that the Core blocks seem to have the "dissapear" happening

[2021-04-13 11:56] ravichdev opened #48 "Block: Tab Bar"
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jwold](https://github.com/jwold)**
_Thursday Feb 13, 2020 at 22:29 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/16_

----

## Feature description

Adds a Tab Bar block to organize and allow nav

[2021-04-13 11:56] ravichdev commented on #48
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Monday Feb 24, 2020 at 19:33 GMT_

----

@dugajean can you write the implementation brief and move this into `Review`? Thanks!

[2021-04-13 11:56] ravichdev commented on #48
<a href="https://github.com/dugajean"><img src="https://avatars.githubusercontent.com/u/2448254?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dugajean](https://github.com/dugajean)**
_Wednesday Feb 26, 2020 at 18:12 GMT_

----

@jwold Brief added. I'm a little unsure on moving the tabs left/right with the arrows, so I'll include that once I have more info or when I'

[2021-04-13 11:56] ravichdev commented on #48
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Wednesday Feb 26, 2020 at 18:21 GMT_

----

@dugajean that's totally understandable. I'd say the arrows may not have to be MVP (definitely want feedback from the team on this), so I think it's

[2021-04-13 11:56] ravichdev commented on #48
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Monday Mar 30, 2020 at 15:25 GMT_

----

A few questions from reviewing on staging:

1. `Tab bar` - Should we allow a tab bar within a tab bar? Seems like we might want to restrict that. [https

[2021-04-13 11:56] ravichdev commented on #48
<a href="https://github.com/dugajean"><img src="https://avatars.githubusercontent.com/u/2448254?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dugajean](https://github.com/dugajean)**
_Monday Mar 30, 2020 at 20:52 GMT_

----

@jwold Will have a look. Thank you!

[2021-04-13 11:56] #46 closed

[2021-04-13 11:56] #47 closed

[2021-04-13 12:14] ravichdev opened #49 "Applying Density"
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jwold](https://github.com/jwold)**
_Thursday Feb 27, 2020 at 22:24 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/56_

----

## Feature description - Post MVP

As a site owner I'd like the abilit

[2021-04-13 12:14] ravichdev commented on #49
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Friday Apr 10, 2020 at 21:13 GMT_

----

- Implementation in numeric. Using SASS mixins to adjust. You set density to -1, -2, -3. 0 is default. In future might have positive numbers.
- When set

[2021-04-13 12:14] ravichdev opened #50 "Dark theme"
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jwold](https://github.com/jwold)**
_Wednesday Mar 04, 2020 at 16:06 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/76_

----

## Feature description

Material offers guidelines for creating dark

[2021-04-13 12:14] ravichdev commented on #50
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Friday Apr 10, 2020 at 21:09 GMT_

----

- Postpone for a little bit, but hopefully in Q3-Q4 we can revisit. May be Phase 2.
- Media query selector is how it would work
- Two options: individua

[2021-04-13 12:14] ravichdev commented on #50
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Monday Aug 10, 2020 at 18:30 GMT_

----

Note: This would be something we need to explore manually, since the Material web components do not currently contain the ability to create a dark mode

[2021-04-13 12:14] ravichdev opened #51 "Centralize New Tab and Rel controls for InspectorControls"
<a href="https://github.com/dugajean"><img src="https://avatars.githubusercontent.com/u/2448254?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [dugajean](https://github.com/dugajean)**
_Sunday Mar 15, 2020 at 16:14 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/101_

----

The settings to set if a link should go on a new tab and setti

[2021-04-13 12:14] ravichdev opened #52 "Patterns/template in Gutenberg"
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jwold](https://github.com/jwold)**
_Wednesday Mar 18, 2020 at 17:03 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/107_

----

## Feature description

We also explored a template mode, where we'v

[2021-04-13 12:15] ravichdev commented on #52
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Wednesday Apr 01, 2020 at 14:30 GMT_

----

Until this is merged into Core, it's likely not something that should be picked up, so we'll push back to post-MVP.

[2021-04-13 12:15] ravichdev commented on #52
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Friday Sep 25, 2020 at 18:47 GMT_

----

Review #95 and #376 for additional AC

[2021-04-13 12:15] ravichdev commented on #52
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Thursday Mar 11, 2021 at 22:25 GMT_

----

Cover Pattern
1. Image (Check license)
2. header
3. subline text
4. button

![image](https://user-images.githubusercontent.com/5874851/110863305

[2021-04-13 12:15] ravichdev commented on #52
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Friday Mar 12, 2021 at 16:36 GMT_

----

@dawidmlynarz to review the demo content for patterns we want. Ideally we want all demo content as patterns and we may eventually remove demo cont

[2021-04-13 12:15] ravichdev commented on #52
<a href="https://github.com/dawidmlynarz"><img src="https://avatars.githubusercontent.com/u/8026823?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dawidmlynarz](https://github.com/dawidmlynarz)**
_Thursday Mar 25, 2021 at 13:00 GMT_

----

Here is my exploration of possible patterns that we can build using existing Material Blocks. They are focused on building landin

[2021-04-13 12:15] ravichdev opened #53 "Saving design styles"
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jwold](https://github.com/jwold)**
_Monday Apr 13, 2020 at 15:03 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/144_

----

## Feature description

Explore the best way to handle users saving the

[2021-04-13 12:15] ravichdev commented on #53
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Wednesday Apr 29, 2020 at 14:52 GMT_

----

Joshua to prototype how this might work.

[2021-04-13 12:15] ravichdev commented on #53
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Wednesday Apr 29, 2020 at 14:57 GMT_

----

Discussion:

Two things to explore here.

1. Just a simple save function for the custom style
2. Actual saving names of various themes and loading th

[2021-04-13 12:15] ravichdev commented on #53
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Friday May 08, 2020 at 21:42 GMT_

----

![Option E](https://user-images.githubusercontent.com/3411173/81451741-fb176800-9139-11ea-951d-0c83d0384e6a.png)

Leaning toward this option.

* User is

[2021-04-13 12:15] ravichdev commented on #53
<a href="https://github.com/cathibosco"><img src="https://avatars.githubusercontent.com/u/4819761?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [cathibosco](https://github.com/cathibosco)**
_Wednesday May 27, 2020 at 15:18 GMT_

----

Link to work in discovery and iteration:
https://www.figma.com/file/cNKMIkWy3I0YQBZ6GpSpNG/MDC-Web?node-id=1984%3A37850

[2021-04-13 12:15] ravichdev commented on #53
<a href="https://github.com/cathibosco"><img src="https://avatars.githubusercontent.com/u/4819761?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [cathibosco](https://github.com/cathibosco)**
_Thursday May 28, 2020 at 23:06 GMT_

----

Status Update = a rough draft:
This is in the Figma link above.
![Screen Shot on 2020-05-28 at 19-10-26](https://user-images.githubuser

[2021-04-13 12:15] ravichdev commented on #53
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Monday Jun 01, 2020 at 21:42 GMT_

----

- Have a "slush" theme you're always editing, it's the custom space to do what you want. Then you can save snapshots of that at anytime.
- If you have c

[2021-04-13 12:15] ravichdev commented on #53
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Wednesday Jul 22, 2020 at 19:13 GMT_

----

![IMG_0114](https://user-images.githubusercontent.com/3411173/88218279-ae114100-cc14-11ea-9f03-8df1fcfb4992.PNG)

Concept to further this ^

[2021-04-13 12:15] ravichdev opened #54 "Block: Recent Post enhancement"
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jwold](https://github.com/jwold)**
_Friday May 08, 2020 at 17:51 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/235_

----

## Feature description

Consider a toggle to switch between content/exc

[2021-04-13 12:15] ravichdev opened #55 "Add tooltips to Tab Bar"
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jwold](https://github.com/jwold)**
_Monday May 25, 2020 at 16:16 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/258_

----

## Feature description

---------------

There are times when the tab b

[2021-04-13 12:15] ravichdev commented on #55
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Friday Jul 03, 2020 at 14:53 GMT_

----

We recognize that this is not necessarily ideal because you could have a tooltip that is the same as the label. But for now this seems like an ok soluti

[2021-04-13 12:15] ravichdev commented on #55
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Friday Sep 25, 2020 at 19:31 GMT_

----

Closing for now, goes against guidance.

[2021-04-13 12:15] ravichdev commented on #55
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Thursday Dec 10, 2020 at 19:27 GMT_

----

Handle this however we handle the Icon Button block.

[2021-04-13 12:15] ravichdev commented on #55
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Wednesday Dec 16, 2020 at 19:07 GMT_

----

@jwold I've added a Tab block with no label but I don't see an icon being added. Can you confirm the issue?
https://dev-mdc-web.pantheonsite.io

[2021-04-13 12:15] ravichdev commented on #55
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Thursday Jan 14, 2021 at 20:57 GMT_

----

@jauyong I think the issue is ready for engineering, but recorded a quick video to make sure.

**Video:** https://v.usetapes.com/fvY0cE215T

[2021-04-13 12:15] ravichdev opened #56 "Fix alignment on hand-picked posts"
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jwold](https://github.com/jwold)**
_Friday Jun 19, 2020 at 19:16 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/293_

----

## Bug Description

https://d.pr/i/UjwsD5

* Spacing between icon and t

[2021-04-13 12:15] ravichdev opened #57 "Explore tonal color palette generation for users choosing colors in Material blocks"
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jwold](https://github.com/jwold)**
_Monday Aug 10, 2020 at 18:33 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/366_

----

## Feature description

We have another issue, #357, where we want to d

[2021-04-13 12:16] ravichdev commented on #57
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Friday Aug 21, 2020 at 16:07 GMT_

----

@yasmineevjen I'm thinking this will make a bit more sense later as we'll need some more definition on how it could be done. Agreed?

[2021-04-13 12:16] ravichdev commented on #57
<a href="https://github.com/yasmineevjen"><img src="https://avatars.githubusercontent.com/u/11654612?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yasmineevjen](https://github.com/yasmineevjen)**
_Friday Aug 21, 2020 at 16:42 GMT_

----

Ya, not ready for upcoming sprint

[2021-04-13 12:16] ravichdev opened #58 "Evaluate whether any theme JS could be done in CSS or with AMP components"
<a href="https://github.com/mattchungxwp"><img src="https://avatars.githubusercontent.com/u/68966788?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mattchungxwp](https://github.com/mattchungxwp)**
_Friday Sep 18, 2020 at 18:43 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/401_

----

This pertains to the JS modules listed here: http

[2021-04-13 12:16] ravichdev opened #59 "Explore global settings for text fields"
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jauyong](https://github.com/jauyong)**
_Monday Dec 07, 2020 at 14:24 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/462_

----

## Feature description

Add options in the Customizer for global

[2021-04-13 12:16] ravichdev commented on #59
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Thursday Jan 14, 2021 at 19:20 GMT_

----

@rodydavis we're wanting to add a setting into Customizer for users to set all text fields as `outlined` or `filled`.

There are three scenarios we ha

[2021-04-13 12:16] ravichdev commented on #59
<a href="https://github.com/rodydavis"><img src="https://avatars.githubusercontent.com/u/31253215?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [rodydavis](https://github.com/rodydavis)**
_Friday Jan 15, 2021 at 16:07 GMT_

----

Don't we already do this for post comments in the Customizer?

[2021-04-13 12:16] ravichdev commented on #59
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Friday Jan 15, 2021 at 21:36 GMT_

----

Correct, that option is already available:

<img width="302" alt="Markup 2021-01-15 at 13 35 36 (1)" src="https://user-images.githubusercontent.com/3411

[2021-04-13 12:16] ravichdev commented on #59
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Thursday Jan 21, 2021 at 15:43 GMT_

----

Updated the AC, need to review with team.

[2021-04-13 12:16] ravichdev commented on #59
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Friday Feb 12, 2021 at 16:26 GMT_

----

Ready to be worked on by an engineer

[2021-04-13 12:16] ravichdev commented on #59
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Friday Feb 12, 2021 at 16:29 GMT_

----

@dawidmlynarz to consider where to put the fill vs outline option in the customizer, when you don't have the theme.

![image](https://user-images.

[2021-04-13 12:16] ravichdev commented on #59
<a href="https://github.com/dawidmlynarz"><img src="https://avatars.githubusercontent.com/u/8026823?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dawidmlynarz](https://github.com/dawidmlynarz)**
_Wednesday Feb 17, 2021 at 10:42 GMT_

----

@jauyong Th solution proposed in #463 applies to this task as well. We can discuss it further in this ticket.

[2021-04-13 12:16] ravichdev opened #60 "Explore global settings for cards"
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jauyong](https://github.com/jauyong)**
_Monday Dec 07, 2020 at 14:26 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/463_

----

## Feature description

Add options in the Customizer for global

[2021-04-13 12:16] ravichdev commented on #60
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Thursday Jan 14, 2021 at 19:20 GMT_

----

Waiting on feedback from: https://github.com/xwp/material-design-wp-plugin/issues/462#issuecomment-760413320

[2021-04-13 12:16] ravichdev commented on #60
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Friday Feb 05, 2021 at 16:52 GMT_

----

@jwold #462 has been updated

[2021-04-13 12:16] ravichdev commented on #60
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Friday Feb 12, 2021 at 16:34 GMT_

----

@dawidmlynarz to look into this as well.

Need to consider how toggling in the customizer affects the toggle at the block level.

Note, see:
![ima

[2021-04-13 12:16] ravichdev commented on #60
<a href="https://github.com/dawidmlynarz"><img src="https://avatars.githubusercontent.com/u/8026823?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dawidmlynarz](https://github.com/dawidmlynarz)**
_Wednesday Feb 17, 2021 at 10:41 GMT_

----

@jauyong The design applies also to #462 since it solves the same problem. Below you can see my solution proposal:
<img width="1

[2021-04-13 12:16] ravichdev commented on #60
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Friday Feb 19, 2021 at 18:02 GMT_

----

@jauyong to update messaging.
and labels to ( Card, Text).

[2021-04-13 12:16] ravichdev commented on #60
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Friday Feb 19, 2021 at 18:12 GMT_

----

@dawidmlynarz
Can you update the field labels in the mocks by removing the word "blocks".
Card Blocks --> Cards
Text Blocks --> Text

We also need

[2021-04-13 12:16] ravichdev commented on #60
<a href="https://github.com/dawidmlynarz"><img src="https://avatars.githubusercontent.com/u/8026823?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dawidmlynarz](https://github.com/dawidmlynarz)**
_Tuesday Feb 23, 2021 at 07:50 GMT_

----

Thank you for the feedback, I have changed the labels:
Card Blocks --> Cards
Text Blocks --> Text **field** (this is styling the i

[2021-04-13 12:16] ravichdev opened #61 "Update Settings for Card Collections Block"
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jauyong](https://github.com/jauyong)**
_Monday Dec 07, 2020 at 14:36 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/465_

----

## Feature description

~Review Global vs child settings in the b

[2021-04-13 12:17] ravichdev commented on #61
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Monday Dec 07, 2020 at 17:28 GMT_

----

@jauyong to update AC to indicate we will do what we did for the list block

[2021-04-13 12:17] ravichdev commented on #61
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Friday Dec 18, 2020 at 16:52 GMT_

----

@jauyong to open new discovery ticket (list block) to inform this ticket.

[2021-04-13 12:17] ravichdev commented on #61
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Thursday Jan 14, 2021 at 20:45 GMT_

----

Blocked temporarily until I can test out the `list` block. Requested @jauyong to open a ticket to investigate.

[2021-04-13 12:17] ravichdev commented on #61
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Friday Feb 12, 2021 at 16:44 GMT_

----

@dawidmlynarz to continue reviewing Joshua's mocks on #496

[2021-04-13 12:17] ravichdev opened #62 "Add Aria Labels"
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jauyong](https://github.com/jauyong)**
_Tuesday Dec 08, 2020 at 15:30 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/468_

----

## Feature description

Placeholder ticket to add Aria Labels fo

[2021-04-13 12:17] ravichdev opened #63 "USER JOURNEY MAP: Setup Environment"
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jauyong](https://github.com/jauyong)**
_Thursday Dec 10, 2020 at 19:33 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/471_

----

## Feature description

Set up a fresh playground environment (

[2021-04-13 12:17] ravichdev opened #64 "USER JOURNEY MAP: Document Installation, Setup and Usage"
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jauyong](https://github.com/jauyong)**
_Thursday Dec 10, 2020 at 19:34 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/472_

----

## Feature description

Screenshot and document (in Miro) your

[2021-04-13 12:17] ravichdev opened #65 "USER JOURNEY MAP: Identify Issues"
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jauyong](https://github.com/jauyong)**
_Thursday Dec 10, 2020 at 19:36 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/473_

----

## Feature description

Surface issues of friction and frustrat

[2021-04-13 12:17] ravichdev opened #66 "USER JOURNEY MAP: Document Journey"
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jauyong](https://github.com/jauyong)**
_Thursday Dec 10, 2020 at 19:38 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/474_

----

## Feature description

This journey map encompass the primary

[2021-04-13 12:18] ravichdev opened #67 "USER JOURNEY MAP: Document Issues"
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jauyong](https://github.com/jauyong)**
_Thursday Dec 10, 2020 at 19:39 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/475_

----

## Feature description

Capture and prioritize any issues that

[2021-04-13 12:18] ravichdev opened #68 "Improve Plugin Activation Experience"
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jauyong](https://github.com/jauyong)**
_Wednesday Jan 27, 2021 at 18:19 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/522_

----

## Feature description
Priority: Explore

[Miro board link Iss

[2021-04-13 12:18] ravichdev commented on #68
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Wednesday Jan 27, 2021 at 18:20 GMT_

----

@jwold I'm not exactly sure what the issue was and made some assumptions. Can you help groom this ticket please?
It is issue 1, row 2 here http

[2021-04-13 12:18] ravichdev opened #69 "Improve Getting Started 1 2 3 Experience"
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jauyong](https://github.com/jauyong)**
_Wednesday Jan 27, 2021 at 18:29 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/523_

----

## Feature description

Priority: Explore

[Miro board link Is

[2021-04-13 12:18] ravichdev commented on #69
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Wednesday Jan 27, 2021 at 18:30 GMT_

----

Hey @jwold I could use your assistance grooming this one as well.

[2021-04-13 12:18] ravichdev opened #70 "Improve UX on Global Styling vs Edit Locations in Getting Started"
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jauyong](https://github.com/jauyong)**
_Wednesday Jan 27, 2021 at 18:34 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/524_

----

## Feature description

Priority: Issue

[Miro board link Issu

[2021-04-13 12:18] ravichdev commented on #70
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Friday Jan 29, 2021 at 16:12 GMT_

----

AC 1 is about reviewing the 1-2-3 to identify a simpler way to onboard users.

AC 2 may be a bug, we need to recheck this.

[2021-04-13 12:18] ravichdev opened #71 "Improve Block Management UX"
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jauyong](https://github.com/jauyong)**
_Wednesday Jan 27, 2021 at 18:41 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/525_

----

## Feature description

Priority: Issue

[Miro board link Issu

[2021-04-13 12:19] ravichdev commented on #71
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Friday Jan 29, 2021 at 16:10 GMT_

----

We are unable to pull the material blocks to the top of the list in the explore blocks side panel.
@jwold to sit with this and has 2 ideas he want

[2021-04-13 12:19] ravichdev commented on #71
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Friday Jan 29, 2021 at 16:11 GMT_

----

* Ravi > May not be possible to re-order to move Material to the top. Block Library is frequency + most used blocks.

Idea 1: Is to re-look at the onboa

[2021-04-13 12:19] ravichdev opened #72 "Improve UX on Editing Button on Button Block"
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jauyong](https://github.com/jauyong)**
_Wednesday Jan 27, 2021 at 18:53 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/526_

----

## Feature description

Priority: Explore

[Miro board link Is

[2021-04-13 12:19] ravichdev opened #73 "Add Color Picker, Primary and Secondary Colors as Options"
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jauyong](https://github.com/jauyong)**
_Wednesday Jan 27, 2021 at 20:57 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/527_

----

## Feature description

Priority: Explore

[Miro board link Is

[2021-04-13 12:19] ravichdev opened #74 "Remove Content from Getting Started Pages"
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jauyong](https://github.com/jauyong)**
_Wednesday Jan 27, 2021 at 21:04 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/528_

----

## Feature description

Priority: Explore

[Miro board link Is

[2021-04-13 12:19] ravichdev opened #75 "Reconsider first view form CTA "Customizing your theme""
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jauyong](https://github.com/jauyong)**
_Thursday Jan 28, 2021 at 16:30 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/530_

----

## Feature description

Priority: Issue

[Miro board link Issue

[2021-04-13 12:19] ravichdev commented on #75
<a href="https://github.com/jwold"><img src="https://avatars.githubusercontent.com/u/3411173?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jwold](https://github.com/jwold)**
_Friday Jan 29, 2021 at 16:15 GMT_

----

Maybe purple panel and add icon. Look and see who else has done this, look for precedence to see if others have done this. Maybe Astra.

[2021-04-13 12:19] ravichdev opened #76 "Improve Getting Started UX"
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jauyong](https://github.com/jauyong)**
_Thursday Jan 28, 2021 at 16:37 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/531_

----

## Feature description

priority: explore

[Miro board link Iss

[2021-04-13 12:19] ravichdev opened #77 "AMP Compatibility"
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jauyong](https://github.com/jauyong)**
_Thursday Feb 04, 2021 at 20:32 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/533_

----

## Feature description

Investigate how to make the theme and p

[2021-04-13 12:20] ravichdev commented on #77
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Tuesday Feb 16, 2021 at 19:35 GMT_

----

@rodydavis are you working with the AMP team directly now? Should we close this ticket?

[2021-04-13 12:20] ravichdev opened #78 "Add Option to Reset Settings"
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jauyong](https://github.com/jauyong)**
_Tuesday Feb 16, 2021 at 16:29 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/537_

----

## Feature description

As a user, I'd the ability to reset opti

[2021-04-13 12:20] ravichdev commented on #78
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Tuesday Feb 16, 2021 at 16:40 GMT_

----

@rodydavis please let me know if you're ok with this getting worked on. Note that AC4 leaves it open to see what else can be added.

[2021-04-13 12:20] ravichdev commented on #78
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Friday Feb 26, 2021 at 16:25 GMT_

----

@dawidmlynarz to create a design mock

[2021-04-13 12:20] ravichdev commented on #78
<a href="https://github.com/dawidmlynarz"><img src="https://avatars.githubusercontent.com/u/8026823?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dawidmlynarz](https://github.com/dawidmlynarz)**
_Wednesday Mar 03, 2021 at 07:43 GMT_

----

@jauyong I have created a proposal for the section holding all the reset options. 'Maintenance' was something that I thought wou

[2021-04-13 12:20] ravichdev commented on #78
<a href="https://github.com/rodydavis"><img src="https://avatars.githubusercontent.com/u/31253215?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [rodydavis](https://github.com/rodydavis)**
_Wednesday Mar 03, 2021 at 18:32 GMT_

----

LGTM

[2021-04-13 12:20] ravichdev opened #79 "Add Icon via Paragraph"
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jauyong](https://github.com/jauyong)**
_Wednesday Feb 17, 2021 at 18:08 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/540_

----

## Feature description

As a site editor, I'd like to be able

[2021-04-13 12:20] ravichdev commented on #79
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Friday Feb 26, 2021 at 16:41 GMT_

----

@dawidmlynarz to create a design mock.

Here are my ROUGH notes.
1. add in text tool bar an icon button
2. popup icon list
3. then edit the hyperl

[2021-04-13 12:20] ravichdev commented on #79
<a href="https://github.com/dawidmlynarz"><img src="https://avatars.githubusercontent.com/u/8026823?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dawidmlynarz](https://github.com/dawidmlynarz)**
_Wednesday Mar 03, 2021 at 11:52 GMT_

----

@jauyong Take a look at the proposal for how this could potentially work. I still need to design how to edit a hyperlink, but th

[2021-04-13 12:20] ravichdev opened #80 "Performance Audit of Theme and Plugin"
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jauyong](https://github.com/jauyong)**
_Thursday Feb 18, 2021 at 17:47 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/542_

----

## Feature description

Do an assesment of performance and SEO

[2021-04-13 12:20] ravichdev commented on #80
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Thursday Feb 18, 2021 at 17:55 GMT_

----

https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fdev-mdc-web.pantheonsite.io%2F&tab=mobile

![image](https://user-image

[2021-04-13 12:20] ravichdev commented on #80
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jauyong](https://github.com/jauyong)**
_Thursday Feb 18, 2021 at 18:23 GMT_

----

Need to discuss performance as an epic in our next meeting as a team. We should get 60+ on mobile consistently.

[2021-04-13 12:20] ravichdev commented on #80
<a href="https://github.com/emeaguiar"><img src="https://avatars.githubusercontent.com/u/1379732?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [emeaguiar](https://github.com/emeaguiar)**
_Monday Mar 08, 2021 at 16:43 GMT_

----

Images seem to be the biggest cause of the score. Recommend:

- Optimize image sizes
- Apply lazy loading to inline images in demo content
-

[2021-04-13 12:20] ravichdev opened #81 "WPAppbox is displayed left-aligned"
<a href="https://github.com/dontobi"><img src="https://avatars.githubusercontent.com/u/19261667?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [dontobi](https://github.com/dontobi)**
_Wednesday Mar 10, 2021 at 18:17 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/559_

----

## Bug Description
I use in my wordpress the plugin WPAppbox

[2021-04-13 12:21] ravichdev commented on #81
<a href="https://github.com/ravichdev"><img src="https://avatars.githubusercontent.com/u/26096061?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ravichdev](https://github.com/ravichdev)**
_Tuesday Mar 16, 2021 at 17:00 GMT_

----

@dontobi Thanks for reaching out. The issue is most likely because of the `wpappbox` div not having auto margins. The theme supports full

[2021-04-13 12:21] ravichdev opened #82 "[DISCOVERY] Pattern Research"
<a href="https://github.com/jauyong"><img src="https://avatars.githubusercontent.com/u/5874851?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jauyong](https://github.com/jauyong)**
_Thursday Mar 11, 2021 at 22:27 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/563_

----

## Feature description

Research plugins for inspiration on pat

[2021-04-13 12:21] ravichdev opened #83 "Theme: Explore - Add option to exclude padding above page title"
<a href="https://github.com/ravichdev"><img src="https://avatars.githubusercontent.com/u/26096061?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [ravichdev](https://github.com/ravichdev)**
_Thursday Mar 25, 2021 at 18:40 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/570_

----

## Feature description

Explore - add an option to exclu

[2021-04-13 12:21] ravichdev opened #84 "Theme: All Menu Items Not Showing on Desktop Tab Menu"
<a href="https://github.com/ravichdev"><img src="https://avatars.githubusercontent.com/u/26096061?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [ravichdev](https://github.com/ravichdev)**
_Thursday Mar 25, 2021 at 18:42 GMT_
_Originally opened as https://github.com/xwp/material-design-wp-plugin/issues/571_

----

## Feature description

The tab menu on desktop renders

[2021-04-13 19:14] csossi commented on #17
Verified in QA

[2021-04-13 19:15] csossi commented on #11
Verified in QA

[2021-04-19 10:25] PatelUtkarsh opened #88 "xDebug does not trigger breakpoint"
## Bug Description
Allow xDebug connection from host to container.

## Expected Behaviour
When listening to port 9003, xdebug should trigger the breakpoint.

## Steps to reproduce
xDebug does not trigger the breakpoint.

1. Add PHP remote debug.
1. Listen to 9003.
1. Add breakpoint on instance.php file in plugin.
1. Load any WordPress page in browser.

## Screenshots

## Additional context

 - Wor

[2021-04-19 13:18] #88 closed

[2021-04-19 15:31] #29 closed

[2021-04-21 12:23] #7 closed

[2021-04-21 12:23] #8 closed

[2021-04-21 12:23] #12 closed

[2021-04-21 12:23] #9 closed

[2021-04-21 12:23] #10 closed

[2021-04-21 12:23] #16 closed

[2021-04-21 12:23] #5 closed

[2021-04-21 12:23] #13 closed

[2021-04-21 12:23] #17 closed

[2021-04-21 12:23] #11 closed

[2021-04-21 16:40] jauyong commented on #79
@jauyong to create a ticket for adding an icon block

[2021-04-21 16:41] jauyong commented on #61
This will be lowest priority in 0.3

[2021-04-21 16:59] jauyong commented on #82
no longer needed

[2021-04-21 16:59] #82 closed

[2021-04-22 07:46] dawidmlynarz commented on #26
@jauyong here's the concept on how Material Carousel block could look like and work.

https://user-images.githubusercontent.com/8026823/115675548-fa79e080-a34e-11eb-8c81-3344d98bf42c.mp4

Type of content displayed:
• Recent posts
• Gallery
• Card Collection

Settings:
• Layout e.g. Columns, Number of Posts, etc.
• Equal height of cards
• Autoplay (the slider is rotating every X ms - enabling this

[2021-04-22 09:01] dawidmlynarz commented on #27
@jauyong I have an idea on how to communicate new features, but I would need more context on this task to integrate it into the right context.

Below you can see some variants how can the communication look like.

<img width="1547" alt="Screenshot 2021-04-22 at 10 59 18" src="https://user-images.githubusercontent.com/8026823/115686892-f30c0480-a359-11eb-8140-70035308c234.png">

[2021-04-22 16:33] jauyong opened #94 "[Pattern] Features (list)"
## Feature description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

![image](https://user-images.githubusercontent.com/5874851/115751165-ea6dfb00-a366-11eb-913d-e68ae8a9f17c.png)

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2021-04-22 17:10] jauyong opened #95 "[Pattern] Latest Posts"
## Feature description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

![image](https://user-images.githubusercontent.com/5874851/115756326-16d84600-a36c-11eb-8cfb-188ebf1377a6.png)

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2021-04-22 17:11] jauyong opened #96 "[Pattern] Newsletter"
## Feature description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

![image](https://user-images.githubusercontent.com/5874851/115756379-26f02580-a36c-11eb-934e-82cea4e23ccc.png)

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2021-04-22 17:11] jauyong opened #97 "[Pattern] Footer"
## Feature description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

![image](https://user-images.githubusercontent.com/5874851/115756636-3f604000-a36c-11eb-8919-08f5b1c7d72b.png)

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2021-04-22 17:12] jauyong opened #98 "[Pattern]"
## Feature description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

![image](https://user-images.githubusercontent.com/5874851/115757107-5b63e180-a36c-11eb-847b-13b5409b6ac5.png)

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2021-04-22 17:13] jauyong opened #99 "[Pattern] Pricing"
## Feature description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

![image](https://user-images.githubusercontent.com/5874851/115757524-746c9280-a36c-11eb-9f14-4b13dfb48865.png)

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2021-04-22 17:38] jauyong opened #100 "[Pattern] Single Feature"
## Feature description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

![image](https://user-images.githubusercontent.com/5874851/115761162-0aee8300-a370-11eb-995e-182b19174d68.png)

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2021-04-22 17:39] jauyong opened #101 "[Pattern] Single Feature Extended"
## Feature description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

![image](https://user-images.githubusercontent.com/5874851/115761246-222d7080-a370-11eb-94d5-063245b2786d.png)

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2021-04-22 17:40] jauyong opened #102 "[Pattern] Products"
## Feature description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

![image](https://user-images.githubusercontent.com/5874851/115761307-370a0400-a370-11eb-982d-ac11e391de4f.png)

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2021-04-22 17:40] jauyong opened #103 "[Pattern] Highlights"
## Feature description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. I am able to add the Highlights Pattern
2. It should resemble the mockup attached
3. After adding the pattern it should have all blocks added to the post/page with demo material including:
   1. 3 column layout including:
   2. Col

[2021-04-22 17:43] jauyong opened #104 "[Pattern] Media Grid"
## Feature description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

![image](https://user-images.githubusercontent.com/5874851/115761750-b0095b80-a370-11eb-9ed6-25905986e4b3.png)

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2021-04-22 17:44] jauyong opened #105 "[Pattern] Contact Form"
## Feature description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

![image](https://user-images.githubusercontent.com/5874851/115761892-d4fdce80-a370-11eb-9a4a-7fba3d27c228.png)

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2021-04-22 17:44] jauyong opened #106 "[Pattern] Footer Minimal"
## Feature description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

![image](https://user-images.githubusercontent.com/5874851/115761945-eba42580-a370-11eb-99c9-aceaf63f2763.png)

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2021-04-22 17:50] jauyong commented on #84
@rodydavis what are your thoughts on adding a visual indicator on the menu to let the user know they can scroll to see more?

[2021-04-22 17:51] jauyong commented on #83
@rodydavis What are your thoughts on adding an option at the page level to hide the title?

[2021-04-22 17:53] jauyong opened #107 "Icon Block"
## Feature description

As a site editor I want to add an icon block

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. THere are preset options (small, medium, large, xl, custom)
   2. When custom is selected a slider is presented to the user
2. Users are only able to add the icon for disiply (ie no too

[2021-04-22 18:36] rodydavis commented on #84
I think that we should stick to the material guidance here. What do other solutions do for long menus?

[2021-04-22 18:37] rodydavis commented on #77
We should close the ticket!

[2021-04-23 08:33] dawidmlynarz commented on #28
I have used unDraw illustrations  (https://undraw.co/) and adapted them to fit the style of illustrations on material.io Guidelines (example below).
<img width="1022" alt="Screenshot 2021-04-23 at 10 28 51" src="https://user-images.githubusercontent.com/8026823/115843193-dbe31a80-a41e-11eb-9dfb-9e3b5fe47a4a.png">

We can also consider creating custom illustrations and there will not be any legal c

[2021-04-23 13:55] ravichdev commented on #40
Updated the benefits to use 3 columns so it fits in the block editor without overflow.

![Screenshot 2021-04-23 at 7 24 49 PM](https://user-images.githubusercontent.com/26096061/115881658-9992fb00-a469-11eb-8862-c7c373239cba.png)

[2021-04-23 14:02] #77 closed

[2021-04-23 14:17] #63 closed

[2021-04-23 14:17] #64 closed

[2021-04-23 14:17] #65 closed

[2021-04-23 14:17] #66 closed

[2021-04-23 14:17] #67 closed

[2021-04-23 16:03] jauyong commented on #28
@rodydavis to follow up internally for image placeholders to use in the various patterns

[2021-04-23 16:04] jauyong commented on #28
@dawidmlynarz to also find some placeholders in the mean time

[2021-04-26 14:20] ravichdev commented on #36
@dawidmlynarz @jauyong I've added a background color for the pattern, let me know if you want to use a different color

![Screenshot 2021-04-26 at 7 48 05 PM](https://user-images.githubusercontent.com/26096061/116098270-8f226c80-a6c8-11eb-965b-4ad11a263d86.png)

[2021-04-26 17:44] #40 closed

[2021-04-27 12:11] PatelUtkarsh commented on #30
@dawidmlynarz to provide design on how option would look.

[2021-04-28 07:51] #38 closed

[2021-04-28 10:48] ravichdev commented on #95
@dawidmlynarz @jauyong @PatelUtkarsh The block pattern title says "Latest Posts" but looks like it's using Cards Collection block with custom cards, wouldn't that confuse users as we also have a "Latest Posts" block ? Should we use that block instead of Cards Collection ?

[2021-04-28 16:59] jauyong commented on #52
We might be able to close this ticket now since we have created individual tickets for the patterns included in Dawid's mock above.

[2021-04-28 16:59] jauyong commented on #3
duplicate of #52

[2021-04-28 16:59] #3 closed

[2021-04-28 17:21] #48 closed

[2021-04-30 07:39] dawidmlynarz commented on #30
@PatelUtkarsh please find attached the option to resize the button as well ass the new padding dimensions.

Paddings:
<img width="232" alt="Screenshot 2021-04-30 at 09 37 09" src="https://user-images.githubusercontent.com/8026823/116663792-e01bb480-a997-11eb-8b68-d9725245d1be.png">

Size select:
<img width="248" alt="switcher" src="https://user-images.githubusercontent.com/8026823/116663791-e01bb4

[2021-04-30 10:58] PatelUtkarsh opened #116 "Material color palette not working"
## Bug Description
Material Color palette not showing on click in Gutenberg editor.

Props to @ravichdev for finding this issue.

## Expected Behaviour
Color palette should show colors in Gutenberg editor on click of `Color palette` link.

## Steps to reproduce

1. Add a button.
1. Go to color and background color.
1. Click `color palette`.

## Screenshots

https://user-images.githubusercontent.co

[2021-04-30 11:40] #101 closed

[2021-04-30 14:33] PatelUtkarsh commented on #95
Yes, it seems it is using a curated card collection block. We should either:
1. Use the latest posts blocks. OR
1. Change title and use curated collection block.

[2021-04-30 20:09] smaimon opened #118 "Taking into consideration the woo-commerce module"
## Feature description

Modify also the woo-commerce CSS module

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2021-05-02 15:03] csossi commented on #100
Verified in QA

[2021-05-02 15:07] csossi commented on #104
Verified in QA

[2021-05-02 15:12] csossi commented on #105
Message field was set to "required":
![image](https://user-images.githubusercontent.com/16945664/116817998-12afe380-ab37-11eb-8c3e-966412f6ec6d.png)

But when I tested on fron-end, was able to send with just email address and name. Left Message section blank and got the "thanks" display:
![image](https://user-images.githubusercontent.com/16945664/116818023-3d01a100-ab37-11eb-8614-635b0caaf77d.png)

[2021-05-04 16:19] csossi commented on #41
Verified in QA

[2021-05-04 19:53] csossi commented on #42
Assuminng that this also includes a button block at the bottom as well, @jauyong

Verified in QA

[2021-05-04 19:57] csossi commented on #103
Assuming here that this shouldn't default to having this line break on "Highlights":
![image](https://user-images.githubusercontent.com/16945664/117062454-73831b80-acf1-11eb-9118-d8b1e1cf48ea.png)

[2021-05-04 20:03] csossi commented on #107
Verified in QA

[2021-05-05 20:29] csossi commented on #39
Verified in QA

[2021-05-05 20:34] csossi commented on #36
Can't seem to find this section in the Patterns tab on staging

[2021-05-05 20:39] csossi commented on #94
Verified in QA

Assuming here that this pattern consists of Heading, Paragraph, and 3 columns of List items

[2021-05-07 13:15] PatelUtkarsh commented on #99
@jauyong Gutenberg currently doesn't support border for column blocks. (There is a feature request for same). This pattern will look like following, Thoughts?

<img width="986" alt="image" src="https://user-images.githubusercontent.com/5015489/117454795-265ab000-af64-11eb-899d-e51b34e06727.png">

[2021-05-10 15:40] jauyong commented on #96
We will wait for the work on the form builder to complete before working on this pattern.

[2021-05-10 15:50] jauyong commented on #26
@dawidmlynarz to add additional mocks based on the above, to show the additional settings

[2021-05-11 05:57] PatelUtkarsh commented on #98
Tab block has the following issues:
1. Copying and pasting tab block doesn't show first tab properly.
2. When clicking on add pattern with tab block it doesn't show first tab. (Related to 1st but likely separate patch require)
3. Preview of tab pattern doesn't show first active tab content.

[2021-05-12 04:18] PatelUtkarsh commented on #30
@csossi This also updates all patterns which has large call-to-action button.

[2021-05-13 16:59] jauyong opened #125 "Add Tags on WordPress.org"
## Feature description

As Material, I want the plugin to be as highly discoverable as possible.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. Add tags to the plugin listing
   1. Material design
   2. Material theming
   3. Google
   4. blocks
   5. Gutenberg
   6. Theme builder
   7. Accessibility

[2021-05-14 14:17] jauyong commented on #125
For reference: https://thriveagency.com/news/optimization-strategies-for-the-wordpress-plugin-directory/

[2021-05-17 09:50] #52 closed

[2021-05-19 06:59] PatelUtkarsh commented on #60
@jauyong I've added a comment [here](https://github.com/material-components/material-design-for-wordpress/pull/127#issuecomment-842340027) about the dynamic vs static block, and it's effect based on settings of this issue -

Can you check if above message works as description? cc: @dawidmlynarz

[2021-05-21 09:50] dawidmlynarz commented on #26
### Gallery
Here's the preview on how gallery looks like from Empty state to filled.
![Carausel - Gallery - Empty](https://user-images.githubusercontent.com/8026823/119118371-6b81e600-ba2a-11eb-8ab7-a877cf520cd5.png)
![Carausel - Gallery - Filled](https://user-images.githubusercontent.com/8026823/119118375-6c1a7c80-ba2a-11eb-8a5d-76b5e698b47a.png)
![Carausel - Gallery - Equal height](https://user-

[2021-05-21 12:59] PatelUtkarsh opened #132 "Run theme tests in CI"
## Feature description

Add theme tests as part of GitHub actions.

Currently, Only plugin tests are being executed in CI.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2021-05-21 15:55] jauyong commented on #26
@dawidmlynarz to update label on gallery for equal height, contain & cover, maintain ratio etc....

[2021-05-22 19:56] csossi commented on #95
Verified in QA

[2021-05-22 20:10] csossi commented on #37
Verified in QA

[2021-05-22 20:14] csossi commented on #99
Verified in QA

[2021-05-24 11:34] csossi commented on #99
Assuming this should default to "Buy Now"
![image](https://user-images.githubusercontent.com/16945664/119342008-77f08380-bc62-11eb-98a0-bb6e0c6ee744.png)

[2021-05-24 11:38] csossi commented on #116
Verified in QA:
![image](https://user-images.githubusercontent.com/16945664/119342436-141a8a80-bc63-11eb-8a30-54a38cb4e2f7.png)

[2021-05-24 11:42] csossi commented on #103
Verified in QA

[2021-05-24 11:47] csossi commented on #36
Verified in QA

[2021-05-24 12:03] csossi commented on #105
Verified in QA

[2021-05-24 12:08] csossi commented on #30
Verified in QA

[2021-05-24 12:25] PatelUtkarsh commented on #60
I was thinking about avoiding confusion and make this more clear:

Maybe we can introduce either of the following:

1. Force override boolean customizer setting for card and text field - which will change card / text-field based on global setting using JavaScript.

2. Or we can introduce off default state in current settings and assume force when it's not off. (And update description accordingly).

[2021-05-25 15:28] #99 closed

[2021-05-27 10:05] dawidmlynarz commented on #26
@jauyong Updated the wording in the settings panel.

![Carausel - Gallery - Empty](https://user-images.githubusercontent.com/8026823/119807756-c19bd100-bee3-11eb-943e-adad1e8a02bc.png)
![Carausel - Gallery - Equal height](https://user-images.githubusercontent.com/8026823/119807742-bf397700-bee3-11eb-92e9-998518272675.png)
![Carausel - Gallery - Filled](https://user-images.githubusercontent.com/802

[2021-05-28 11:54] csossi commented on #40
Verified in QA

[2021-05-28 12:02] csossi commented on #38
seeing this in QA environment:
![image](https://user-images.githubusercontent.com/16945664/119980949-00d12d00-bf8b-11eb-83a1-cc1f93ca2dba.png)

[2021-05-28 12:05] csossi commented on #101
Verified in QA

[2021-05-28 12:07] csossi commented on #99
Verified in QA

[2021-05-31 08:54] kevinkovadia opened #137 "remove Page title in front page"
## Bug Description

when i keep the home page as front page, that front page also show page title "home", which need to remvoed.
i am using WordPress 5.7.2, material design google WordPress theme and plugin for the same. kindly have a look at the screenshot for better understanding
![Screenshot (38)](https://user-images.githubusercontent.com/38972017/120167952-f7122880-c21b-11eb-9cb3-94f43e3a7320.

[2021-05-31 19:12] jauyong opened #138 "[FSE] - Structure setup"
## Feature description

Structure setup required for full site editing

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

Basic setup
1. Investigate upcoming WP Core FSE for what we can use and learn
2. Perform research/discovery to get FSE started
2. Basic Setup
   1. List all templates in the theme's JSON

[2021-05-31 19:13] jauyong opened #139 "[FSE] Replicate Default Settings"
## Feature description

Replicate the current default settings for full site editing. When you enable FSE, it disables the customizer so we need to bring it back.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. The following values in the customizer are ported to the full site editing panel
   1. Mate

[2021-05-31 19:15] jauyong opened #140 "[FSE] Replicate Plugin Blocks"
## Feature description

Replicate Blocks in the plugin that need to be available in the theme for full site editing

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

The following blocks from the plugin should be available for FSE on the theme
Note: All of these except for buttons may be covered in other t

[2021-05-31 19:15] jauyong opened #141 "[FSE] Header EPIC Reference Ticket"
## Feature description

This ticket will act as an Epic for the header and all blocks required for full site editing

Current state (staging)
![image](https://user-images.githubusercontent.com/5874851/139901909-81b7d4ef-8b2d-40ae-b70e-1bc583758f78.png)

1. Tabs
2. Title
3. Subtitle
4. Dark Mode Switch
5. Logo (inside drawer)
6. Search (inside drawer)

Difficult Items in Header
1. Hamburger Menu

[2021-05-31 19:16] jauyong opened #142 "[FSE] Nav Block"
## Feature description

Nav Block required for full site editing

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2021-05-31 19:17] jauyong opened #143 "[FSE] Footer Block"
## Feature description

Footer Block required for full site editing

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2021-05-31 19:18] jauyong opened #144 "[FSE] Back to top"
## Feature description

Back to top block required for full site editing

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2021-05-31 19:19] jauyong opened #145 "[FSE] Header Discovery"
## Feature description

Discovery: Review the 4-5 other themes on how they handling this:
- We currently switch h1s and h2s, how will this work in full site editing?

General review, catchup
https://github.com/WordPress/theme-experiments

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. Review 4-5 other

[2021-05-31 19:19] jauyong opened #146 "[FSE] Generate template files"
## Feature description

Generate template files required for full site editing

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2021-05-31 19:21] jauyong opened #147 "[FSE] Add additional CSS classes / global style"
## Feature description

Configure theme.JSON
Add addition CSS classes required for full site editing

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. Full site editing settings cascade into blocks
2. Configure theme.JSON to support FSE

## Implementation brief

*

## QA testing instructions

*

## Demo

[2021-06-01 03:23] PatelUtkarsh commented on #137
Hello @kevinkovadia, thank you for reaching out.

We are working on #83 which will allow hiding page title for a given page.

[2021-06-01 03:23] #137 closed

[2021-06-03 10:12] PatelUtkarsh opened #151 "Serve minified JS in production bundle"
## Feature description
Production bundle is serving non minified JS. Production bundle should ideally serve a minified version of JS when the `SCRIPT_DEBUG` flag is false.

![image](https://user-images.githubusercontent.com/5015489/120627570-6ccafe00-c481-11eb-9b90-4bf34a5dd17f.png)

_This may require a change in webpack configuration to generate minified files._

<!-- Please describe clear and co

[2021-06-03 11:24] #116 closed

[2021-06-03 11:25] #107 closed

[2021-06-03 11:25] #105 closed

[2021-06-03 11:25] #104 closed

[2021-06-03 11:25] #103 closed

[2021-06-03 11:26] #100 closed

[2021-06-03 11:26] #95 closed

[2021-06-03 11:26] #94 closed

[2021-06-03 11:27] #39 closed

[2021-06-03 11:27] #37 closed

[2021-06-03 11:27] #36 closed

[2021-06-03 11:29] #42 closed

[2021-06-03 11:29] #41 closed

[2021-06-03 11:30] #30 closed

[2021-06-03 19:33] csossi commented on #83
Verified in QA

[2021-06-03 19:38] csossi commented on #38
Verified in QA

[2021-06-04 03:24] #83 closed

[2021-06-04 16:20] jauyong commented on #146
@jauyong to pull out AC for windows into a separate ticket.

[2021-06-07 17:16] jauyong opened #153 "Add Ability to Change WordPress Version"
## Feature description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2021-06-07 17:20] jauyong opened #154 "Use Random Images from Library for Block Patterns"
## Feature description

I want to display block patterns with images so that editors can get inspired of great design with the block patterns

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. After adding a block pattern with an image, use a random image from the media library
2. For block patterns with

[2021-06-10 15:08] jauyong opened #158 "Route Bug on WP.org"
## Bug Description

![image](https://user-images.githubusercontent.com/5874851/121549740-1f4c1500-c9dc-11eb-9040-33eb6175b05e.png)

Works when theme is disabled:
![image](https://user-images.githubusercontent.com/5874851/121549779-283ce680-c9dc-11eb-9001-e97fff95045a.png)

There is one particular route: wp-json/material-design/v1/onboarding/retrieve-icons/force which is going 404.

## Expected Beh

[2021-06-11 13:37] jauyong opened #159 "[Discovery] Color Logic"
## Feature description

Research colour logic required for dark mode and high-contrast mode.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. A solution for calculating colour options is decided on

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2021-06-15 18:09] jauyong opened #161 "Add Newsletter Email Sign Up"
## Feature description

As Material, I want to allow users to sign up for the Material newsletter.

See [here](https://services.google.com/fb/forms/materialdesignnewsletter/) for the form  Material.io

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. After clicking the "Finish" button while completing t

[2021-06-15 20:31] pbearne commented on #159
possible helper js for the switching
https://github.com/GoogleChromeLabs/dark-mode-toggle
https://medium.com/@haxzie/dark-and-light-theme-switcher-using-css-variables-and-pure-javascript-zocada-dd0059d72fa2
https://github.com/Fcmam5/nightly.js

https://github.com/itsabdessalam/is-night-mode

[2021-06-15 20:38] pbearne commented on #159
Contrast code
https://dev.to/alvaromontoro/building-your-own-color-contrast-checker-4j7o

https://gist.github.com/dcondrey/183971f17808e9277572

[2021-06-16 19:39] jauyong opened #163 "[DM] Update Style Settings in Customizer"
## Feature description

With the addition of dark mode and high-contrast modes to the existing styles, we are updating how the settings in the customizer is laid out.

[Figma Prototype](https://www.figma.com/proto/cNKMIkWy3I0YQBZ6GpSpNG/Google-%E2%80%93-MDC-Web?page-id=3131%3A0&node-id=3148%3A46182&viewport=160%2C-1367%2C0.7959950566291809&scaling=min-zoom)

---------------

_Do not alter or remov

[2021-06-16 19:51] jauyong opened #164 "[DM] Update Color Palette Settings in Customizer"
## Feature description

With the addition of dark mode and high-contrast modes, we are updating how the settings in the customizer are laid out.

[Figma Prototype
](https://www.figma.com/proto/cNKMIkWy3I0YQBZ6GpSpNG/Google-%E2%80%93-MDC-Web?page-id=3131%3A0&node-id=3148%3A46186&viewport=160%2C-1367%2C0.7959950566291809&scaling=min-zoom)

---------------

_Do not alter or remove anything below. The

[2021-06-17 15:56] csossi commented on #158
Verified in QA

[2021-06-17 16:21] #158 closed

[2021-06-18 17:16] pbearne commented on #159
Lib to switch mode has nice animations
https://github.com/sandoche/Darkmode.js/blob/master/src/darkmode.js

[2021-06-21 16:48] pbearne commented on #159
how to calc contrast
https://stackoverflow.com/questions/9733288/how-to-programmatically-calculate-the-contrast-ratio-between-two-colors

How to change saturation
https://css-tricks.com/using-javascript-to-adjust-saturation-and-brightness-of-rgb-colors/

Changing the color space
https://css-tricks.com/converting-color-spaces-in-javascript/

[2021-06-24 16:36] jauyong opened #166 "[DM] Custom Controller Research"
## Feature description

Research the ability for one setting in the customizer to be able to affect other settings. e.g. Changing the primary colour will affect the primary colour in dark mode.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brief

*

## QA testing instructions

*

#

[2021-06-24 16:44] jauyong opened #167 "Update components to latest versions"
## Feature description

Update components to the latest versions to use the latest in core

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. Update components that we are using to the latest versions
Note: update WordPress dependencies

## Implementation brief

*

## QA testing instructions

*

## Demo

[2021-06-24 16:52] jauyong opened #168 "Utility Conversions"
## Feature description

Utility Classes required for Dark Mode. Given a colour, we should be able to identify the dark mode colour and font colour.

Note:
We currently have a color utility and Pau is adding to that

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. Create a utility class interface (for e

[2021-07-11 22:47] csossi commented on #60
Reading the thread above and just want to ensure we have the right copy here:
![image](https://user-images.githubusercontent.com/16945664/125211997-541be800-e278-11eb-8125-0fbf3c2f4175.png)

This all right? Should it be "Global styles will be applied to any new and existing static block using the default style. This will not affect any local style overrides for supported blocks."

[2021-07-11 23:19] csossi commented on #59
Verified in QA

[2021-07-11 23:43] csossi commented on #15
@PatelUtkarsh - I just want to verify the expectation re: Curated Card Collection. In desktop, cards are presented in this order on my test page:
![image](https://user-images.githubusercontent.com/16945664/125213288-cc39dc00-e27f-11eb-9221-c512025a996f.png)

In mobile, the order is vertical:
![image](https://user-images.githubusercontent.com/16945664/125213329-f4c1d600-e27f-11eb-99a7-76dd6c2a6f49.

[2021-07-12 01:07] PatelUtkarsh commented on #60
I think this is a correct copy, We have changed the approach and now we are applying settings via JS on the client side which is more "global" instead of having it condition on static vs dynamic blog. @jauyong Thoughts?

[2021-07-13 10:01] PatelUtkarsh commented on #15
@emeaguiar Can you take this one?

[2021-07-13 10:01] PatelUtkarsh commented on #166
Plugin already contains code that can ask settings to update based on the selected theme.

[2021-07-13 19:39] jauyong commented on #60
@PatelUtkarsh are you saying that even if a user sets local style overrides at the block level, any changes made at the global level will override those settings?

[2021-07-14 02:56] PatelUtkarsh commented on #60
@jauyong Yes, the global style is acting like force override all, unless it's set as inherit in that case it won't.

[2021-07-15 16:10] emeaguiar commented on #15
Hey @csossi , this update applies only to the theme, here are the testing instructions:

1. Go to https://dev-mdc-web.pantheonsite.io/blog/
2. Note the order of posts from left to right, for example:
![Desktop](https://p200.p0.n0.cdn.getcloudapp.com/items/qGu5GY4n/7c982cee-a525-4ead-9e47-8ca542eb0f53.png?v=a9795f2df7fcd7950335e82ac4103c9a)
3. Resize to mobile view, and **reload the page**
4. Scrol

[2021-07-15 16:58] jauyong commented on #60
@pbearne can you please document the proposed solution here. What settings will be displayed on the global and on the block level views?

[2021-07-20 19:37] jauyong commented on #60
I have mapped out the states and change states here: https://miro.com/app/board/o9J_l5og-7s=/

[2021-07-25 16:34] csossi commented on #15
Verified in QA

@emeaguiar - thank you for the detailed QA instructions!

[2021-07-28 17:18] jauyong commented on #161
Will finish this when @rodydavis provides copy

[2021-07-28 18:14] pbearne opened #178 "toolbar controls is deprecated"
## Bug Description

Getting this warning in tests
 Using custom components as toolbar controls is deprecated. Please use ToolbarItem or ToolbarButton components instead. See: https://developer.wordpress.org/block-editor/components/toolbar-button/#inside-blockcontrols

## Expected Behaviour

Not get waring in tests

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4

[2021-07-28 18:32] jauyong opened #179 "Update Supported Versions - 5.6 +"
## Feature description

Now that 5.8 is out we need to update our officially supported versions.

5.2 is now only getting maintenance/security support.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. Update all official messaging to show support for 5.6+
   1. Put a notice in for this release and then

[2021-07-28 18:36] jauyong opened #180 "CLI Documentation"
## Feature description

Add documentation in the readme file for the CLIs

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. RE: #60 add a CLI related to the "reset" button in case there are large sites that can benefit from a CLI
2. Update documentation for all existing and the above new CLI

## Impleme

[2021-07-29 13:45] pbearne commented on #180
@jauyong can you look at the docs so far
https://github.com/material-components/material-design-for-wordpress/wiki

I feel we should ad some basic info the home page
Link to the contribute readme links to material.io and  WP.org etc.

[2021-07-29 23:36] TheWizardofWikacy opened #181 "Add Material Bottom App-Bar and Fabs"
## Feature description

It would be nice if we could add options for a material design bottom app-bar and fabs in the customizer.

[2021-08-05 14:33] jauyong opened #183 "Ensure Functionality of Features in Theme vs Plugin"
## Feature description

Any feature that is standalone in either the plugin or the theme should have the necessary code in said product (theme vs plugin)
e.g. The contact form in the plugin requires JS in the theme so if a user does not have the theme, the contact form will not work properly.

---------------

_Do not alter or remove anything below. The following sections will be managed by modera

[2021-08-05 21:40] pbearne commented on #183
WP.org https://wordpress.org/support/topic/floating-labels-not-working-2/

[2021-08-05 22:01] pbearne commented on #183
after testing it seems that the plugin is correct and there must be a problem with the theme
asked the reporter for more info

[2021-08-10 12:29] PatelUtkarsh commented on #179
There are a couple of errors with WordPress 5.8 and material plugin - Error log from e2e is here: https://github.com/material-components/material-design-for-wordpress/pull/185/checks?check_run_id=3290635519#step:14:20

[2021-08-10 16:30] PatelUtkarsh commented on #179
Following material blocks are failing with WP 5.8:
- Data table
- Recent posts
- Tab bar
- List

[2021-08-11 14:01] claudiosossi commented on #168
Verified in QA

[2021-08-12 14:19] mattchungxwp opened #186 "CLI Command Wiki Page"
## Add additional content and details to the wiki page including:

- Table of content
- Install Guide or link to Install Guide
- Videos
- Filters
- Methods of Use Cases
- Items that should be included on the admin page
- Link to README file
- .ORG instructions

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criter

[2021-08-12 14:26] mattchungxwp opened #187 "Material List Block Breaking for 5.8"
## Feature description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2021-08-12 14:29] mattchungxwp opened #188 "Material Block Tests Failing for 5.8"
## Tests:

- Data table
- Recent Posts
- Tab Bar
- List block

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2021-08-12 14:37] mattchungxwp commented on #163
Will need to update and add the front end user switch to enable Dark Mode/High Contrast

[2021-08-17 16:11] PatelUtkarsh commented on #79
Only pending item is on delete with backspace, it adds additional space. @PatelUtkarsh to take a look.

[2021-08-18 06:30] PatelUtkarsh commented on #179
This is done as part of https://github.com/material-components/material-design-for-wordpress/pull/185

[2021-08-18 06:42] PatelUtkarsh commented on #180
Thank you, @pbearne! This looks good!

[2021-08-18 06:42] #180 closed

[2021-08-19 14:09] jauyong commented on #179
@jauyong to write copy

[2021-08-19 15:44] jauyong commented on #179
Please note that the upcoming Material Theme/Plugin release ?0.3.2? will include updated support and will only support WordPress version 5.6 and up.

CC: @PatelUtkarsh

[2021-08-24 09:03] PatelUtkarsh commented on #179
@jauyong Since we don't know next to next release version yet, Should drop version number and keep it like following?

<img width="1500" alt="image" src="https://user-images.githubusercontent.com/5015489/130588567-c327bfd8-a8ac-4eb7-8191-cd3a30929f36.png">

The notice will be displayed only when next to next release is released on wp.org.

[2021-08-24 14:59] jauyong commented on #161
Awaiting copy for 3 pages regarding a link out to a google form for user data gathering.
1. Customizer
2. Plugin Page
3. Theme Page?

[2021-08-30 11:22] PatelUtkarsh commented on #161
### Customizer:
<img width="789" alt="image" src="https://user-images.githubusercontent.com/5015489/131329650-4bc846af-1b5d-4aeb-9fca-965a803ed4e3.png">

### Getting started:
<img width="1244" alt="image" src="https://user-images.githubusercontent.com/5015489/131328575-97c7fdd8-c159-4a44-a606-3073b38b1f91.png">

### Onboarding:
<img width="1266" alt="image" src="https://user-images.githubuserconte

[2021-08-30 14:41] PatelUtkarsh commented on #161
Hello @jauyong,  We can add new links like below - See following links:
- Learn more - Points to same site on setting page - See 2nd screenshot on above comment.
- Contact support - https://wordpress.org/support/plugin/material-design/
- Leave a review - https://wordpress.org/support/plugin/material-design/reviews/#new-post

<img width="1196" alt="image" src="https://user-images.githubusercontent.

[2021-08-31 14:38] jauyong commented on #161
Hey @PatelUtkarsh for the buttons that say subscribe to newsletter, can you link them to this form:

https://docs.google.com/forms/d/1CGtsGMP4rElIWwAHqqdWyf6-pA_g0pOc67f1jX8SRoY/edit?ts=60f6f4b4&resourcekey=0-fc7anyXD_x_RIQ1JPwQ31Q

[2021-08-31 15:15] PatelUtkarsh commented on #161
@jauyong Updated in PR.

[2021-08-31 15:57] #188 closed

[2021-08-31 16:51] jauyong opened #192 "Add Metatags in Header"
## Feature description

As Material, I want to add metatags so that I can query for sites using the theme

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. For the Material Design theme, in the header, add a metatag to show "Material Design Theme for WordPress Version XX"
2. For the Material Design plug

[2021-08-31 16:55] jauyong commented on #161
@PatelUtkarsh as discussed we are waiting for confirmation from Rody on linking here instead.
https://services.google.com/fb/forms/materialdesignnewsletter/?utm_source=WordPress

Also, in your screenshots can you make the word "update" plural to "updates"
e.g. Sign up to get UPDATES and news about....

[2021-09-01 09:33] PatelUtkarsh commented on #161
@jauyong I've included following with this:

<img width="1090" alt="image" src="https://user-images.githubusercontent.com/5015489/131648384-5c418aca-ea74-4e18-bbec-f933d31c21b7.png">

Let me know if that looks good or if it needs any other changes.

[2021-09-01 10:33] PatelUtkarsh commented on #192
Hello @jauyong, @rodydavis

Most plugin in WordPress ecosystem uses `generator` meta tag, Should we use it like following?

This could be independent in theme and plugin. Example:

[code]

[2021-09-01 10:51] PatelUtkarsh commented on #125
Additional: Needs dark mode specific tags. @jauyong

[2021-09-01 14:26] jauyong commented on #192
@PatelUtkarsh I think that will work. Our goals are to know or to be able to search for
1. Do they have the theme installed, if so which version?
2. Do they have the plugin installed, if so which version?

My only question is that in your example it has "Material Theme" and "Material Plugin", can you match the titles used on WP.org?
e.g. "Material Design for WordPress Theme", "Material Design for

[2021-09-01 14:45] PatelUtkarsh commented on #192
Sure, I will match the title used on WP org.

[2021-09-01 15:13] jauyong commented on #161
@rodydavis can you confirm this is the correct form to link to and that you’re ok with the URL with the UTM parameter:
https://services.google.com/fb/forms/materialdesignnewsletter/?utm_source=WordPress

[2021-09-01 15:14] rodydavis commented on #161
Looking great to me, but will confirm with others today.

On Wed, Sep 1, 2021 at 8:13 AM Jason ***@***.***> wrote:

--
Rody Davis Jr

[2021-09-01 15:15] rodydavis commented on #192
We need a rage for knowing they have the plug-in for Wordpress but a
separate tag for the version

On Wed, Sep 1, 2021 at 7:45 AM Utkarsh Patel ***@***.***>
wrote:

--
Rody Davis Jr

[2021-09-01 15:27] PatelUtkarsh commented on #79
Icon can be inserted via Inline Icon:
<img width="448" alt="image" src="https://user-images.githubusercontent.com/5015489/131699389-e0888725-26c8-49fd-b0b2-a51c78520a69.png">

[2021-09-01 15:39] PatelUtkarsh commented on #192
Hey @rodydavis,

Which one do you prefer?

A.
[code]

B.
[code]

[2021-09-01 15:55] PatelUtkarsh commented on #125
@jauyong Our current theme tags:
```Tags: blog, custom-colors, custom-logo, custom-menu, featured-images, full-width-template, one-column, threaded-comments, accessibility-ready, footer-widgets, editor-style, sticky-post, translation-ready, rtl-language-support, block-styles, wide-blocks```

Plugin has none.

[2021-09-01 16:42] rodydavis commented on #192
B!

On Wed, Sep 1, 2021 at 8:39 AM Utkarsh Patel ***@***.***>
wrote:

--
Rody Davis Jr

[2021-09-02 06:53] PatelUtkarsh commented on #179
UI message will look different when WP is less than 5.8. Above screen shows message for 5.8, Below is for WP 5.7.

<img width="1101" alt="image" src="https://user-images.githubusercontent.com/5015489/131796650-8515c6bf-2c91-4e63-9267-81f1ba94585c.png">

[2021-09-02 07:03] #179 closed

[2021-09-02 07:14] PatelUtkarsh opened #195 "Bump minimum WordPress support to 5.6"
## Feature description
1. In https://github.com/material-components/material-design-for-wordpress/issues/179 we added notice to warn user for coming up bump supported WP version.
1. In this, we will remove notice for next version and update `Requires at least: 5.6` in theme and plugin.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators on

[2021-09-02 07:18] PatelUtkarsh commented on #125
@jauyong For theme, Do we want to add in addition to existing  tag or replace?

[2021-09-02 07:36] PatelUtkarsh commented on #125
Comparing to the list, we can add `block-patterns` tag in theme and add new tags in plugin as specified in ticket description.

[2021-09-02 11:04] PatelUtkarsh commented on #163
Testing instructions: Dark mode includes #163 and #164.

High Contrast is currently out of scope, We are only focusing on dark mode:

Two users are involved: user who owns the website and changes color according to its preference let's call it admin, and end user who is viewing the website on the frontend let's call it end user.

1. Admin opens customizer ⇾ Material Design option ⇾ Color Palette.

[2021-09-02 11:11] PatelUtkarsh opened #198 "Inline icon backspace"
## Bug Description
When clearing icon with backspace: It adds additional whitespace in editor.

We are using formatting tool api, when hitting backspace it removes icon char one at a time causing extra whitespace.

Example:

https://user-images.githubusercontent.com/5015489/131833552-4ed9e55e-cc59-46ef-93e6-9fa6692a8c18.mp4

## Expected Behaviour

## Steps to reproduce

1. Insert inline icon via f

[2021-09-02 11:18] PatelUtkarsh opened #199 "Material list: Post update button stays disabled on updating existing list item"
## Bug Description
https://user-images.githubusercontent.com/5015489/131834465-51f6e013-e6d8-4bfd-b27a-906ad0d7788b.mp4

## Expected Behaviour
1. On changing an existing material list item, update button should be enabled.

## Steps to reproduce
1. Create new post or open existing post with material list items.
2. Without adding new list item change existing item.
3. See update post button is disa

[2021-09-03 09:58] #159 closed

[2021-09-03 13:26] csossi commented on #79
Verified in QA

[2021-09-03 13:52] csossi commented on #187
Verified in QA

[2021-09-03 14:06] csossi commented on #163
@PatelUtkarsh , should this be working for Patterns as well? Light mode looks like this for Calls To Action:
![image](https://user-images.githubusercontent.com/16945664/132018085-dc9c6ca3-b0a5-4319-bedf-7d79f9e8d30a.png)
When I switch to dark mode, looks like this (hard to read):
![image](https://user-images.githubusercontent.com/16945664/132018285-008c4c5e-765e-438a-9377-fda97cfd6c75.png)

[2021-09-03 14:10] csossi commented on #163
@PatelUtkarsh - some inconsistent behaviour when swithing within Settings. I have Dark Mode "active" here, with display witcher selected:
![image](https://user-images.githubusercontent.com/16945664/132018788-9722cf03-71a7-4ccd-8452-0b273b4c4b73.png)
Then I selected the switcher at top right and it switched to Light:
![image](https://user-images.githubusercontent.com/16945664/132018974-5feafe62-4a6

[2021-09-03 14:19] PatelUtkarsh commented on #163
Calls To Action block may have white background, We can remove and update block.

For point 2 @emeaguiar could you please take a look?

[2021-09-03 14:21] csossi commented on #164
Verified in QA (with the exception of contrast-related AC)

[2021-09-03 15:08] #125 closed

[2021-09-03 15:46] #192 closed

[2021-09-03 16:38] #161 closed

[2021-09-03 17:21] emeaguiar commented on #163
@csossi I've updated issue 2

https://user-images.githubusercontent.com/1379732/132043891-3b65afaf-270c-424a-b819-7373bcd4f800.mp4

[2021-09-03 18:19] jauyong commented on #163
@csossi the fixes for the background color and the CTA block are ready to test.

[2021-09-06 06:55] #187 closed

[2021-09-06 06:56] #168 closed

[2021-09-06 06:56] #79 closed

[2021-09-07 15:00] csossi opened #202 "Focus Lost on Pallete Hex Entry"
## Bug Description

Have seen this in Chrome on both Mac and PC

When user clicks within a hex input field, the focus leaves the field after each character entered. User has to keep re-clicking within field to complete entry

## Expected Behaviour

When user clicks within hex field, focus is maintained until user tabs or clicks away

## Steps to reproduce

- Open Customizer
- select Material Desig

[2021-09-07 17:35] jauyong opened #204 "Background Colour Issue with Preview"
## Bug Description

There is an issue with the preview of the website not showing updates to the background field. If you publish, it updates as expected so this is only an issue with preview as far as I can tell.

Please see slack for video as the file is too large to post here.

## Expected Behaviour

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2021-09-08 18:13] jauyong opened #207 "Issue with Color Linking (Dark Mode)"
## Bug Description

1. When linked and then changing default color doesn't change dark mode color
2. After linking once then changing primary color then linking and unlinking also doesn't recalculate the dark mode color.

See video of issue here https://xwp.slack.com/files/U19BZ4W2X/F02DREEFVGT/linking-issue.mp4

## Expected Behaviour

The dark mode color should recalculate based on the default co

[2021-09-09 14:18] #163 closed

[2021-09-09 14:18] #164 closed

[2021-09-12 17:01] csossi commented on #202
Verified in QA

[2021-09-12 17:12] csossi commented on #204
Verified in QA

[2021-09-16 14:15] jauyong commented on #50
Closing this as it is a placeholder ticket and the PR for darkmode has been created

[2021-09-16 14:15] #50 closed

[2021-09-17 19:25] #207 closed

[2021-09-21 16:11] jauyong commented on #84
@jauyong to verify if this bug is still outstanding (scrolling on desktop)

[2021-09-21 18:46] jauyong opened #209 "Convert Codebase to Typescript"
## Feature description

Move to Typescript for all of it's benefits of ease of use, readability and potential for more to contribute to the project.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. Rename files as appropriate
2. Create a TS config file
3. Make TS files available as necessary
4. Convert

[2021-09-23 14:06] jauyong opened #210 "High Contrast Mode"
## Feature description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2021-09-23 14:09] jauyong commented on #61
Note: the blue background on the warning may no longer be part of core so Mario used yellow instead

[2021-09-30 15:28] PatelUtkarsh opened #214 "Gutenberg editor uses dark mode on dark mode inactive"
## Bug Description
When dark mode is inactive, gutenberg still uses the dark theme based on system preference.

https://user-images.githubusercontent.com/5015489/135484980-a56f91f0-3757-4e67-bf9d-3e90c6d1cf4f.mp4

## Expected Behaviour
When dark theme is inactive, It should use light theme on Gutenberg.

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2021-09-30 17:05] PatelUtkarsh opened #215 "Color palette jumps on color selection"
## Bug Description
On selecting a color on color palette, it jumps to the top of the page.

https://user-images.githubusercontent.com/5015489/135499666-dee86166-5209-47e8-93b3-21d8cb26d390.mp4

## Expected Behaviour

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

## Additional context

 - WordPress version:
 - Plugin version:
 - Gute

[2021-09-30 17:08] PatelUtkarsh commented on #59
Text field markup for outlined and elevated is different, having global style option may require change in markup and not just class. See following:

Filled: https://material.io/components/text-fields/web#filled-text

Outlined: https://material.io/components/text-fields/web#outlined-text

[2021-10-05 14:14] #199 closed

[2021-10-05 15:36] #61 closed

[2021-10-05 16:09] jauyong commented on #209
consider doing "partial" migration to Typescript, while working on FSE

[2021-10-05 16:34] jauyong commented on #15
@jauyong to add demo of the fix

[2021-10-07 13:49] jauyong commented on #15
I thought a screenshot with a side by side comparison of desktop vs mobile would better capture a demo of the fix:
![Group 1 (1)](https://user-images.githubusercontent.com/5874851/136397568-69d72473-0fbe-4dbb-82c5-05eef4ab1566.png)

[2021-10-14 12:47] PatelUtkarsh opened #221 "Tab block is not usable in firefox"
## Bug Description

https://user-images.githubusercontent.com/5015489/137319690-12755d9e-28a1-4435-9def-460f114b5cd1.mp4

## Expected Behaviour

## Steps to reproduce

1. Add new tab component.
2. Add title to tab 1.
3. Try to add title to tab 2.
4. User can not change tab title for tab 2.
5. After moving focus from tab 1, tab 1 is also not editable.

## Screenshots

## Additional context

 - Word

[2021-10-14 17:35] csossi commented on #199
Verified in QA

[2021-10-14 17:56] csossi commented on #60
@PatelUtkarsh , does the AC need updating here? Also, the Implementation notes "Force" options - has this changed? Any QA Instructions you can share would be most helpful

[2021-10-15 06:39] PatelUtkarsh commented on #61
Here is before and after:

Before:

https://user-images.githubusercontent.com/5015489/137442828-f6ce4c66-a21c-4445-a01d-06621fd015cd.mp4

After:

https://user-images.githubusercontent.com/5015489/137442820-0705009e-fd4c-4ad1-8509-a0cd0c0614ff.mp4

I've changed card style to elevation because that's a more appropriate word for it, which fits material guidelines.

@emeaguiar The gutter in mockup is

[2021-10-15 08:51] PatelUtkarsh commented on #221
@jauyong I've updated ticket description.

[2021-10-19 18:16] jauyong opened #222 "Allow Menu to Accept HTML"
## Feature description

I want to be able to input HTML into the menu tabs and have it rendered on the front end

Second request for this feature [here](https://wordpress.org/support/topic/no-ability-to-add-material-icons-to-drawer-menu/)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. Allow HTML to b

[2021-11-02 15:41] emeaguiar commented on #61
@PatelUtkarsh I'm not really sure why I didn't initially moved it, probably just missed the second image, I've created #224 to handle that

[2021-11-02 15:58] jauyong opened #225 "FSE style / global style"
## Feature description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2021-11-02 15:59] jauyong opened #226 "FSE - Search block"
## Feature description

Search block for those other than the search in the header
See #234

Could override default WP Core block markup for search, needed for 404

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. Support all other search boxes outside of the header one in #234 (potentially the same)

[2021-11-02 15:59] jauyong opened #227 "FSE - 404 template"
## Feature description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2021-11-02 16:00] jauyong opened #228 "FSE - Archive page"
## Feature description

Archive page
Pagination, Page template for archive page

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2021-11-02 16:00] #209 closed

[2021-11-02 16:23] jauyong commented on #141
Need to determine if we can implement hamburger menu curation or if we need to implement the temporary solution.

[2021-11-02 16:31] jauyong commented on #141
@jauyong to make this an "epic" ticket for the header block overall. Then create individual tickets related to the header for:

1. User is able to manage Tabs
2. User is able to manage Title
3. User is able to manage Subtitle
4. User is able to manage Dark Mode Switch
5. User is able to manage Search (outside drawer)
6. User is able to manage a Logo (outside drawer)
8. User is able to manage a Ham

[2021-11-02 16:46] jauyong commented on #228
@jauyong to create a separate ticket for pagination

[2021-11-02 17:00] jauyong commented on #139
For the first release of FSE, we'll keep the customizer and make sure it is enabled when FSE is turned on. Later we'll determine how to port over features to the FSE editor panel.

[2021-11-03 08:31] PatelUtkarsh commented on #61
@csossi This is updated, Can you verify on test site?

[2021-11-03 19:17] jauyong opened #229 "[FSE] Tab Block for Header Block"
## Feature description

Create a Tab Block to replicate the current header

![image](https://user-images.githubusercontent.com/5874851/140177718-b62492a6-ee1c-477c-b0aa-3cf53f606a70.png)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. User is able to manage Tabs

## Implementation brief

*

## QA test

[2021-11-03 19:18] jauyong opened #230 "[FSE] Title Block for Header"
## Feature description

Create a Title Block to replicate the current header

![image](https://user-images.githubusercontent.com/5874851/140177718-b62492a6-ee1c-477c-b0aa-3cf53f606a70.png)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. User is able to manage Tabs

## Implementation brief

*

## QA te

[2021-11-03 19:19] jauyong opened #231 "[FSE] SubTitle Block for Header"
## Feature description

Create a SubTitle Block to replicate the current header

![image](https://user-images.githubusercontent.com/5874851/140177718-b62492a6-ee1c-477c-b0aa-3cf53f606a70.png)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. User is able to manage SubTitles

## Implementation brief

*

[2021-11-03 19:21] jauyong opened #232 "[FSE] Dark Mode Switch Block for Header"
## Feature description

Create a Dark Mode Switch Block to replicate the current header

![image](https://user-images.githubusercontent.com/5874851/140177718-b62492a6-ee1c-477c-b0aa-3cf53f606a70.png)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. User is able to manage the Dark Mode Switch

## Implem

[2021-11-03 19:22] jauyong opened #233 "[FSE] Logo Block for Header"
## Feature description

Create a Logo Block (outside hamburger drawer) to replicate the current header

![image](https://user-images.githubusercontent.com/5874851/140177718-b62492a6-ee1c-477c-b0aa-3cf53f606a70.png)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. User is able to manage the Logo (outsid

[2021-11-03 19:24] jauyong opened #234 "[FSE] Search Block for Header"
## Feature description

Create a Search Block (outside hamburger drawer) to replicate the current header

![image](https://user-images.githubusercontent.com/5874851/140177718-b62492a6-ee1c-477c-b0aa-3cf53f606a70.png)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. User is able to manage the Search Box

[2021-11-03 19:26] jauyong opened #235 "[FSE] Hamburger Menu Block for Header Block"
## Feature description

Create a Hamburger Menu Block to replicate the current header

![image](https://user-images.githubusercontent.com/5874851/140177718-b62492a6-ee1c-477c-b0aa-3cf53f606a70.png)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. User is able to manage the Hamburger Menu

## Implementa

[2021-11-03 19:28] jauyong opened #236 "FSE - Pagination"
## Feature description

Support Pagination on Archive Pages

Current archive page pagination design:

<img width="1164" alt="image" src="https://user-images.githubusercontent.com/5015489/140277621-5fe04a5d-0cea-4bd9-9b22-334b11136877.png">

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. Allow archive

[2021-11-03 19:29] jauyong opened #237 "FSE - Card Collection"
## Feature description

Support a Card Collection block for archive pages

Current card:
<img width="528" alt="image" src="https://user-images.githubusercontent.com/5015489/140276800-cbde5cc8-a177-4d06-a328-cc1bb13661ea.png">

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. Page templates are able to s

[2021-11-04 11:11] PatelUtkarsh commented on #146
@jauyong We can close this one and move windows AC out as you mentioned ☝️ .

[2021-11-05 15:27] PatelUtkarsh commented on #225
Maybe duplicate of #147

[2021-11-05 15:45] PatelUtkarsh commented on #235
Try with providing editable hamburger menu, fallback to dynamic.

[2021-11-05 15:46] PatelUtkarsh commented on #142
Duplicate of #229

[2021-11-05 15:46] #142 closed

[2021-11-05 16:02] #225 closed

[2021-11-06 05:20] #215 closed

[2021-11-10 06:14] #195 closed

[2021-11-11 15:32] jauyong commented on #61
@csossi You can reference the mockups in the description for correct positioning of the settings.

[2021-11-16 14:39] jauyong opened #243 "[FSE] Clean up Existing Templates"
## Feature description

Setup the theme.JSON file for FSE

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance Criteria

1. Remove duplicate CSS variables from CSS in theme.JSON
2. @jauyong to create a separate ticket for this: If we are going to support backwards compatibility we will need to handle the footer, post t

[2021-11-18 15:09] jauyong commented on #210
Not supported by browsers at the moment

[2021-11-18 15:27] #15 closed

[2021-11-18 15:27] #202 closed

[2021-11-18 15:28] #204 closed

[2021-11-20 20:49] csossi commented on #61
Verified in QA

[2021-11-25 15:22] #138 closed

[2021-11-27 04:34] lbgitjp opened #248 "on windows 11, 'npm install' return error"
## Bug Description
on windows 11.
run:
`'npm install'`
return:

[code]
because composer install will run file 'install-pre-commit-hook.sh'

but this file can't run success on win11.

on ubuntu, it is ok.

## Expected Behaviour

run success.

## Steps to reproduce

1. install Docker desktop
2. install chocolatey
3. choco install nodejs --version=16.13.0
4. choco install php composer docker-compose

[2021-11-27 06:22] PatelUtkarsh commented on #248
Hello @lbgitjp, Can you comment following line in package.json and re-try? Also, run `composer install` post `npm install` manually.

https://github.com/material-components/material-design-for-wordpress/blob/06b8aaae5ef7ce614c57b6b1f179e349dc5e860e/package.json#L181

Note: Current local setup isn't supported in windows, There is a potential task to support that in https://github.com/material-compo

[2021-11-27 08:52] lbgitjp commented on #248
i run 'npm install', it is ok.
then run 'composer install', return the same error.

[code]
thanks!

[2021-11-27 09:05] #248 closed

[2021-11-30 17:07] jauyong commented on #146
macOS should be prioritized over windows. Windows users can use docker if we aren't able to get to the support

[2021-11-30 17:09] jauyong opened #249 "Use the trunk version on our theme"
## Feature description

We want to use the latest WP version.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. Update build settings to use the trunk version on our theme
2. As a developer I can decide which version of WP I want to puil in. (consider adding this in the config)

## Implementation brief

[2021-11-30 17:11] jauyong opened #250 "Windows OS Dev Support"
## Feature description

Help Windows users be able to contribute and work on the theme.

Note: macOS should be prioritized over windows. Windows users can use docker if we aren't able to get to the support

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

1. Fix issues with Windows OS
2. Add a sample wp-en

[2021-11-30 17:12] jauyong commented on #243
putting this in the backlog for when we want to drop backwards compatibility.

[2021-11-30 17:12] jauyong commented on #146
Closing this as follow up tickets have been created.

[2021-11-30 17:21] jauyong commented on #140
Note: All of these except for buttons may be covered in other tickets.  We also need to confirm if we need to migrate buttons. Once confirmed we will story point accordingly or close this ticket.

[2021-12-08 23:51] igruszkauy opened #255 "[FSE] FSE opt in option"
## Feature description

As a user, I want to opt in or out from using full site editing, so I can chose the mode I prefer to use for the theme (traditional or full site editing)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria
1. An option via admin is provided for the user to opt in to full site editing m

[2021-12-08 23:53] igruszkauy opened #256 "[FSE] Test FSE for backwards compatibility"
## Feature description

Material theme should be backward compatible with traditional theme if user opt out of full site editing or uses older version of WordPress ie. 5.8.

We need to test that everything is working.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

- Plugins and Theme should work with Wo

[2021-12-09 16:48] #167 closed

[2021-12-10 16:55] a7medm7med opened #258 "Can't start the Docker environment"
## Bug Description

My OS is windows so I can't run directly 'npm run env:start' because I'm getting this error:

`'bin' is not recognized as an internal or external command`

So I change the terminal profile to Git Bash and call directly `bin/start.sh` but I got this error:

`Starting up containers ...

failed to get console mode for stderr: The handle is invalid.
[+] Building 0.2s (2/2) FINISHED

[2021-12-10 21:34] #258 closed

[2021-12-14 17:19] Foxei opened #260 "Incosisten Footer Placement"
## Bug Description

The `<footer></footer>` tag is not consistently placed by the theme. Static pages and the search page place the footer as a direct child of the `<body></body>` tag, but archive pages such as the author or category pages place the footer as a child of the page block.

## Expected Behaviour

The footer should be consistently either part or not part of the page tag.

## Steps to r

[2021-12-15 03:36] #249 closed

[2021-12-18 09:54] PatelUtkarsh opened #263 "Add dark mode theme / plugin screenshots"
## Feature description

- Add screenshot for dark mode in material theme / plugin as an asset.

## Acceptance criteria

*

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2021-12-27 16:53] #260 closed

[2021-12-27 17:51] emeaguiar commented on #226
@PatelUtkarsh I just left a couple comments in the PR

[2022-01-04 15:55] emeaguiar commented on #226
Approved PR

[2022-01-05 03:48] PatelUtkarsh opened #275 "Create test environment for full site editing"
## Feature description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria
- Run WP beta4 or later. (5.9).
- Deploy `full-site-editing`branch.
- Good to have auto deployment when merging code to `full-site-editing`.
## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2022-01-06 18:16] igruszkauy opened #278 "[FSE] Footer Block - Footer block not displaying/updating color as expected"
## Bug Description

Footer block not displaying/updating text and icons colors as expected

## Expected Behaviour

The text and icons in the footer should use the **On Footer Color (text and icons)** color configured

## Steps to reproduce

1. Go to https://fse-mdc-web.pantheonsite.io/test-page/
2. Verify the color of the "back to top" icon is the configured primary color (#6200ee)
3. Click on the

[2022-01-06 18:20] igruszkauy opened #279 "[FSE] Header - Header not displayed at the expected position"
## Bug Description

Header is not displayed at the expected position

## Expected Behaviour

Header should be displayed at the top of the page without any margin applied

## Steps to reproduce

1. Go to https://fse-mdc-web.pantheonsite.io/test-page/
2. Verify the position of the header

## Screenshots
![image](https://user-images.githubusercontent.com/2902880/148431461-097b37a8-2cc3-4312-b649-f067

[2022-01-11 17:30] PatelUtkarsh opened #282 "Fix block names"
## Bug Description
WP plugin listing shows 12 blocks with same name:

https://wordpress.org/plugins/material-design/

![image](https://user-images.githubusercontent.com/5015489/148992129-a7b3a8ee-3dfe-485b-8d72-9e69b68fa9c2.png)

## Expected Behaviour

Block should display the correct block name.

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Sc

[2022-01-12 09:36] PatelUtkarsh commented on #232
Testing instructions:

1. User should be able to add / remove dark mode switch with FSE - should be available by default in header.
2. On click, it should change to dark mode color.

https://user-images.githubusercontent.com/5015489/149108986-a78f3cbf-2d86-4446-ba8d-37e3561f65a9.mp4

[2022-01-12 09:38] PatelUtkarsh commented on #144
Testing instructions:

1. User should be able to  add/remove footer back to top button.
2. On click, it should take the user to top.

https://user-images.githubusercontent.com/5015489/149109896-a0802208-669b-4794-b9ef-7489fd978125.mp4

[2022-01-12 09:45] PatelUtkarsh commented on #226
**Testing instruction:**

1. Use new material search block.
1. This is used in 404 page #227 and search page.
2. To view search page, appending `/?s=test` to current site URL.

![image](https://user-images.githubusercontent.com/5015489/149112504-afde54d3-b95e-4fad-b9f2-b91471820889.png)

[2022-01-12 15:40] igruszkauy commented on #230
Verified via https://fse-mdc-web.pantheonsite.io/wp-admin/site-editor.php?postType=wp_template_part&postId=material-design-google%2F%2Fheader

- By default, Header template part displays the Title block showing the site title configured via Settings>General>Site title. This was verified via the "Restore template to default state" option in the Header template part
- User can change the text from t

[2022-01-12 22:14] igruszkauy commented on #231
Verified via https://fse-mdc-web.pantheonsite.io/wp-admin/site-editor.php?postType=wp_template_part&postId=material-design-google%2F%2Fheader

- OK / User can change the text from the Site Tagline block and it's reflected on all of the pages of the site using the header
![image](https://user-images.githubusercontent.com/2902880/149229826-931b7a82-5ccb-414a-908b-e3ab2c0bb8c5.png)

- OK / User is ab

[2022-01-12 22:36] igruszkauy commented on #232
Verified via https://fse-mdc-web.pantheonsite.io/wp-admin/site-editor.php?postType=wp_template_part&postId=material-design-google%2F%2Fheader

- OK / User can remove the Dark Mode Switch from the Header
![image](https://user-images.githubusercontent.com/2902880/149233229-8eb8da64-0376-4c56-b851-ec92524493c9.png)

- OK / User can re-add the Dark Mode Switch into the Header
![image](https://user-ima

[2022-01-13 12:32] igruszkauy commented on #144
Verified via https://fse-mdc-web.pantheonsite.io/wp-admin/site-editor.php?postType=wp_template_part&postId=material-design-google%2F%2Ffooter

- OK / User can remove the Back to Top block from the Footer
![image](https://user-images.githubusercontent.com/2902880/149330138-c968185d-9f60-4232-8073-96602bea10d3.png)
![image](https://user-images.githubusercontent.com/2902880/149330322-1f369a9c-a39f-4d

[2022-01-13 12:53] igruszkauy commented on #233
Verified via https://fse-mdc-web.pantheonsite.io/wp-admin/site-editor.php?postType=wp_template_part&postId=material-design-google%2F%2Fheader

- OK / User can remove the Site Logo block from the Header
![image](https://user-images.githubusercontent.com/2902880/149332360-4ade4e68-ca87-40a2-9550-d6a0dafea553.png)
![image](https://user-images.githubusercontent.com/2902880/149332496-4d31b4d1-f694-4441

[2022-01-13 16:31] #250 closed

[2022-01-13 17:48] igruszkauy opened #283 "[FSE] Header not restoring template to default state as expected"
## Bug Description

Header not restoring template to default state as expected

## Expected Behaviour

After making changes to the header, the user should be able to restore template to default state and it should be displayed with Site Logo, Site Title and Dark mode Switch

## Steps to reproduce

1. Go to Editor
2. Select the header and remove Site Title and Dark Mode Switch blocks
3. Save
4. Go

[2022-01-14 10:49] igruszkauy commented on #143
Verified via: https://fse-mdc-web.pantheonsite.io/wp-admin/site-editor.php?postType=wp_template_part&postId=material-design-google%2F%2Ffooter

- OK / Footer Template to manage the footer of the site is available
![image](https://user-images.githubusercontent.com/2902880/149500584-9e91df75-6bb4-4b89-bcc2-aad5b648cf22.png)

- OK / Footer has a paragraph and Back to Top button by default
![image](ht

[2022-01-14 11:02] igruszkauy commented on #226
- OK / Search block is displayed in 404 page
![image](https://user-images.githubusercontent.com/2902880/149504030-f055af18-f1e3-4f21-9192-2a72bba0caec.png)

- NOT OK / Search block is displayed in search page by default [/?s=test](https://fse-mdc-web.pantheonsite.io/?s=test)

- NOT OK/ User can add the Material Search Box to the Search page and it's reflected on the page
![image](https://user-imag

[2022-01-18 15:01] PatelUtkarsh commented on #236
Last link in pagination is not working as expected.

[2022-01-20 07:38] PatelUtkarsh opened #286 "[FSE] Post template"
## Feature description

Create a page template for single post

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

- Create a default Post page including:
  - Date
  - Category
  - Title
  - Featured image
  - Author
  - Prev/Next
- The blocks should used are going to the wordpress core with styling to match

[2022-01-25 13:19] PatelUtkarsh commented on #143
We have removed widget part from AC since FSE should have widget as blocks. @igruszkauy

[2022-01-25 16:13] igruszkauy opened #288 "[FSE] Page template"
## Feature description

Create a page template for pages

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

- Create a default Page template including:
  - Title
  - Featured image
- If the editor removes the title block, the content should be fixed to the header without any gap
- All pages use the template

[2022-01-26 14:10] igruszkauy commented on #143
Verified via: https://fse-mdc-web.pantheonsite.io/wp-admin/site-editor.php?postType=wp_template_part&postId=material-design-google%2F%2Ffooter

**Regression**
OK / Footer Template to manage the footer of the site is available
OK / Footer has a paragraph and Back to Top button by default
![image](https://user-images.githubusercontent.com/2902880/151176094-c73280ff-6cf0-4010-a553-2001816da04e.png)
O

[2022-01-26 14:12] igruszkauy commented on #278
Verified via https://fse-mdc-web.pantheonsite.io/test-page/ - Issue is fixed
![image](https://user-images.githubusercontent.com/2902880/151178446-aa39c1a5-8bb6-4d61-b6a4-feb67c268247.png)

[2022-01-26 14:39] igruszkauy commented on #237
[Verified via https://fse-mdc-web.pantheonsite.io/fse-card-collection237/](https://fse-mdc-web.pantheonsite.io/wp-admin/site-editor.php?postType=wp_template&postId=material-design-google%2F%2Farchive)

OK / Card Collection for Query Loop is added to the archive page
![image](https://user-images.githubusercontent.com/2902880/151182315-f49f53aa-41dd-4247-8d5d-88a940fe761d.png)

OK / User can add a C

[2022-01-26 15:08] PatelUtkarsh commented on #143
We will hide footer customization from customizer for FSE since footer text and FSE template won't be in sync. @igruszkauy

[2022-01-26 15:59] PatelUtkarsh commented on #143
@igruszkauy Removed customizer setting for footer.

[2022-01-26 15:59] PatelUtkarsh commented on #237
Added option to hide featured image and post title.

Trying to reproduce issue with archive duplicating header.

[2022-01-26 18:01] igruszkauy commented on #143
@PatelUtkarsh confirmed the footer option is removed from customizer for FSE. Does it make sense to change the section name "Top App Bar & Footer" name as well? We have no options for footer left.

![image](https://user-images.githubusercontent.com/2902880/151219973-d9c10c81-5a0b-4271-93e5-bffd0dfd0af1.png)

[2022-01-26 21:34] igruszkauy commented on #228
@PatelUtkarsh some questions:

1.  I can't I modify the title of the archive page? I can delete the block but I cannot update the text.
2. I don't see the page separator listed in the AC. Also, this is present in material theme
![image](https://user-images.githubusercontent.com/2902880/151248700-913f0fcb-ab13-4872-8732-f65a74f0b877.png)
3. AC mentions a subtitle but this is no available and I don'

[2022-01-27 00:17] igruszkauy commented on #237
@PatelUtkarsh I also see some differences in the style with material theme.
Material theme > 2 columns
![image](https://user-images.githubusercontent.com/2902880/151267699-09ce8479-a7af-45a4-94e6-e7e8a56e404b.png)

FSE > 3 columns, if I reload the page the borders have no radius and there is no margin between cards
![image](https://user-images.githubusercontent.com/2902880/151267674-26dfc1d4-d005-

[2022-01-27 03:33] emeaguiar commented on #231
@igruszkauy I haven't been able to reproduce the issue with customizer, I'll test in dev to see if it happens there. I do get an error like I mentioned in #230 but it does seem to be saved still

https://user-images.githubusercontent.com/1379732/151286844-2bc9ae70-3c38-4d5d-8d9e-ca234f7ef870.mp4

https://user-images.githubusercontent.com/1379732/151287256-4955f94d-a352-4e89-9643-25bcce67e633.mp4

[2022-01-27 03:58] emeaguiar commented on #233
It seems like the logo not taking to the max size was the issue, I have added the missing styles, we will need to find a way to inject the styles into the editor so we get the same experience there cc @PatelUtkarsh

https://user-images.githubusercontent.com/1379732/151289416-d1e35456-0ec3-4caa-8eb4-e968af8b91e2.mp4

[2022-01-27 06:53] PatelUtkarsh commented on #143
@igruszkauy We may remove top app bar setting from customizer as well, so I think we should hold off.

[2022-01-27 08:15] PatelUtkarsh commented on #226
Hello @igruszkauy,

2. > NOT OK / Search block is displayed in search page by default /?s=test

We have removed search block from search page in favor of search query block.

![image](https://user-images.githubusercontent.com/5015489/151318668-0b69379c-a704-41e1-9475-17e3c874bc89.png)

3. > NOT OK/ User can add the Material Search Box to the Search page and it's reflected on the page

This is bein

[2022-01-27 08:30] PatelUtkarsh commented on #237
@igruszkauy Can you share the page URL for 3 columns?

[2022-01-27 08:36] PatelUtkarsh commented on #228
Hello @igruszkauy,

1. Yes, This is generated title using WP core block, so you won't able to edit the title only able to style it.
1. Added term description block. https://fse-mdc-web.pantheonsite.io/category/classic/
1. We should discuss this one as there are setting at block level and in customizer, so how should we go about overriding or migrate those setting at block level instead and hide si

[2022-01-27 10:28] PatelUtkarsh commented on #144
@igruszkauy Can you check if this is good to move to approve? Since icon fonts are fixed in backend.

[2022-01-27 11:01] igruszkauy commented on #237
@PatelUtkarsh Sorry, here is the URL: https://fse-mdc-web.pantheonsite.io/category/block/

[2022-01-27 11:03] igruszkauy commented on #144
Verified icon fonts are updated:
![image](https://user-images.githubusercontent.com/2902880/151346576-3736925c-9ff9-45db-9346-f70a90d9b763.png)

[2022-02-01 10:28] PatelUtkarsh commented on #232
Footer update is fixed https://github.com/material-components/material-design-for-wordpress/issues/278

[2022-02-01 10:33] PatelUtkarsh commented on #237
Masonry issue can be reproduced with regular theme: https://dev-mdc-web.pantheonsite.io/category/block/

[2022-02-01 11:18] igruszkauy commented on #227
Verified via https://fse-mdc-web.pantheonsite.io/wp-admin/site-editor.php?postType=wp_template

OK / 404 template is available
![image](https://user-images.githubusercontent.com/2902880/151957422-2a594e1b-6ac2-456d-b97e-c640198faa33.png)
![image](https://user-images.githubusercontent.com/2902880/151957503-ae497d19-42b1-400a-93aa-cbfd2a797990.png)

OK / 404 template is displayed when an 404 error h

[2022-02-01 11:23] igruszkauy commented on #226
@PatelUtkarsh how can I configure the search page to display for empty results:
![image](https://user-images.githubusercontent.com/2902880/151960001-1ec15130-bbe5-4203-9173-321e90088039.png)
![image](https://user-images.githubusercontent.com/2902880/151960061-9a5fe93c-7bdc-42db-9d54-29b070bc2723.png)

[2022-02-01 11:27] igruszkauy commented on #226
OK / Confirmed the search block can be added into the search template
![image](https://user-images.githubusercontent.com/2902880/151960385-42a9a1d6-c1bd-49e2-9a9a-2eb21dff30df.png)

OK / Confirmed the search query block is displayed by default in the search template
![image](https://user-images.githubusercontent.com/2902880/151960487-75694508-bdb8-4130-b35a-6c129a283583.png)

[2022-02-01 11:41] igruszkauy commented on #233
OK / After adding the Site Logo block and saving, the logo is displayed correctly
![image](https://user-images.githubusercontent.com/2902880/151962084-fce4ce20-f361-4775-9557-adb3b8b7ea5e.png)

[2022-02-01 11:44] igruszkauy commented on #230
OK / If user re-adds the Site Title block, the title is displayed correctly
![image](https://user-images.githubusercontent.com/2902880/151962655-085c4c52-1291-4996-8e51-5b268a140b41.png)
![image](https://user-images.githubusercontent.com/2902880/151962716-d8913490-267f-45db-ac68-cc1e4a90d947.png)

[2022-02-01 22:18] felipebochehin87 opened #297 "Test card - please disregard"
## Feature description

This is just a test, please disregard.
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2022-02-01 22:19] #297 closed

[2022-02-01 22:19] felipebochehin87 commented on #297
closing

[2022-02-02 10:06] igruszkauy opened #298 "[FSE] Image list layout for Query Loop"
## Feature description

Create a new Query Loop template to support the post layout "Image List" provided in Customizer
![image](https://user-images.githubusercontent.com/2902880/152132703-dd10dcb9-610b-46c7-8ecb-61298a97eaf1.png)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* User is able to add "Ima

[2022-02-02 12:39] felipebochehin87 commented on #143
LGTM.

[2022-02-02 12:41] felipebochehin87 commented on #144
LGTM.

[2022-02-02 13:00] felipebochehin87 commented on #232
LGTM.

[2022-02-02 13:01] felipebochehin87 commented on #233
LGTM.

[2022-02-02 13:08] felipebochehin87 commented on #231
LGTM.

[2022-02-02 13:08] felipebochehin87 commented on #230
LGTM.

[2022-02-03 09:22] felipebochehin87 commented on #226
LGTM.

[2022-02-03 11:19] felipebochehin87 commented on #236
**NOK:**

When I reach the last page of the archives, I am still able to click on the "next page" button, which takes me to a "Page not found". Testing locally with the current version of the pagination, when I reach the last page, "next page" and "last page" buttons are disabled, the same way it happens when I am on the first page ("previous page" and "first page" buttons are disabled).

**This i

[2022-02-07 10:20] PatelUtkarsh commented on #237
Todo: Add elevated or outlined option.

[2022-02-10 08:28] PatelUtkarsh commented on #255
Hello @igruszkauy, We will need copy for showing:
1. Admin notice to opt in.
1. Description for customize control.

[2022-02-11 17:09] felipebochehin87 commented on #279
LGTM. Tested on Safari, Chrome and Firefox.

![header](https://user-images.githubusercontent.com/96055551/153636323-1fe031ac-6fe4-402b-8513-a668bcd56358.png)

[2022-02-18 07:43] PatelUtkarsh commented on #228
To address point 3 we have added #303.

[2022-02-18 07:46] PatelUtkarsh commented on #227
This one should be handled by WP core, I am not able to reproduce it locally @felipebochehin87 can you please give it a try?

[2022-02-18 10:50] felipebochehin87 commented on #227
LGTM.

https://user-images.githubusercontent.com/96055551/154668810-ea8ce674-9c0b-4567-9257-dc82cc143b2b.mp4

[2022-02-18 10:59] felipebochehin87 commented on #236
LGTM.

When the user reaches the last page, next (>) and jump to last (>|) are disabled.
When the user reaches the first page, previous (<) and jump to first (|<) are disabled.

[2022-02-21 08:32] felipebochehin87 commented on #237
LGTM.

[2022-02-21 09:04] felipebochehin87 commented on #228
LGTM.

[2022-02-21 09:04] felipebochehin87 commented on #286
LGTM.

[2022-02-25 06:17] PatelUtkarsh commented on #256
Hello @igruszkauy, I've updated AC, Can you please take a look?

[2022-02-25 11:36] igruszkauy commented on #256
@PatelUtkarsh AC looks good, thank you. This can be tested together with FSE option ticket?

[2022-02-28 08:19] PatelUtkarsh commented on #256
Yes, it can be tested except header part which is work in progress. @igruszkauy

[2022-02-28 10:04] #140 closed

[2022-03-01 15:42] igruszkauy commented on #256
@felipebochehin87 as per the comment above, this can be tested except header part which is work in progress.

[2022-03-01 15:43] igruszkauy commented on #283
@felipebochehin87 assigning to you, can you please verify if this is working for you?

[2022-03-01 19:22] felipebochehin87 commented on #283
@igruszkauy I still see the issue. When I reset the Header, the only thing that is reset is the dark mode button. The title and the tagline are not recovered.

[2022-03-01 19:41] felipebochehin87 commented on #283
@PatelUtkarsh I still see the issue. When I reset the Header, the only thing that is reset is the dark mode button. The title and the tagline are not recovered.

[2022-03-02 12:07] felipebochehin87 commented on #256
LGTM.

[2022-03-02 13:47] PatelUtkarsh commented on #283
@felipebochehin87 I've fixed the issue:

Header is consisting of total 3 template part -
<img width="978" alt="image" src="https://user-images.githubusercontent.com/5015489/156373709-87b5be36-df0d-4e80-af80-130c4bccf1b0.png">

Here is demo:

https://user-images.githubusercontent.com/5015489/156373751-a7595fd7-4fb6-4a98-9fac-9555b7a3cd43.mp4

[2022-03-03 15:14] felipebochehin87 commented on #283
Thanks @PatelUtkarsh . LGTM.

[2022-03-08 17:13] igruszkauy opened #313 "[M3] Color Tokens"
## Feature description

Tokens migration from M2 to M3

**Following the [Material.io guidance](https://material.io/)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

- All existing tokens migrated from M2 to M3
- References updated in code
- New roles are available as described in https://m3.material.io/f

[2022-03-08 17:13] igruszkauy opened #314 "[M3] Typography Tokens simplification"
## Feature description

Update typography to match M3 scale and tokens

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* All font variations are updated to M3 new classification as described in https://m3.material.io/styles/typography/tokens
* Items that don't have a correspondent are migrated to the clo

[2022-03-08 17:13] igruszkauy opened #315 "[M3] Dynamic colors"
## Feature description

Support for dynamic colors

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria
* Primary, Secondary colors selection available in customizer
* https://www.npmjs.com/package/@material/material-color-utilities package is integrated in customizer hooked with color color selection
* When t

[2022-03-08 17:24] igruszkauy opened #316 "[M3] Components EPIC"
## Feature description

Update components to match M3 style

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* All components are updated to match the M3 design kit as described in https://www.figma.com/community/file/1035203688168086460
* Possibility of changing the variant (primary, secondary, tertiary,

[2022-03-08 17:50] igruszkauy opened #317 "[FSE] Unit testing"
## Feature description

Create unit testing to support the new blocks created for FSE

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Unit tests are created for the new FSE blocks

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2022-03-08 17:57] igruszkauy commented on #243
Closing as it's not needed.

[2022-03-08 17:57] igruszkauy commented on #139
Closing as it's not needed.