[2022-03-09 04:40] PatelUtkarsh commented on #139
We can reopen when we want to move color settings from customizer to FSE.

[2022-03-09 04:40] #139 closed

[2022-03-09 04:41] PatelUtkarsh commented on #243
We can reopen when we want to move site to FSE only.

[2022-03-09 04:41] #243 closed

[2022-03-18 20:16] #275 closed

[2022-03-22 04:12] PatelUtkarsh commented on #298
Example: https://fse-mdc-web.pantheonsite.io/wp-admin/site-editor.php?postType=wp_template&postId=material-design-google%2F%2Farchive

https://fse-mdc-web.pantheonsite.io/category/block/

It doesn't work with material masonry layout: I will take a look.
<img width="281" alt="image" src="https://user-images.githubusercontent.com/5015489/159406538-2a602680-e864-40e9-96f4-3277c00223e3.png">

[2022-03-22 17:11] igruszkauy opened #322 "Audit existing components"
## Feature description

Audit of all components

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Audit of all components is complete, highlighting components that are not present in M3

Note: If all components are present we can proceed with https://github.com/material-components/material-design-for-wor

[2022-03-23 08:04] PatelUtkarsh commented on #234
@felipebochehin87 You can see demo in https://github.com/material-components/material-design-for-wordpress/pull/311

[2022-03-23 08:35] PatelUtkarsh commented on #298
Fix added https://github.com/material-components/material-design-for-wordpress/pull/323.  Deployed to FSE site to test.

Issue only appearing on Firefox.

[2022-03-23 11:23] felipebochehin87 commented on #234
@PatelUtkarsh the functionality looks good, but I noticed a layout issue on both Firefox, Safari and Chrome.

1. Click on the magnifying glass
2. Search for "test" - see that the "Search Results for: test" are slightly covered be the upper banner

The video below is showing Chrome, but the behavior is the same on Firefox and Safari too.

https://user-images.githubusercontent.com/96055551/159688426

[2022-03-23 11:38] PatelUtkarsh commented on #234
Hello @felipebochehin87, Thank you for checking.

Padding is controlled by template editor:

https://user-images.githubusercontent.com/5015489/159690864-02366f5e-f261-4101-bfbe-92d1c39c25e8.mp4

[2022-03-23 12:11] felipebochehin87 commented on #298
@PatelUtkarsh looks good to me, thanks.

@igruszkauy please, what should we expect on the list view? Is this looking good or should we have any different behavior?

1. Checked list and grid view
2. Checked Masonry and default views

https://user-images.githubusercontent.com/96055551/159696067-fe91efa7-9624-4c99-ad06-462545e50c2e.mp4

https://user-images.githubusercontent.com/96055551/159696062-b49

[2022-03-23 14:39] igruszkauy commented on #298
@PatelUtkarsh couple of questions:

- How can I make the list display in two columns as we have for non fse? https://fse-mdc-web.pantheonsite.io/category/block/ vs https://dev-mdc-web.pantheonsite.io/category/block/
- I don't seem to be able to find where to switch title, description etc for the grid view. This was available through "show/hide post information
now: ![image](https://user-images.git

[2022-03-24 11:45] PatelUtkarsh commented on #298
Hello @igruszkauy,

1. Select query loop from bottom and change columns to 2. Screenshot attached:
2. Image card doesn't have option to show / hide fields, We have those options in material card.

<img width="302" alt="image" src="https://user-images.githubusercontent.com/5015489/159909390-98f455a3-c366-4abc-92f5-e5eb04b606c2.png">

[2022-03-24 14:26] igruszkauy commented on #298
@PatelUtkarsh this looks good, is there anything else that you think we should verify?

[2022-03-25 11:07] igruszkauy commented on #234
I have verified the use of the search block for header and it looks good

[2022-03-31 15:45] PatelUtkarsh commented on #322
List of components used by material plugin and theme:

1. Tab
1. Button
1. Form
    1. Text field
    1. Text area
1. List
1. Data table
1. Icon
1. Gallery masonry
1. Material card
1. Image card

[2022-04-02 13:30] igruszkauy opened #324 "[M3] Components - Tab"
## Feature description

Update Tab component to match M3 style

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Tab block is replaced with m3 specs as provided by MDC
* When the user opens Gutenberg page with m2 component it automatically migrates to M3

## Implementation brief

*

## QA testing instruc

[2022-04-02 13:31] igruszkauy opened #325 "[M3] Components - Button"
## Feature description

Update Button component to match M3 style

Button specs: https://m3.material.io/components/buttons/specs

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Button block is replaced with m3 specs as provided by MDC
* When the user opens Gutenberg page with m2 component it automatica

[2022-04-02 13:32] igruszkauy opened #326 "[M3] Components - Form"
## Feature description

Update Form component to match M3 style.

Specs: https://m3.material.io/components/text-fields/specs

Figma: https://www.figma.com/file/pHzNW5Ef6zckGSMqQWY0m3/Material-3-Design-Kit-(Community)?node-id=51189%3A6055

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Form and it's inp

[2022-04-02 13:32] igruszkauy opened #327 "[M3] Components - List"
## Feature description

Update List component to match M3 style

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* List block is replaced with m3 specs as provided by MDC
* When the user opens Gutenberg page with m2 component it automatically migrates to M3

## Implementation brief

*

## QA testing instr

[2022-04-02 13:33] igruszkauy opened #328 "[M3] Components - Data Table"
## Feature description

Update Data Table component to match M3 style

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Data table block is replaced with m3 specs
* Reference: https://m3.material.io/foundations/design-tokens/overview

![image](https://user-images.githubusercontent.com/2902880/170083273-c

[2022-04-02 13:33] igruszkauy opened #329 "[M3] Components - Gallery Masonry"
## Feature description

Update Gallery Masonry component to match M3 style

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Gallery Masonry block is replaced with m3 specs
* When the user opens Gutenberg page with m2 component it automatically migrates to M3

## Implementation brief

*

## QA testing in

[2022-04-02 13:34] igruszkauy opened #330 "[M3] Components - Material Card"
## Feature description

Update Material Card component to match M3 style

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Material card block is replaced with m3 specs according to [M3 design kit](https://www.figma.com/community/file/1035203688168086460)
* When the user opens Gutenberg page with m2 comp

[2022-04-02 13:35] igruszkauy opened #331 "[M3] Components - Image Card"
## Feature description

Update Image Card component to match M3 style

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Material image card block is replaced with m3 specs repurposing Material Card component (https://www.figma.com/community/file/1035203688168086460)
* When the user opens Gutenberg page w

[2022-04-04 09:52] ghost opened #332 "Introduce AMP compatibility"
## Feature description

Make the Material Design Plugin for Wordpress compatible with AMP

---------------

## Acceptance criteria

*

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2022-04-05 14:26] felipebochehin87 commented on #235
@PatelUtkarsh @emeaguiar good afternoon! Please find below a video with some issues:

1. When I make the text bold/italic, the FE displays the tags instead of displaying the text formatted;
2. While editing the hamburger menu text, when I make a the title and the subtext bold or bold and italic, these texts are set to bold or bold and italic. However, settings on the third text (the one right abov

[2022-04-05 14:49] felipebochehin87 commented on #229
@igruszkauy this looks good to me on the front end. I changed the menus, the look and feel, and this looks good to me.

[2022-04-05 15:23] PatelUtkarsh commented on #229
@felipebochehin87 apart from minor bug with color on editor vs frontend nothing else is in progress.

[2022-04-06 16:09] igruszkauy opened #337 "Active link for tab block not displaying correctly"
## Bug Description

Active link for tab block not displaying correctly

## Expected Behaviour
Active link displayed correctly under the selected tab

## Steps to reproduce

1. Go to https://fse-mdc-web.pantheonsite.io/
2. Click on "About" from the main navigation
3. See the link displaying correctly after the About tab
4. Click on "Blog" from the main navigation

## Screenshots

<img width="1023"

[2022-04-08 10:11] igruszkauy opened #338 "Add image card and material card with pattern support for non FSE"

[2022-04-08 10:12] igruszkauy opened #339 "Add 'useBlockProps' to material blocks."
## Feature description

Add 'useBlockProps' to material blocks

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Use block props API to for WordPress plugin blocks: https://developer.wordpress.org/block-editor/reference-guides/block-api/block-edit-save/#block-wrapper-props

## Implementation brief

*

##

[2022-04-08 17:13] felipebochehin87 commented on #235
Ready for UAT. @igruszkauy

Thanks @emeaguiar @PatelUtkarsh

[2022-04-09 11:16] igruszkauy commented on #235
@emeaguiar I have found some issues for you to review:

- When comparing with non fse:
  - Close button is missing on hover style
  - The menu is missing the on selected style

- When I go to page template I see the material title and close button duplicated many times
<img width="836" alt="image" src="https://user-images.githubusercontent.com/2902880/162569474-a15348b7-6145-40e0-9cee-3e0589ff2121

[2022-04-11 11:00] PatelUtkarsh commented on #337
Issue reported in Gutenberg WordPress GitHub (`#40222`)

[2022-04-12 14:50] emeaguiar commented on #235
@igruszkauy I'm not really sure these are issues:

This seems to be happening in both fs and non-fse sites, hover effect is not present on first load but it appears after clicking it for the first time, may be the component itself

![Screen Recording 2022-04-12 at 09 46 15 a m](https://user-images.githubusercontent.com/1379732/162990027-192f6030-c0aa-4f43-bcf1-5ac9b7cc0558.gif)

I'm not sure I und

[2022-04-12 17:24] igruszkauy commented on #235
1. Close button is missing on hover style

I see that, it seems that it only shows after you click that one time

2. The menu is missing the on selected style

When you select an item in the main navigation for example "Blog" it should be also selected in the hamburger menu, also if you navigate from the hamburger menu to a page, that page should be "selected" in the menu. See screen from local en

[2022-04-13 11:39] PatelUtkarsh commented on #313
List of color tokens: https://m3.material.io/styles/color/the-color-system/tokens#7fd4440e-986d-443f-8b3a-4933bff16646

[2022-04-13 15:51] PatelUtkarsh commented on #322
FSE:

- [ ] Tab bar
- [ ] Button with icon
- [ ] Search field
- [ ] Material Card
- [ ] Image card

[2022-04-19 08:44] PatelUtkarsh commented on #314
In material plugin, For each group of role - Should we have common font face picker or should have it separate for each one? (In other words, Should display large, display medium and display small can have single font picker for simplification?) @igruszkauy

[2022-04-19 13:46] igruszkauy commented on #314
@PatelUtkarsh I think this makes sense, unless there is a scenario where the user would want to use different font-face. We can check this with Rody

[2022-04-19 16:58] PatelUtkarsh commented on #314
Mapping from M2 to M3.

[code]

[2022-04-21 10:36] igruszkauy opened #344 "[FSE] WP 6.0 beta 2 testing"
## Feature description

Test FSE implementation with WP 6.0 beta 2

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* FSE templates, template parts and blocks are working as expected

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2022-04-21 10:38] igruszkauy opened #345 "[FSE] WP 6.0 RC 3 testing"
## Feature description

Test FSE implementation with WP 6.0 RC 3

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* FSE templates, template parts and blocks are working as expected

## Implementation brief

*

## QA testing instructions

1. Access https://wp-6-mdc-web.pantheonsite.io/wp-admin/ and log in

[2022-04-21 10:39] igruszkauy commented on #344
@PatelUtkarsh can you please get this beta version and FSE version deployed to get tested?
Also, is there any specific testing instruction for this?

[2022-04-21 15:47] #339 closed

[2022-04-25 13:12] PatelUtkarsh commented on #339
@felipebochehin87 We can test all material blocks in this one:

1. Add block.
2. Save.
3. Load in frontend.

All 3 steps should not cause any error.

<img width="574" alt="image" src="https://user-images.githubusercontent.com/5015489/165095969-64a48200-b994-4bcb-85f1-ce4104564ad6.png">

[2022-04-26 13:17] PatelUtkarsh opened #347 "[M3] Update all patterns with m3 components"
## Feature description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria
- After all m3 components are merged,
- Update all existing material patterns with m3 components, colors and typography.

## Implementation brief

## QA testing instructions

Insert pattern to editor, it should not throw any error or s

[2022-04-28 11:23] PatelUtkarsh commented on #314
Hello @igruszkauy,

Note: I have mapped reverse mapped font instead of using default from for new token https://m3.material.io/styles/typography/tokens

Meaning display small will use default values from `headline1` which is defined in theme.

For display large and display medium, I have kept font size as 120 and 110 respectively and kept other font property same as display small. (display large a

[2022-04-29 08:43] PatelUtkarsh commented on #338
With query loop, we may also need to pull a material pagination blocks from FSE.

[2022-05-02 17:58] igruszkauy opened #350 "[M3] Migrate colors"
## Feature description

Migrate color settings used in customizer to M3

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Colors settings in customizer are migrated to M3

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2022-05-02 17:58] igruszkauy opened #351 "[M3] Migrate fonts"
## Feature description

Migrate font settings used in customizer to M3

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Font settings in customizer are migrated to M3

## Implementation brief

*

## QA testing instructions

When a user is coming from m2 settings:
<img width="295" alt="image" src="https:

[2022-05-02 18:02] igruszkauy opened #352 "[M3] Font picker to support M3 tokens"
## Feature description

Allow users to choose M3 tokens from Gutenberg

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The user can use M3 tokens from Gutenberg
* Font size picker is available in the sidebar when a text component is selected
* This also applies to the rest of the M3 properties for typo

[2022-05-03 12:38] PatelUtkarsh commented on #338
Ported pagination as well from `full-site-editing` branch, added condition check such that this block only gets registered if user is using WP 5.8+ since query loop was added in 5.8.

[2022-05-03 13:18] PatelUtkarsh commented on #338
Should we also port masonry layout for query loop? @igruszkauy

[2022-05-03 17:08] igruszkauy opened #354 "[M3] Color and Background color to support M3 tokens"
## Feature description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The user can use M3 tokens from Gutenberg

## Implementation brief

*

## QA testing instructions

* User is able to choose any of the M3 colors registred

## Demo

*

## Changelog entry

*

[2022-05-04 03:04] PatelUtkarsh commented on #344
@felipebochehin87 Here is WP 6 RC1 with FSE - https://wp-6-mdc-web.pantheonsite.io/wp-admin/

[2022-05-04 09:47] PatelUtkarsh commented on #351
Wrote migration for m2 settings - it will migrate when user visit admin page first time after m3 migration.

Migrating font, size and style to m3 tokens as per mapping provided in #348 ticket.

We can change when the script should trigger when we introduce wizard for informing m3 features.

[2022-05-04 14:02] PatelUtkarsh commented on #338
Added masonry layout as well with query loop.

[2022-05-05 13:10] felipebochehin87 commented on #344
@PatelUtkarsh @igruszkauy it looks good to me. Moving to UAT.

[2022-05-07 11:30] igruszkauy commented on #344
@PatelUtkarsh I found some things, I am not sure if there are issues but I thought it is worth to mention:

1. When I go to page template  https://wp-6-mdc-web.pantheonsite.io/wp-admin/site-editor.php?postType=wp_template&postId=material-design-google%2F%2Fpage
- I see that some of the blocks are not displaying their icons (search, expand, dark mode)
- The navigation menu is not showing but it is

[2022-05-12 11:25] igruszkauy opened #355 "[M3] Migrate FSE"
## Feature description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* M3 tokens, colors typography should be available for FSE
**Needs breaking down**

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2022-05-12 14:55] mattchungxwp commented on #344
@felipebochehin87 Could you take a look and confirm @igruszkauy 's findings?

[2022-05-12 15:28] felipebochehin87 commented on #344
@igruszkauy @igruszkauy @mattchungxwp I do see the same now. I changed my resolution and screen size and now the bugs are more visible.

[2022-05-14 08:06] PatelUtkarsh commented on #147
We can potentially add m2 fonts in theme.json, we are doing that as part of m3 which may eventually end up in fse. #352

[2022-05-17 09:44] PatelUtkarsh commented on #344
Hello @felipebochehin87 @igruszkauy, the fix is deployed staging on https://fse-mdc-web.pantheonsite.io, Can you confirm?

[2022-05-17 11:43] igruszkauy commented on #344
@PatelUtkarsh all items seem to be resolved.

[2022-05-17 13:00] felipebochehin87 commented on #344
LGTM.

1. All blocks are displaying their icons;
2. The navigation menu is being shown;
3. No issues with the hamburger menu;
4. Back to top block is displayed at the same position after being removed and re-added;
5. No more issues with the "comment" text.

@igruszkauy @PatelUtkarsh

[2022-05-17 15:07] #314 closed

[2022-05-17 16:52] igruszkauy opened #357 "Import and Export DSP"
## Feature description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2022-05-19 11:22] igruszkauy commented on #345
1. When I go to page template the navigation and hamburger menu are not displayed in preview, but frontend looks good
![image](https://user-images.githubusercontent.com/2902880/169281334-22744c9b-fb70-4e05-b06d-928df45ee28a.png)
vs
![image](https://user-images.githubusercontent.com/2902880/169281395-7839daa9-3000-4d99-bed1-031bd9a7775d.png)
2. Close icon in hamburger menu is not displayed as expec

[2022-05-20 06:53] PatelUtkarsh commented on #345
Hello @igruszkauy,

1. Hamburger menu is state aware: If you open menu and save page and refresh, It will keep menu open and vice-versa. Current default state on fresh installation is open hamburger menu. (This state has no frontend effect).
2. Close button: This can be configured by not allowing wrap, as shown in screenshot. `Allow to wrap to multiplelines`.
<img width="989" alt="Screenshot 2022-

[2022-05-21 11:51] igruszkauy commented on #255
@rodydavis we have updated the AC based on what we discussed last week. We have also made some adjustments in the copy to make it more straightforward. Can you please approve this new messaging?

Admin notice
Description: Google Material Theme full site editing support is available. Please note this WordPress feature is currently in beta and testing on a separate environment is advised before enab

[2022-05-21 11:53] igruszkauy commented on #345
@PatelUtkarsh Confirmed this is working as expected
Assigning to @felipebochehin87 for a final review

[2022-05-23 11:16] felipebochehin87 commented on #345
@igruszkauy @PatelUtkarsh looks good to me in Chrome, Safari and Firefox.

[2022-05-23 11:28] felipebochehin87 commented on #351
Looks good to me.

https://wp-6-mdc-web.pantheonsite.io/wp-admin/customize.php?url=https%3A%2F%2Fwp-6-mdc-web.pantheonsite.io%2F

I was able to see and edit font and font size on Body & Captions and Headlines & Subtitles.

![H S](https://user-images.githubusercontent.com/96055551/169809624-41c3e6bd-0d23-4616-9ddb-426e4f1d7fe3.png)

![B C](https://user-images.githubusercontent.com/96055551/16980962

[2022-05-23 11:37] felipebochehin87 commented on #338
Looks good to me. Masonry working as expected. Changed number of words and number of columns to be displayed, ordered posts, content layout (text over media, etc.), elevation style, etc...

[2022-05-23 11:43] felipebochehin87 commented on #314
Looks good to me. More dev and QA work to be complete in https://github.com/material-components/material-design-for-wordpress/issues/352

[2022-05-23 11:46] felipebochehin87 commented on #317
@igruszkauy @PatelUtkarsh please, who could QA this one? As far as I can tell we're good (testing manually), but I don't know how this one could be QAed from a Manual QA perspective. Maybe the devs can check this one (I guess they already did though)...

[2022-05-23 11:51] PatelUtkarsh commented on #317
@felipebochehin87 Yes, this was code reviewed.

[2022-05-23 15:25] igruszkauy commented on #351
@PatelUtkarsh is there a way we can have both font properties aligned? We could have size label above the select box maybe?

Also, the select seems to be a little bit small for some values, for example: Medium italic. Can we make it wider?
![image](https://user-images.githubusercontent.com/2902880/169852190-c5a41cba-a1ff-44cd-967d-b64723d71d4d.png)

I am not sure if I am testing properly, but I wa

[2022-05-23 15:31] igruszkauy commented on #314
@PatelUtkarsh don't we have option to select the line-height and tracking? I am only seeing size and style:
![image](https://user-images.githubusercontent.com/2902880/169854865-f240304d-6712-4b19-93ab-ced0e148a286.png)

[2022-05-24 02:24] PatelUtkarsh commented on #314
Hello @igruszkauy, The screenshot is from m2 tokens in which we did not provide those options.

[2022-05-24 02:26] PatelUtkarsh commented on #351
Hello @igruszkauy, Can you test this on https://dev-mdc-web.pantheonsite.io/wp-admin/customize.php ?

FSE site has m2 tokens.

[2022-05-24 11:10] igruszkauy commented on #314
@PatelUtkarsh I have now tested on https://dev-mdc-web.pantheonsite.io/wp-admin/customize.php and the tokens and properties look good.
I have two recommendations:
- Put size first in the list of properties
- Leave some more space between the different typographies (display large, medium etc)

@felipebochehin87 can you confirm you tested in this environment?

[2022-05-24 11:11] igruszkauy commented on #351
Tested in https://dev-mdc-web.pantheonsite.io/wp-admin/customize.php and looks good

[2022-05-25 11:07] felipebochehin87 commented on #314
@igruszkauy yep, that was the one I used. Approving this PR and retesting the items above when 359 is ready.

[2022-05-25 11:07] felipebochehin87 commented on #351
Looks good in Chrome, Safari and Firefox.

[2022-05-30 12:37] PatelUtkarsh commented on #352
Holding with me until we revert #360

[2022-06-13 23:59] rodydavis commented on #255
Copy LGTM

[2022-06-14 00:33] igruszkauy commented on #255
@PatelUtkarsh we can go ahead and finish the optin implementation

[2022-06-15 12:19] igruszkauy opened #366 "[M3] Shuffle source"
## Feature description

Provide a random color generator

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* User can chose to generate source color randomly
* The rest of the colors will be updated based on the color generated

## Implementation brief

* Random color function:
[code]

## QA testing instru

[2022-06-15 12:23] igruszkauy opened #367 "[M3] Expand color system"
## Feature description

Expand M3 core colors to include secondary, tertiary and neutral colors

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Besides source color, user can choose secondary, tertiary and neutral colors
* Source color is renamed to Primary

## Implementation brief

*

## QA testing in

[2022-06-25 03:56] PatelUtkarsh commented on #255
Hello @felipebochehin87, This is ready for testing.

Since notice is only appearing once, you can test zip locally to check various scenarios.

Changes are also deployed to https://fse-mdc-web.pantheonsite.io.

Here is full site editing build to test locally:

[material-design.zip](https://github.com/material-components/material-design-for-wordpress/files/8983815/material-design.zip)

[material-de

[2022-06-27 15:14] felipebochehin87 commented on #255
@igruszkauy looks good in QA. I tested locally installing the two zip files that @PatelUtkarsh added to a comment, then I reproduced the scenarios: Installed, didn't activate, activated, uninstalled, re-installed, clicked on Maybe Later, ...

Thanks @PatelUtkarsh for the call to explain :)

[2022-06-28 11:51] PatelUtkarsh commented on #366
This is handled in customizer by @emeaguiar in #349.

[2022-06-28 11:53] PatelUtkarsh commented on #354
Using Gutenberg's default color picker, It should display m3 tokens for text and background colors.

@emeaguiar This is different from customizer.

<img width="1199" alt="image" src="https://user-images.githubusercontent.com/5015489/176171878-a3085fd2-efee-4f79-abe0-e7d9c8666a86.png">

[2022-06-28 16:18] #345 closed

[2022-06-28 16:22] #147 closed

[2022-06-28 16:22] #226 closed

[2022-06-28 16:22] #229 closed

[2022-06-28 16:22] #232 closed

[2022-06-28 16:22] #233 closed

[2022-06-28 16:22] #234 closed, assigned to igruszkauy, felipebochehin87

[2022-06-28 16:22] #236 closed

[2022-06-28 16:22] #237 closed

[2022-06-28 16:22] #255 closed

[2022-06-28 16:22] #256 closed

[2022-06-28 16:22] #278 closed

[2022-06-28 16:22] #288 closed, assigned to igruszkauy, felipebochehin87

[2022-06-28 16:22] #298 closed

[2022-06-28 16:23] #141 closed

[2022-06-28 16:24] PatelUtkarsh commented on #235
Hello @emeaguiar, Can you review last comment? ☝️

[2022-06-30 16:01] emeaguiar commented on #235
I pushed #372 to handle the missing active indicator.

I also removed the duplicated hamburger menu from the testing site, as all the rest of the issues seem related to it, I've been trying to get it to appear locally but haven't been able to

[2022-06-30 16:59] PatelUtkarsh opened #373 "Deploy plugin via CI"
## Feature description

- Plugin should deploy on main branch push.
- CI should create theme zip file for manual upload to WP.org.

We can use https://github.com/10up/action-wordpress-plugin-deploy for plugin deployments.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brief

*

## Q

[2022-06-30 17:30] PatelUtkarsh opened #374 "Color picker for material button doesn't work as expected"
## Bug Description

![image](https://user-images.githubusercontent.com/5015489/176740703-d9dff4c1-6b51-46cf-b52b-c1d4ccfd3989.png)

## Expected Behaviour

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

## Additional context

 - WordPress version:
 - Plugin version:
 - Gutenberg plugin version (if applicable):
 - PHP version:
 - OS:

[2022-07-01 06:57] PatelUtkarsh commented on #235
@igruszkauy Above changes are deployed to fse site: fse-mdc-web.pantheonsite.io.

[2022-07-04 11:22] #235 closed

[2022-07-04 11:23] PatelUtkarsh commented on #337
Removed from milestone as we have workaround.

[2022-07-04 15:29] #352 closed

[2022-07-05 05:39] PatelUtkarsh opened #376 "Make easier to QA PR by attaching build zip file"
## Feature description

- Build and attach zip file to PR as a comment.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2022-07-05 07:18] PatelUtkarsh commented on #374
Handled in [09a1969](https://github.com/material-components/material-design-for-wordpress/pull/349/commits/09a1969bffd80578727184833db82d82c0c149ea)

[2022-07-05 08:25] #313 closed

[2022-07-05 08:35] PatelUtkarsh commented on #313
@felipebochehin87 Note: this removes dark mode toggle, We will add it back soon.

[2022-07-07 12:53] felipebochehin87 commented on #315
@igruszkauy looks good in QA. Would you please confirm?

I edited fonts, colors, button types, etc. I inspected the source code and saw the tokens, the primary, secondary, tertiary and neutral colors.

[2022-07-07 13:00] felipebochehin87 opened #379 "Issues when user clicks 2 or 3 times on the same color"
## Bug Description

- Color picker disappears if user clicks 2 or 3 times on the same color;
- Icon Styles hides options but doesn't collapse the grid below it

## Expected Behaviour

Color picker must not disappear and Icon Styles must expand/collapse on each click.

## Steps to reproduce

1. Go to https://dev-mdc-web.pantheonsite.io/wp-admin/customize.php?return=%2Fwp-admin%2Fthemes.php
2. Click

[2022-07-08 10:22] igruszkauy commented on #313
@emeaguiar / @PatelUtkarsh
A couple of questions:
- Is it ok that we have both tokens applied? Example for header we have --mdc-theme-primary and--md-sys-color-primary
![image](https://user-images.githubusercontent.com/2902880/177970573-abd77548-d69b-4cfd-bd87-704f97f372b0.png)
- How can I verify the secondary, tertiary, etc colors are saved and applied in the frontend? I can see the tokens are in

[2022-07-08 10:41] igruszkauy commented on #315
@emeaguiar / @PatelUtkarsh some comments:

- The preview in the editor shows the "old" color
![image](https://user-images.githubusercontent.com/2902880/177974568-4e20ef50-40ea-4fdd-bd0b-06eee6f60229.png)
- If I change the container color for a button, and then try to set the primary color, I go back to the "old" color and not the primary
- I am only able to select primary and secondary colors, I s

[2022-07-08 10:54] igruszkauy commented on #352
@PatelUtkarsh Verified I can select the new M3 font size from Gutemberg, however I don't see where I can select the rest of the properties?

[2022-07-08 11:20] PatelUtkarsh commented on #352
Hello @igruszkauy, Based on font it will automatically assign other properties which user selected for that token. For Example, If you set display large to an element, It will set font-weight, letter spacing etc for display large, so user don't have to make those choice in Gutenberg.

[2022-07-08 11:39] igruszkauy commented on #352
@PatelUtkarsh this is totally fine, I was confused by the AC "This also applies to the rest of the M3 properties for typography"

[2022-07-08 16:42] emeaguiar commented on #315
Hi @igruszkauy

This is not in scope (for now) but it is planned in the future, we should probably remove that from the acceptance criteria at this point and create a new ticket to extend the colors.

These are bugs, working on them

This was made to be different from customizer, BUT it should align with WordPress' behavior, which seems to have changed, I'll see if we can mimic something like the

[2022-07-11 16:38] emeaguiar commented on #379
Turns out the color picker allows deselecting colors by clicking a second time. I've added a default in case this happens

[2022-07-12 05:46] PatelUtkarsh commented on #313
This is merged.

<img width="382" alt="image" src="https://user-images.githubusercontent.com/5015489/178417537-01791a35-7014-4e7e-a9be-2dc306bc2aa1.png">

[2022-07-12 06:13] #379 closed

[2022-07-12 10:22] felipebochehin87 commented on #313
@igruszkauy does it look good to you?

![closer](https://user-images.githubusercontent.com/96055551/178469076-b0a0bbac-9ab5-4aa2-93c2-2e6cab3e5dd9.png)

![colors](https://user-images.githubusercontent.com/96055551/178469096-9fbde417-a51b-42d3-8572-767788100bbe.png)

[2022-07-12 10:56] igruszkauy commented on #313
@felipebochehin87 looks good !

[2022-07-12 18:09] mattchungxwp commented on #330
Confirm with @rodydavis : Should we support elevated version of card?

[2022-07-12 18:12] mattchungxwp commented on #328
Confirm with @rodydavis : Which M3 color tokens to use for the border and header background.

[2022-07-12 18:13] mattchungxwp commented on #354
Confirm with @rodydavis : Should we continue to use static palette or generated M3 colors?

[2022-07-12 22:14] rodydavis commented on #354
Use the new generated ones!

[2022-07-13 04:33] PatelUtkarsh commented on #328
Hello @rodydavis ,

As per [material site](https://m3.material.io/foundations/design-tokens/overview):
1. Border is using `--mio-theme-color-surface-variant` which seems like `--md-sys-color-surface-variant`
2. Table header (TD) is using `--mio-theme-color-surface-1` as background, we don't have suface-1 should we assume `--md-sys-color-surface`?

After doing above data table with generated theme

[2022-07-13 08:47] PatelUtkarsh opened #384 "[M3] Set default corner radius"
## Feature description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria
- When user upgrades from m2 to m3 - following radius should be updated to m3 default state.
    - Data table: 24px
    - Card: 12px
    - Image card: 12px
- Update above as required with new m3 components.

## Implementation brief

*

[2022-07-14 09:17] PatelUtkarsh commented on #354
QA note: Gutenberg text and background color should show m3 token:

<img width="629" alt="image" src="https://user-images.githubusercontent.com/5015489/178948430-fa35e960-6302-425b-b16b-b79f4256f702.png">

[2022-07-14 17:15] PatelUtkarsh commented on #328
Outline for border; Between headers use on surface; Background is `--md-sys-color-surface`.

[2022-07-15 06:01] PatelUtkarsh commented on #328
Hello @rodydavis,

Here is a table heading with surface variant. (Border inside header is using on surface variant)

https://user-images.githubusercontent.com/5015489/179160188-dce0e607-aecf-4e8b-974b-4c71ecfb3cf7.mp4

If we use table heading background as surface, it matches the page background. See below:

<img width="1924" alt="image" src="https://user-images.githubusercontent.com/5015489/17915

[2022-07-15 10:36] felipebochehin87 commented on #354
@igruszkauy @PatelUtkarsh the functionality looks good so far. Tested using https://dev-mdc-web.pantheonsite.io/wp-admin/post.php?post=2665&action=edit

1. Added a Media & Text block
2. Clicked on the text
3. Opened More Settings Menu
4. Changed color (background and text)
5. Selected default colors and also custom colors

My questions are (and I'm opening as questions because I'd like to confirm

[2022-07-15 14:50] igruszkauy commented on #354
@felipebochehin87 thank you for the questions!

- The check and font color of the name of the color should be white/black depending on the selected color
- Custom color is displayed, I think you need to re-test, this is what I am seeing now: ![Uploading Screen Shot 2022-07-15 at 11.47.52.png…]()
@emeaguiar I think I missed what we agreed with the name of the color? Currently showing the css name

[2022-07-15 15:28] felipebochehin87 commented on #354
Thanks @igruszkauy !!

About my second question: I thought that the custom color was supposed to be displayed along with the other colors, in a circle, just like the others. Now I see, the custom will be displayed on the rectangle. Thanks! :)

[2022-07-18 20:55] igruszkauy commented on #374
@PatelUtkarsh could you please add some details/steps to reproduce into the ticket? We are not sure which was the issue.
thank you!

[2022-07-19 03:39] PatelUtkarsh commented on #330
We got answer to above question: We are using all 3 for now. I will add additional option in card style and other places where required.

----

Card button hover state requires `rgba(var(--md-sys-color-primary), 0.08)`

Since that doesn't work with HEX and post CSS or any pre-processor won't able to help since our colors are dynamic we are exposing `--md-sys-color-primary-rgb: 155,64,82;` like thi

[2022-07-19 11:53] PatelUtkarsh commented on #374
Steps:

1. Add material button block.
2. Select color picker to change color.

[2022-07-19 21:58] felipebochehin87 commented on #374
Thanks @PatelUtkarsh

@igruszkauy I tested changing, selecting, resetting the colors in https://dev-mdc-web.pantheonsite.io/wp-admin/post.php?post=2678&action=edit and it works for me. I don't see any bug.

[2022-07-25 16:47] #330 closed

[2022-07-25 17:10] #331 closed

[2022-07-26 17:55] PatelUtkarsh commented on #328
@rodydavis to provide designer feedback on the ticket.

[2022-07-26 18:01] PatelUtkarsh commented on #328
Confirmed on call: Okay to use surface variant.

[2022-07-27 08:50] PatelUtkarsh commented on #367
@igruszkauy @emeaguiar Should we de-prioritise this against other M3 components?

[2022-07-27 15:52] PatelUtkarsh opened #392 "Material list block focus not working"
## Bug Description

## Expected Behaviour

## Steps to reproduce

1. Add material list block with 3 items.
2. Keep focus on 3rd item.
3. Click to focus on 1st list item.
4. Focus to first list item is not working.

## Screenshots

https://user-images.githubusercontent.com/5015489/181292583-90e62fd0-668a-4a92-9315-b083c24593dc.mp4

## Additional context

 - WordPress version: 6.0.1
 - Plugin versio

[2022-07-27 15:53] PatelUtkarsh commented on #392
Found issue in during e2e failing on WP 6.0. https://github.com/material-components/material-design-for-wordpress/runs/7542336278?check_suite_focus=true

[2022-07-28 06:03] PatelUtkarsh commented on #329
https://user-images.githubusercontent.com/5015489/181432006-5abc9870-382e-4abe-a241-afe401805a04.mp4

[2022-07-29 09:02] felipebochehin87 commented on #328
@PatelUtkarsh

* when I upgrade my local site to use the latest version, I see issues in the table borders. They're not rounded. I manually changed the Global Corner Styles, but I still see the square borders;
* the footer doesn't have the same background color as the header. The header is being automatically set to a color, but the footer is not.

![settings local](https://user-images.githubuserc

[2022-07-29 09:28] PatelUtkarsh commented on #328
@felipebochehin87 Is this material block or WP core table block?

[2022-07-29 09:33] felipebochehin87 opened #396 "Masonry style displays one card above the other"
## Bug Description

Masonry style displays one card above the other, making it difficult to identify the cards that are hidden.

## Expected Behaviour

Cards should be more visible.

## Steps to reproduce

1. Go to https://dev-mdc-web.pantheonsite.io/wp-admin/
2. Go to Pages and click on Add New
3. Add a Query Loop > Material Image Card for Query Loop
4. Set it to Masonry and preview page

## Scre

[2022-07-29 09:34] felipebochehin87 commented on #396
@PatelUtkarsh @igruszkauy @mattchungxwp new bug found.

[2022-07-29 09:34] felipebochehin87 commented on #330
Tested locally.

1. Downgraded the theme and the plugin version
2. Added blocks to a new page: card collection, curated card collection, material/card and query loop with material card
3. Upgraded the theme and the plugin version
4. Refreshed pages - layout updated, round corners, new color, font meets the expected. Elevation styles OK.

[2022-07-29 09:36] felipebochehin87 commented on #329
Issue found: ID 396.

[2022-07-29 09:42] felipebochehin87 commented on #331
Some thumbnails are not loading. The only load when I click on them, and when one loads, another one disappears.

https://user-images.githubusercontent.com/96055551/181732161-69f997ae-d2a1-4c45-a3bb-d047134df82a.mp4

[2022-07-29 10:25] felipebochehin87 commented on #328
@PatelUtkarsh you're right, I checked the wrong table on local, sorry. It is working in dev and in local using the correct table. Thanks for pointing that out. Moving to UAT.

[2022-07-31 14:20] igruszkauy commented on #330
@PatelUtkarsh tested locally in a fresh environment (installed theme and plugin current versions) and I am having an error when adding query loop with material card:
![image](https://user-images.githubusercontent.com/2902880/182030198-eec6d235-2b1d-4a18-820d-282e25fa461e.png)

@felipebochehin87 can you please post screenshots of how you are seeing the new components migrated? I followed the steps

[2022-07-31 14:23] igruszkauy commented on #328
I installed locally and this is what I am seeing after updating. @felipebochehin87 can you please post screenshots of how you are seeing the new components migrated? I am not sure if I am doing something wrong
<img width="782" alt="image" src="https://user-images.githubusercontent.com/2902880/182030851-f16dcf1c-2e59-4083-8c95-901d34111bd1.png">

[2022-08-01 11:25] PatelUtkarsh commented on #396
This issue happens when two masonry query loops are inserted on the same page / post.

[2022-08-01 11:53] felipebochehin87 commented on #328
@igruszkauy here's a video of how I tested in my local site (BTW, I used "Data Table (Material)" to test this).

https://user-images.githubusercontent.com/96055551/182142194-3777bf11-f506-4899-872d-27f26d857158.mp4

[2022-08-01 12:00] felipebochehin87 commented on #396
@PatelUtkarsh thanks for clarifying :) that's the bug we talked about on our call last Friday. :)

[2022-08-01 13:18] PatelUtkarsh opened #397 "Query loop selection doesn't load material icons"
## Bug Description
Query loop frame for picking post layout doesn't load material icons.

## Expected Behaviour

## Steps to reproduce
1. Insert new query loop block.
2. Select choose template.
3. See material card doesn't load material icons.

## Screenshots

<img width="1257" alt="image" src="https://user-images.githubusercontent.com/5015489/182156426-b61a6c6a-9c30-4adc-a28e-4ab4f5d8a03a.png">

[2022-08-01 14:43] PatelUtkarsh commented on #329
Hello @felipebochehin87, Can we move this one forward and track the issue with multiple masonry in #396?

[2022-08-01 16:54] felipebochehin87 commented on #329
Sure, I'll run another round of QA and let you know. If I find something else I'll kick back this one. If not, I'll move to UAT :) thanks!

[2022-08-02 05:46] PatelUtkarsh commented on #331
This is due to server side rendering component re-rendering on click, I've made edit component which will not re-render this on click. PR in code review #398 @emeaguiar

[2022-08-02 11:17] felipebochehin87 commented on #330
@igruszkauy @PatelUtkarsh

Using an existing site (videos below):

1. I see the same message "This block has encountered an error and cannot be previewed." However, when I update the theme and the plugin to 0.6.1, things work.
2. Tables and other elements look good after updating the plugin and the theme.

Using a fresh install (images below):

1. I see the same as Ivana, block doesn't load, error

[2022-08-02 11:26] felipebochehin87 commented on #328
In a fresh install, the new table (Material) is not displaying the round corners, the lines between the cells... This is working for me in an existing site.

![image](https://user-images.githubusercontent.com/96055551/182363656-787dee9f-c8e0-46eb-ae07-9aee0a1e9f84.png)

[2022-08-02 11:33] felipebochehin87 commented on #329
This is what I see in a fresh install (having installed version 0.6.1 plugin and theme). This doesn't happen in an existing (old) site. We have this issue besides the one in ticket 396.

![image](https://user-images.githubusercontent.com/96055551/182364507-dd9ba157-7ac6-4b7b-af53-487cdc9bd01d.png)

[2022-08-02 12:39] PatelUtkarsh commented on #329
Hello @felipebochehin87, The screenshot provided seems like for query loop block vs this should be used with material gallery, Can you double check?

[2022-08-02 12:47] PatelUtkarsh commented on #328
Hello @felipebochehin87, Does this work post colour generation from customizer and saving it?

<img width="303" alt="image" src="https://user-images.githubusercontent.com/5015489/182377615-4b942a40-2b51-4f99-a237-03a37f2c9e19.png">

I tested m3 zip with fresh WordPress and post color generation in customizer this seems to work for me. Can you give it a try?

Steps:
1. Fresh installation of WP.
1.

[2022-08-02 12:48] felipebochehin87 commented on #329
@PatelUtkarsh that's correct. Sorry abt that. Moving to UAT.

@igruszkauy we have a known bug, 396. Outside of that, things look good to me. I added "Gallery (Material)" to the page to run this test.

[2022-08-02 12:59] PatelUtkarsh commented on #330
This is expected since there is error and we have hotfix to release with 0.6.1 (issue happening on 0.6.0).

Note: We should not directly use material card for query loop block (And use query loop with template for material card).

For corner radius: I've created ticket earlier #384 using which we will update all default radius.

Here is a demo with fresh install (note there are no posts because it

[2022-08-02 23:31] igruszkauy opened #400 "[M3] Plugin update admin notice and color migration"
## Feature description

Upon plugin install, show admin notice or the user to select source color

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* When user updates plugin an admin notice is displayed to notify the user the site has been updated to Material Design 3 and that the color palette is going t

[2022-08-03 03:36] PatelUtkarsh commented on #400
How about following? @igruszkauy

[2022-08-03 08:34] PatelUtkarsh commented on #326
Note the buttons are handled in #325.

Demo:

https://user-images.githubusercontent.com/5015489/182562927-d4fb9612-4a05-4404-873f-07649d3721e9.mp4

[2022-08-03 09:17] PatelUtkarsh opened #402 "[M3] Component Checkbox"
## Feature description

Replace `@material/checkbox/dist/mdc.checkbox.css` M2 checkbox style with m3.

Checkbox is used within theme and to display material demo component within customizer.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brief

*

## QA testing instructions

## Demo

[2022-08-03 09:32] PatelUtkarsh opened #403 "[M3] Component drawer"
## Feature description

Replace `@material/drawer/dist/mdc.drawer.css` with m3.
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2022-08-03 09:38] PatelUtkarsh opened #404 "[M3] Component top app bar"
## Feature description

Replace m2's top app bar with m3 tokens: `@material/top-app-bar/dist/mdc.top-app-bar.css`

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2022-08-03 09:40] PatelUtkarsh opened #405 "[M3] Ripple"
## Feature description

Replace m2's `@material/ripple/dist/mdc.ripple.css` style with m3 tokens.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2022-08-03 09:43] PatelUtkarsh opened #406 "[M3] Tool tip"
## Feature description

Replace m2 style from `@material/tooltip/dist/mdc.tooltip.css` with m3 color and typography tokens.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2022-08-03 10:50] igruszkauy commented on #400
@PatelUtkarsh I like it, what about making the following adjustments?

[2022-08-03 11:34] igruszkauy commented on #400
@rodydavis can you please review the messaging?

**Your site has been updated with Material Design 3. The color palette will be generated dynamically from primary color. You can can preview the site and change the source color from customizer.**

[2022-08-04 15:18] #326 closed

[2022-08-05 23:29] igruszkauy commented on #330
@PatelUtkarsh:

1.  I am trying to replicate the steps in your video and with a fresh install I am getting this error when adding "Query loop with material card" block:
<img width="1260" alt="image" src="https://user-images.githubusercontent.com/2902880/183222128-2ccf6ea3-cd94-4001-a94d-527c1c219cfb.png">
I have installed the demo content.

Apart from this, and the fact that I need to select the s

[2022-08-05 23:30] igruszkauy commented on #328
Works as expected, besides the need of choosing source color if coming from a new install.

[2022-08-06 04:12] PatelUtkarsh commented on #330
Helllo @igruszkauy, Which plugin version are you using?

[2022-08-08 07:45] PatelUtkarsh commented on #324
Tab require migration from m2 to m3 since typography class is changes as per https://github.com/material-components/material-design-for-wordpress/pull/370/files#diff-858e445f1f1095a52fdf04e1505b6d33eca98e9eb4e0c27d909e1d75dea6f9a5

[2022-08-09 17:45] igruszkauy commented on #330
@PatelUtkarsh new install, I updated the plugin Version 0.6.0 and theme version, both installed from WP

[2022-08-10 04:21] PatelUtkarsh commented on #330
Hello @igruszkauy, Yes this is known issue with 0.6.0 - we are fixing it in #393 (0.6.1).

[2022-08-10 14:30] #327 closed

[2022-08-10 14:44] #324 closed

[2022-08-10 14:46] igruszkauy commented on #330
@PatelUtkarsh perfect, then closing because the rest of the behavior is as expected

[2022-08-10 16:19] #404 closed

[2022-08-10 17:58] #406 closed

[2022-08-11 08:18] PatelUtkarsh commented on #403
Demo:

https://user-images.githubusercontent.com/5015489/184092094-0757f2b1-e40c-4a5c-b40a-4f4b8dbf7799.mp4

QA note: Test drawer with m3 tokens as per demo.

[2022-08-11 08:19] PatelUtkarsh commented on #404
Top app bar:
<img width="1512" alt="image" src="https://user-images.githubusercontent.com/5015489/184092358-6289d4ec-933a-4068-a248-a711ae3ef9c2.png">

QA Note: Test top app bar with m3 token.

[2022-08-11 08:22] PatelUtkarsh commented on #327
QA note: Test material list block with m3 colour and typography.

[2022-08-11 08:23] PatelUtkarsh commented on #324
QA note: Test material tab block with m3 typography and color token.

[2022-08-11 08:38] PatelUtkarsh commented on #406
Tool tip is used with material button icon block.

https://user-images.githubusercontent.com/5015489/184095455-193a3f40-4780-4e8e-bc96-08f1dc93a38c.mp4

QA note: Test tool tip with m3.

[2022-08-11 17:18] rodydavis commented on #400
LGTM

[2022-08-12 16:54] igruszkauy commented on #406
Verified via: https://dev-mdc-web.pantheonsite.io/2705-2/

1. Tooltip displayed as expected for button w/ icon style.

![image](https://user-images.githubusercontent.com/2902880/184406678-50091bf1-d289-48fc-af43-56907d61c0c2.png)

2. Tooltip color adapts when switching light/dark mode

![image](https://user-images.githubusercontent.com/2902880/184406709-703072c0-cfe4-446c-aebd-b70cb573f9a7.png)

[2022-08-12 16:59] igruszkauy commented on #403
Verified via https://dev-mdc-web.pantheonsite.io/
Drawer is displayed as expected:
<img width="1437" alt="image" src="https://user-images.githubusercontent.com/2902880/184407578-01bfba0a-fb3f-4d16-a62d-92791552fcdd.png">

[2022-08-12 17:02] igruszkauy commented on #404
Verified via: https://dev-mdc-web.pantheonsite.io/

1. If I click on "Design" from the top app bar, "Design" and "Components" are visually selected but it takes me to "Components". Same happens when selecting other items.
<img width="1146" alt="image" src="https://user-images.githubusercontent.com/2902880/184407837-b161cd86-a398-4a21-b07b-f836a6dad903.png">
Both are also selected in drawer:
<img w

[2022-08-12 17:16] igruszkauy commented on #327
@PatelUtkarsh

1. The list is displayed correctly and the styles are as follows:

<img width="1436" alt="image" src="https://user-images.githubusercontent.com/2902880/184408511-b4a54076-2fd3-4b80-a645-cdb58f1fbba3.png">

2. I can change typographyusing the new tokens from customizer and it works as expected
<img width="981" alt="image" src="https://user-images.githubusercontent.com/2902880/1844099

[2022-08-15 22:27] igruszkauy commented on #324
Verified via local environment and zips provided for M3 version:
M2:
![image](https://user-images.githubusercontent.com/2902880/184726519-4af541a8-fc6a-4f70-82e0-2e7598ed4180.png)

After updating M3:
![image](https://user-images.githubusercontent.com/2902880/184727226-0968f9d1-05e0-453f-a96b-babe8d5c28f4.png)

- I think there is an issue, the component doesn't display correctly on dark mode, the t

[2022-08-15 22:37] igruszkauy commented on #326
Verified via local environment and zips provided for M3 version:
M2: ![image](https://user-images.githubusercontent.com/2902880/184726262-090e1a18-c252-4ac7-9e5d-87ee730d066e.png)

After updating M3:
![image](https://user-images.githubusercontent.com/2902880/184727608-49ded7fc-bf03-465a-8b8a-47787ab4faca.png)

- Shouldn't text label be in color when writing?
![image](https://user-images.githubuser

[2022-08-16 03:59] PatelUtkarsh commented on #327
Hello @igruszkauy, To test block with m3
1. Use the latest zip
2. Generate colour using customizer once
3. Save
4. View block being tested.

[2022-08-16 04:15] PatelUtkarsh commented on #326
Hello @igruszkauy, Currently we don't have it, Should we create a ticket and track it?

[2022-08-16 04:16] PatelUtkarsh commented on #324
Hello @igruszkauy Good catch, I've already created PR for that fix #418, I found the issue while preparing for demo.

[2022-08-16 04:35] PatelUtkarsh opened #422 "Material blocks in customizer is using m2 style"
## Bug Description
Material block in customizer is using m2 style, Should update with either m3 web component or clean up and use m3 styles from plugin.

Code ref: https://github.com/material-components/material-design-for-wordpress/blob/bac60572b80cbf2251556dfcc5b14b453e7e38d7/plugin/assets/src/customizer/material-library.js#L245

## Expected Behaviour

## Steps to reproduce

1. Go to Customizer

[2022-08-16 07:08] PatelUtkarsh opened #424 "M3 Switch"
## Feature description

Update switch component to m3

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

## Implementation brief

*

## QA testing instructions

* Only change is color from m2 to m3 for switch.
* Check if switch is working properly.
* Test switch with setting page: (Only used on these two pa

[2022-08-16 08:58] #316 closed

[2022-08-16 08:59] PatelUtkarsh commented on #404
Hello @igruszkauy, This is because both design and components points to same link. https://dev-mdc-web.pantheonsite.io/blog-2/.

[2022-08-16 09:33] PatelUtkarsh commented on #326
Yes, I think it should change, Let me take a look.

[2022-08-16 09:50] PatelUtkarsh commented on #326
PR created to fix label color on focus: #427

[2022-08-16 10:58] igruszkauy commented on #327
@PatelUtkarsh the components looks good:
M2: ![List](https://user-images.githubusercontent.com/2902880/184863330-1f77bbb6-23ec-4283-a754-4dd3fbcff010.png)
After updating to M3: ![List](https://user-images.githubusercontent.com/2902880/184863354-770105bb-f208-4f2a-ba60-f68c8240e1ae.png)

Just one note: The color palette does not affect this component. Is this as expected?

[2022-08-16 11:04] igruszkauy opened #428 "[M3] Form/Text fields - Add supporting text and icon"
## Feature description

Update the form component/ fields to allow for support text and icons as described in:
![image](https://user-images.githubusercontent.com/2902880/184864590-b869b78c-c486-42d5-9646-b1a94bd67462.png)

Specs: https://m3.material.io/components/text-fields/specs
Figma: https://www.figma.com/file/pHzNW5Ef6zckGSMqQWY0m3/Material-3-Design-Kit-(Community)?node-id=51189%3A6055

-----

[2022-08-16 11:05] igruszkauy commented on #326
Added ticket for support text and icon for text-fields #428

[2022-08-16 11:10] igruszkauy commented on #404
@PatelUtkarsh
Updated the menus links and it's working as expected:
![image](https://user-images.githubusercontent.com/2902880/184865581-dad9383d-5ec3-4b71-a490-cb0b3b844849.png)

[2022-08-16 11:49] PatelUtkarsh commented on #327
Hello @igruszkauy, Can you share m3 list url on dev-mdc-web.pantheonsite.io? I think we should check once with Rody about colors.

[2022-08-16 16:32] igruszkauy commented on #327
@PatelUtkarsh Sharing link https://dev-mdc-web.pantheonsite.io/list/

[2022-08-16 16:47] PatelUtkarsh commented on #327
Hello @rodydavis, Can you review list block color? https://dev-mdc-web.pantheonsite.io/list/

[2022-08-17 18:40] rodydavis commented on #327
Color looks good!

[2022-08-17 18:41] rodydavis commented on #428
Looks good to me!

[2022-08-19 03:30] #424 closed, assigned to nobody

[2022-08-19 03:30] #405 closed

[2022-08-19 05:00] PatelUtkarsh commented on #331
PR is merged and deployed to dev site which fixes the issue mentioned by @felipebochehin87 cc: @igruszkauy.

[2022-08-19 05:03] PatelUtkarsh commented on #405
QA notes:

- This updates CSS of ripple to make sure it uses m3 tokens.
- You can see demo of ripple here: https://material-components.github.io/material-components-web-catalog/#/component/ripple

[2022-08-19 05:03] PatelUtkarsh commented on #424
QA instruction in description.

[2022-08-19 05:05] PatelUtkarsh commented on #396
QA note:

1. In the same post / page, add the following block.
1. Add image card using query loop.
1. Add material card using query loop.
1. Add material gallery.
1. Publish and test frontend.

[2022-08-19 05:07] PatelUtkarsh commented on #402
QA notes :

Checkbox is used on a comment template, for which you will need to view non-logged in post.

Open this in incognito: https://dev-mdc-web.pantheonsite.io/2022/02/01/quia-vel-enim-reprehenderit/

<img width="1030" alt="image" src="https://user-images.githubusercontent.com/5015489/185546854-a4b01cfc-1124-4112-a6e2-47235802a898.png">

[2022-08-19 05:09] PatelUtkarsh commented on #384
When migration happens from m2 to m3 - this will update corner radius value in customizer to reflect default values from m3.

M2 was using 4px radius for all the component, while m3 uses different radius for different components.

[2022-08-19 05:10] PatelUtkarsh commented on #384
To test this, create fresh site using m2 and then use latest m3 zip (activate plugin and theme) and validate corner radius is updated in customizer.

[2022-08-19 11:24] igruszkauy commented on #331
Verified via: https://dev-mdc-web.pantheonsite.io/2717-2/
Image card displays as expected, I can change the styles and change the settings and works as expected:
![image](https://user-images.githubusercontent.com/2902880/185606835-b46cec85-a7e7-42f2-b852-0209ccee9f0c.png)

When I change the source color, it updates the colors used in the cards as expected:
![image](https://user-images.githubuserco

[2022-08-19 11:25] igruszkauy commented on #327
Closing this ticket per Rody's comment above.

[2022-08-19 11:28] igruszkauy commented on #326
Verified via: https://dev-mdc-web.pantheonsite.io/form-test/
Label color on focus working as expected:
![image](https://user-images.githubusercontent.com/2902880/185608874-db30dcad-2595-4bee-bfde-d2fe0b10a92d.png)

[2022-08-19 11:36] igruszkauy commented on #424
Verified via: https://dev-mdc-web.pantheonsite.io/wp-admin/admin.php?page=material-settings-page

Settings page switch updates colors when changing source color
![image](https://user-images.githubusercontent.com/2902880/185609855-aeb6b5b3-6043-42d2-b860-ac1fe6de6ad1.png)

Verified via: https://dev-mdc-web.pantheonsite.io/wp-admin/admin.php?page=material-onboarding-wizard

Onboarding wizard swith u

[2022-08-19 11:42] igruszkauy commented on #324
After adding the tab and going to the page if I go to customizer and change the source color, it still has some issues with the color of the inactive tabs, unless I go and change the dark/light mode

https://dev-mdc-web.pantheonsite.io/tab-test/
https://user-images.githubusercontent.com/2902880/185611046-ec550815-d312-4ea3-911c-4f91df24158c.mov

[2022-08-19 13:06] PatelUtkarsh commented on #324
Good catch @igruszkauy,

This is because when re-generating color on customizer, we are not computing and injecting RGB CSV value which is used at various places. This is not specific to tab, I will create a new PR to fix this.

More details on this comment: https://github.com/material-components/material-design-for-wordpress/issues/330#issuecomment-1188559276

[2022-08-20 12:35] igruszkauy commented on #402
Verified via https://dev-mdc-web.pantheonsite.io/2022/02/01/quia-vel-enim-reprehenderit/ in incognito mode

1. Shows ripple effect: <img width="591" alt="image" src="https://user-images.githubusercontent.com/2902880/185746190-f323f0ee-f89a-4d6e-b46e-f7989eb61924.png">
2. I was not able to verify changing color and typography with M3 tokens. From another tab logged w/user, I changed source color an

[2022-08-20 12:42] igruszkauy commented on #402
Update: testing updating M2>M3 in a local environment it works well and I was able to update both color and typography.
<img width="621" alt="image" src="https://user-images.githubusercontent.com/2902880/185746680-69c251ef-1081-4457-82c8-53dc9501fbe0.png">

Sending ticket to "review" in case there is something we need to review

[2022-08-20 12:43] igruszkauy commented on #405
@PatelUtkarsh verified via:
https://dev-mdc-web.pantheonsite.io/ripple-test/
Looks good, both on list mouseover and search/dark mode/hamburger menu icons

The only two things to note,I am not sure are related:
1. The color in dark mode is very unperceivable:
![image](https://user-images.githubusercontent.com/2902880/185746128-5785f21d-e8d8-4eab-a6b9-3e6fa224d6ae.png)

vs M2
![image](https://user-i

[2022-08-20 12:55] igruszkauy commented on #396
Verified via: https://dev-mdc-web.pantheonsite.io/masonry-style-test/

Issue fixed:
![screencapture-dev-mdc-web-pantheonsite-io-masonry-style-test-2022-08-20-09_53_55](https://user-images.githubusercontent.com/2902880/185747110-ea20befe-1030-4f5e-aa1c-5dd940320cbb.png)

[2022-08-20 13:08] igruszkauy commented on #384
Verified via local environment:
![image](https://user-images.githubusercontent.com/2902880/185747605-822c59a2-e28c-466d-86c9-3f30c42e0d53.png)

[2022-08-23 09:30] PatelUtkarsh commented on #325
Hello @igruszkauy, This is ready for testing.

1. Add m2 material button block using wp.org version.
1. Add new m3 zip from attachment.
1. Verify m2 is migrated to m3.
1. Verify m3 button follows specs as mentioned in ticket desc.

Theme: https://s.utkarshpatel.com/material-design-google-theme-9AW4x.zip
Plugin: https://s.utkarshpatel.com/material-design-plugin-fP0CK.zip

[2022-08-23 12:45] PatelUtkarsh commented on #400
For testing you can use zip from: https://github.com/material-components/material-design-for-wordpress/issues/325#issuecomment-1223808721

[2022-08-23 17:59] PatelUtkarsh commented on #402
1. Yes ripple is expected.
2. This is odd, Should we create new ticket if we see this again and move this ticket forward? @igruszkauy

[2022-08-23 22:00] igruszkauy commented on #400
Verified via local environment updating theme and plugin
1. Updated theme and plugin and verified admin notice is displayed and links to customizer
2. M2 primary color us used to automatically generate M3 colors

[2022-08-24 05:22] PatelUtkarsh commented on #405
Hello @igruszkauy,
1. Fixed list color in #433
2. Button changes are part of #325 - Should be fixed on dev since we merged first version.
<img width="1127" alt="image" src="https://user-images.githubusercontent.com/5015489/186335638-ec28f931-9727-4468-9110-09bb0ef25cb9.png">

[2022-08-24 05:27] PatelUtkarsh commented on #325
FAB specs: https://rodydavis.github.io/material-design-lite/components/fab/

[2022-08-24 05:27] #351 closed

[2022-08-24 05:28] #328 closed

[2022-08-24 05:28] PatelUtkarsh commented on #315
@igruszkauy @emeaguiar Should we close this one?

[2022-08-24 05:28] #329 closed

[2022-08-24 05:29] #396 closed

[2022-08-24 05:29] #400 closed

[2022-08-24 05:29] #384 closed

[2022-08-24 05:29] #366 closed

[2022-08-24 05:30] #350 closed

[2022-08-24 16:35] #354 closed

[2022-08-24 16:50] #347 closed

[2022-08-24 17:17] #397 closed

[2022-08-25 15:14] igruszkauy commented on #397
Verified via: https://dev-mdc-web.pantheonsite.io/2739-2/

When adding query loop block, it shows the icons:
![image](https://user-images.githubusercontent.com/2902880/186702839-ee3581cd-7fe8-4971-849a-39aea36e35d5.png)

When updating the page, it shows the icons:
<img width="865" alt="image" src="https://user-images.githubusercontent.com/2902880/186703077-2e0286b6-6b62-479d-8ec0-c6180fb43dee.png"

[2022-08-25 15:21] #402 closed

[2022-08-25 15:25] igruszkauy commented on #405
@PatelUtkarsh Verified via:https://dev-mdc-web.pantheonsite.io/new-ripple-test/

1. List color seems to be the same
![image](https://user-images.githubusercontent.com/2902880/186705552-8aa0e935-1ad2-4a36-9ad6-7bfef5f39988.png)
2. Button seems to be as expected now
![image](https://user-images.githubusercontent.com/2902880/186705664-2fd64109-48c5-466e-8ca2-d04ecb10016d.png)

[2022-08-25 15:41] igruszkauy commented on #315
Verified via: https://dev-mdc-web.pantheonsite.io/2744-2/

1. Added a paragraph, I can change the color and background using M3 colorshttps://dev-mdc-web.pantheonsite.io/2744-2/
2. When updating source color from customizer, the color and background from paragraph are updated
<img width="1410" alt="image" src="https://user-images.githubusercontent.com/2902880/186709178-eaf90fe6-e32f-4a79-b40e-4fa9

[2022-08-25 15:44] igruszkauy commented on #324
verified via: https://dev-mdc-web.pantheonsite.io/tab-test/

Issue fixed: After adding the tab and going to the page if I go to customizer and change the source color, it still has some issues with the color of the inactive tabs, unless I go and change the dark/light mode

[2022-08-25 15:45] igruszkauy commented on #354
Verified via: https://dev-mdc-web.pantheonsite.io/2744-2/

1. Added a paragraph, I can change the color and background using M3 colorshttps://dev-mdc-web.pantheonsite.io/2744-2/
2. When updating source color from customizer, the color and background from paragraph are updated
<img width="1410" alt="image" src="https://user-images.githubusercontent.com/2902880/186709178-eaf90fe6-e32f-4a79-b40e-4fa9

[2022-08-25 15:48] igruszkauy commented on #315
Closing this ticket as it has already been tested as part of https://github.com/material-components/material-design-for-wordpress/issues/354

[2022-08-25 16:01] PatelUtkarsh commented on #405
1. You can compare dark mode list vs new dark mode, colour is more light. @igruszkauy

Before fix             |  After fix
:-------------------------:|:-------------------------:
<img width="413" alt="image" src="https://user-images.githubusercontent.com/5015489/186714070-a4f8c324-5007-45c3-afc2-7dd934142b04.png"> |  <img width="531" alt="image" src="https://user-images.githubusercontent.com/50154

[2022-08-25 16:32] igruszkauy commented on #405
Sending to "Demo"  as per comment above.

[2022-08-25 16:56] igruszkauy commented on #347
Verified via: https://dev-mdc-web.pantheonsite.io/patterns-3/

Patterns are updated with tokens and displayed as expected. I can change color and typography and see that applied in the patterns as expected.

[2022-08-25 16:58] igruszkauy commented on #347
@PatelUtkarsh this pattern is giving an error:
<img width="1010" alt="image" src="https://user-images.githubusercontent.com/2902880/186725437-e700c75f-81bc-4a51-9b0f-1ee93189d06f.png">

[2022-08-26 08:54] #374 closed

[2022-08-26 12:55] igruszkauy commented on #325
Verified via local environment.
M2:
<img width="381" alt="M2 button" src="https://user-images.githubusercontent.com/2902880/186908144-feabab0a-03e3-4264-8a9e-682da7b4f598.png">

Migrated to M3:
<img width="270" alt="normal outlined" src="https://user-images.githubusercontent.com/2902880/186908212-47d4aae3-0070-4b6c-8547-e50b361e6596.png">

1. Raised button is not using primary color for label:

<i

[2022-08-26 16:13] emeaguiar commented on #325
@igruszkauy I updated the color of "Elevated (raised)" to be the correct one.

I can't reproduce 2, all my buttons were migrated to be large, perhaps your version is not up to date? this was a very recent update (merged early today)

<details>
<summary>M2</summary>

<img width="878" alt="Screen Shot 2022-08-26 at 10 54 00" src="https://user-images.githubusercontent.com/1379732/186944768-b9e69c26-7

[2022-08-26 16:33] igruszkauy commented on #325
@emeaguiar can you send me new zips for plugin and theme to check color and test again the large button? I used the zips @PatelUtkarsh  sent today

[2022-08-27 04:00] #325 closed

[2022-08-29 13:36] PatelUtkarsh commented on #347
Hello @igruszkauy, This mentioned pattern is fixed:
<img width="345" alt="image" src="https://user-images.githubusercontent.com/5015489/187213807-a542dc45-0604-4707-b74c-6124c0c914a5.png">

[2022-08-29 13:36] #315 closed

[2022-08-29 19:13] igruszkauy commented on #347
Verified via: https://dev-mdc-web.pantheonsite.io/patterns-3/
<img width="1401" alt="image" src="https://user-images.githubusercontent.com/2902880/187280128-b1ea387b-c4ff-427b-a00e-ff4788c71114.png">

[2022-08-30 21:13] igruszkauy opened #442 "[M3] Release testing"
## Feature description
Test M3 version for release

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2022-08-31 03:51] PatelUtkarsh commented on #221
This is fixed in latest Gutenberg. Likely in `#38892`

[2022-08-31 03:51] #221 closed

[2022-08-31 13:10] Nikschavan opened #443 "Dark mode causes flash of color change"
## Bug Description

The preference of dark mode is stored in localStorage, this gets executed after the dom is ready and after which the required attribute is added to the body and the CSS kicks in. On slower connections this causes a flash of colors where it first loads with different style and then switches to the preferred style.

This can be emulated on local with fast or slow 3g network throt

[2022-09-01 12:26] igruszkauy commented on #442
Tested via local environment:

M2 Components
![m2](https://user-images.githubusercontent.com/2902880/187912768-15b98c19-4cb9-4dfc-8c17-b7bcfa8a02e6.png)

Migrated to M3 Components
![m3](https://user-images.githubusercontent.com/2902880/187912795-ea6f1e98-ed2e-4f72-9c5f-91e120f40a5c.png)

Query loop M3
![m3 query loop](https://user-images.githubusercontent.com/2902880/187912848-33b022e1-27ae-41d9-b

[2022-09-01 12:54] PatelUtkarsh commented on #443
Thanks @Nikschavan, I've raised #445 to fix this issue. cc: @igruszkauy

[2022-09-01 13:00] igruszkauy commented on #442
M2 HTML before updating
[code]

[2022-09-01 16:53] #443 closed, assigned to emeaguiar

[2022-09-03 07:46] PatelUtkarsh commented on #392
Removing this from m3 milestone, we can pick up this in next minor release. @igruszkauy

[2022-09-07 00:52] igruszkauy opened #449 "[M3] buttons are wrapping text"
## Bug Description

Buttons are wrapping text

## Expected Behaviour

Buttons should not wrap text

## Steps to reproduce

1. Go to https://dev-mdc-web.pantheonsite.io/material-blocks/
2. Check the buttons

## Screenshots

![image](https://user-images.githubusercontent.com/2902880/188764989-0d75f2d5-d086-431d-ab4f-7bef7e9a3fbd.png)

## Additional context

---------------

_Do not alter or remove a

[2022-09-07 00:54] igruszkauy opened #450 "[M3] Card needs additional padding"
## Bug Description

Card components does not have the correct padding

## Expected Behaviour

Card components needs additional padding

## Steps to reproduce

1. Go to https://dev-mdc-web.pantheonsite.io/material-blocks/
2. See Card component

## Screenshots

## Additional context

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

[2022-09-07 03:20] PatelUtkarsh opened #451 "Material dialog block"
## Feature description

See: https://rodydavis.github.io/material-design-lite/components/dialog/

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Add material dialog block.
    - On click of action it should open dialog as provided in link.
    - Dialog should follow m3 design style.

## Implementation

[2022-09-07 11:15] PatelUtkarsh commented on #449
Note: This is edge case when too many buttons are added in the same line, We have added a fix which will allow buttons to wrap in a new line See [91f9dc1](https://github.com/material-components/material-design-for-wordpress/pull/452/commits/91f9dc148162d778ca19f9d951c96a80a69f6da4) and https://github.com/material-components/material-design-for-wordpress/pull/452/commits/1c66609c18cc8e37def12a2bd0d

[2022-09-07 11:36] igruszkauy commented on #449
verified via: https://dev-mdc-web.pantheonsite.io/material-blocks/
![image](https://user-images.githubusercontent.com/2902880/188869057-a893ae99-aaae-4059-974b-1facb27c6914.png)

[2022-09-07 14:17] igruszkauy commented on #450
Verified via: https://dev-mdc-web.pantheonsite.io/material-blocks/
![image](https://user-images.githubusercontent.com/2902880/188901131-93dd7477-59f9-473b-b6a0-2692f36b24a7.png)
![image](https://user-images.githubusercontent.com/2902880/188901276-8ee89580-1260-49d0-9d7b-372077cc31fd.png)
![image](https://user-images.githubusercontent.com/2902880/188901484-6d23e035-9699-4e3a-8f64-c6146c469bc0.png)

[2022-09-07 14:23] #450 closed, assigned to emeaguiar

[2022-09-08 10:09] #449 closed, assigned to nobody